In [236]:
import pandas as pd
import pickle
# read in csv file with SSURGO variables
df_m = pd.read_csv("combined_regular_clean_with_ssurgo_variables.csv")

PATCH_SIZE = 100

In [237]:
# consolidate the pickle files into one
df = []

for i in range(df_m.shape[0] // 500 + 1):
    try:
        df_temp = (pd.read_pickle('NWI_extracted_vars/nwi_extraction_' 
                                  + str(2 * PATCH_SIZE) + "X" 
                                  + str(2 * PATCH_SIZE) + 
                                  '_part' + str(500 * i + 1)))
        df.append(df_temp)

    except:
        break
df = pd.concat(df)

# rename the column to reflect naming convention elsewhere
# THIS IS MANUAL HERE
if PATCH_SIZE == 100:
    df.rename(columns={"nwi_bbox_vars_100" : "nwi_vars_" + str(2 * PATCH_SIZE) + "m"}, inplace=True)
elif PATCH_SIZE == 1250:
    df.rename(columns={"nwi_bbox_vars_1250" : "nwi_vars_" + str(2 * PATCH_SIZE) + "m"}, inplace=True)
df.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'jurisdiction_type', 'da_number',
       'district', 'project_name', 'longitude', 'latitude',
       'date_issued_or_denied', 'rha_determination', 'cwa_determination',
       'rha1', 'rha2', 'cwa1', 'cwa2', 'cwa3', 'cwa4', 'cwa5', 'cwa6', 'cwa7',
       'cwa8', 'cwa9', 'potential_wetland', 'index', 'Index', 'mukey',
       'hydclprs', 'aws025wta', 'drclassdcd', 'nwi_vars_200m'],
      dtype='object')

In [238]:
import numpy as np

# fraction of records that have data
print(np.mean(np.array(df["nwi_vars_" + str(2 * PATCH_SIZE) + "m"].apply(lambda x: x[0]))) )

# records for which data is available (because GEE ingestion is still ongoing)
# THIS IS AN AD-HOC THAT WILL BE DISCARDED
good = df["nwi_vars_" + str(2 * PATCH_SIZE) + "m"].apply(lambda x: x[0]) != 0

df_selected = df[good]
print(df_selected.shape)
df_selected.head(3)

0.27833641151925576
(2176, 30)

,Unnamed: 0,Unnamed: 0.1,jurisdiction_type,da_number,district,project_name,longitude,latitude,date_issued_or_denied,rha_determination,...,cwa8,cwa9,potential_wetland,index,Index,mukey,hydclprs,aws025wta,drclassdcd,nwi_vars_200m
10,10,10,RAPANOS,LRB-1999-01857,Buffalo,"LAKEWOOD, CITY OF",-81.82489,41.47921,04/19/2016,0,...,0,0,0,11,11,287286.0,0.0,5.25,Well drained,"(1, [R5UBH], [Riverine])"
15,15,15,RAPANOS,LRB-2004-00299,Buffalo,Cobblestone Park Development LLC (Formerly: PO...,-81.85690,41.09800,07/21/2016,0,...,0,0,1,16,16,288392.0,10.0,5.24,Somewhat poorly drained,"(2, [R4SBC, PUBGx], [Riverine, Freshwater Pond])"
21,21,21,CWR,LRB-2005-00781,Buffalo,"HOFFMAN, MARK - SOUTH LAKE HUNT CLUB",-83.14360,41.60608,09/22/2015,1,...,0,0,0,22,22,170406.0,100.0,2.87,Very poorly drained,"(7, [R2UBH, PUBG, PUBG, PEM1C, PEM1K, PEM1Fh, ..."

In [239]:
# NWI features within a bbox come as a list of ATTRIBUTES
# create a column with number of such features in the patch

df["nwi_feature_count_" + str(2 * PATCH_SIZE) + "m"] = (df.apply(lambda x: 
                                                                 x["nwi_vars_" 
                                                                   + str(2 * PATCH_SIZE) 
                                                                   + "m"][0], 
                                                                 axis=1))

In [240]:
df.nwi_feature_count_200m[good]

10       1
15       2
21       7
23       1
29       2
        ..
14549    3
14563    1
14612    6
14613    6
14614    1
Name: nwi_feature_count_200m, Length: 2176, dtype: int64

In [241]:
# Create a list of ATTRIBUTES within a bbox
df["nwi_attr_list_" + str(2 * PATCH_SIZE) + "m"] = (df.apply(lambda x: 
                                                             x["nwi_vars_" 
                                                               + str(2 * PATCH_SIZE) 
                                                               + "m"][1], 
                                                             axis=1))

# Create a list of Wetland Types within a bbox
df["nwi_wetland_list_" + str(2 * PATCH_SIZE) + "m"] = (df.apply(lambda x: 
                                                                x["nwi_vars_" 
                                                                  + str(2 * PATCH_SIZE) 
                                                                  + "m"][2], 
                                                                axis=1))

In [242]:
# how does nwi attribute_list look in a record
df.nwi_attr_list_200m[good]#[0:10]

10                                                [R5UBH]
15                                         [R4SBC, PUBGx]
21       [R2UBH, PUBG, PUBG, PEM1C, PEM1K, PEM1Fh, PSS1C]
23                                                [R4SBC]
29                                           [PUBG, PUBG]
                               ...
14549                               [R4SBC, PABGx, PABGx]
14563                                             [R4SBA]
14612          [R4SBC, R4SBC, R4SBC, R4SBC, PFO1A, PSS1C]
14613          [R4SBC, R4SBC, R5UBH, R5UBH, PUBHh, PUBHx]
14614                                            [PEM1Cx]
Name: nwi_attr_list_200m, Length: 2176, dtype: object

In [243]:
# how does nwi_wetland_list look in a record
df.nwi_wetland_list_200m[good]#[0:10]

10                                              [Riverine]
15                             [Riverine, Freshwater Pond]
21       [Riverine, Freshwater Pond, Freshwater Pond, F...
23                                              [Riverine]
29                      [Freshwater Pond, Freshwater Pond]
                               ...
14549         [Riverine, Freshwater Pond, Freshwater Pond]
14563                                           [Riverine]
14612    [Riverine, Riverine, Riverine, Riverine, Fresh...
14613    [Riverine, Riverine, Riverine, Riverine, Fresh...
14614                        [Freshwater Emergent Wetland]
Name: nwi_wetland_list_200m, Length: 2176, dtype: object

In [244]:
# Find all the unique attributes (not used later)
from collections import defaultdict

attr_dict = defaultdict(int)

for i in range(df["nwi_wetland_list_" + str(2 * PATCH_SIZE) + "m"][good].shape[0]):
    for feature in df["nwi_attr_list_" + str(2 * PATCH_SIZE) + "m"][good].iloc[i]:
        attr_dict[feature.lower().replace(" ", "_") ] += 1
print(len(attr_dict.keys()))        
# attr_dict

285

In [245]:
# Find all the unique wetland types for later bookkeeping
from collections import defaultdict

wetland_dict = defaultdict(int)

for i in range(df["nwi_wetland_list_" + str(2 * PATCH_SIZE) + "m"][good].shape[0]):
    for feature in df["nwi_wetland_list_" + str(2 * PATCH_SIZE) + "m"][good].iloc[i]:
        wetland_dict[feature.lower().replace(" ", "_") ] += 1
print(len(wetland_dict.keys()))
wetland_dict.keys()

9

dict_keys(['riverine', 'freshwater_pond', 'freshwater_emergent_wetland', 'freshwater_forested', 'shrub_wetland', 'lake', 'other', 'estuarine_and_marine_wetland', 'estuarine_and_marine_deepwater'])

In [246]:
from collections import OrderedDict

wetland_types = tuple(wetland_dict.keys())

def create_wetland_vector(wetland_list):
    """
    Returns vector of form [1, 1, 2, 1, 1, 0, 0, 0, 0]
    corresponding to wetland_types
    """
    wetland_dict = OrderedDict(zip(wetland_types, [0] * len(wetland_types)))
    for wetland in wetland_list:
        wetland_dict[wetland.lower().replace(" ", "_") ] += 1
    return list(wetland_dict.values())
print(len(wetland_types))
wetland_types

9

('riverine',
 'freshwater_pond',
 'freshwater_emergent_wetland',
 'freshwater_forested',
 'shrub_wetland',
 'lake',
 'other',
 'estuarine_and_marine_wetland',
 'estuarine_and_marine_deepwater')

In [247]:
# delete
alist = wetland_types[0:3] + wetland_types[2:5]
create_wetland_vector(alist)

[1, 1, 2, 1, 1, 0, 0, 0, 0]

In [248]:
# Convert the nwi_wetland_list_XXXXm column into a vector

df["wetland_type_vector_" + str(2 * PATCH_SIZE) + "m"] = (df.apply(lambda x: 
                                                                  create_wetland_vector(x["nwi_wetland_list_" 
                                                                                           + str(2 * PATCH_SIZE) 
                                                                                           + "m"]), 
                                                                  axis=1))

In [249]:
# The wetland vector is then stripped into individual columns

for count, wetland in enumerate(wetland_types):
    df["nwi_" + str(wetland) + "_" + str(2 * PATCH_SIZE) + "m"] = (df.apply(lambda x: 
                                                                                    x["wetland_type_vector_" 
                                                                                      + str(2 * PATCH_SIZE) 
                                                                                      + "m"][count],
                                                                                   axis=1))

In [250]:
df.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'jurisdiction_type', 'da_number',
       'district', 'project_name', 'longitude', 'latitude',
       'date_issued_or_denied', 'rha_determination', 'cwa_determination',
       'rha1', 'rha2', 'cwa1', 'cwa2', 'cwa3', 'cwa4', 'cwa5', 'cwa6', 'cwa7',
       'cwa8', 'cwa9', 'potential_wetland', 'index', 'Index', 'mukey',
       'hydclprs', 'aws025wta', 'drclassdcd', 'nwi_vars_200m',
       'nwi_feature_count_200m', 'nwi_attr_list_200m', 'nwi_wetland_list_200m',
       'wetland_type_vector_200m', 'nwi_riverine_200m',
       'nwi_freshwater_pond_200m', 'nwi_freshwater_emergent_wetland_200m',
       'nwi_freshwater_forested_200m', 'nwi_shrub_wetland_200m',
       'nwi_lake_200m', 'nwi_other_200m',
       'nwi_estuarine_and_marine_wetland_200m',
       'nwi_estuarine_and_marine_deepwater_200m'],
      dtype='object')

In [251]:
# just looking at the newly created columns
df[good].head(3).loc[:, "wetland_type_vector_" + str(2 * PATCH_SIZE) + "m" : "nwi_estuarine_and_marine_deepwater_" + str(2 * PATCH_SIZE) + "m"]

,wetland_type_vector_200m,nwi_riverine_200m,nwi_freshwater_pond_200m,nwi_freshwater_emergent_wetland_200m,nwi_freshwater_forested_200m,nwi_shrub_wetland_200m,nwi_lake_200m,nwi_other_200m,nwi_estuarine_and_marine_wetland_200m,nwi_estuarine_and_marine_deepwater_200m
10,"[1, 0, 0, 0, 0, 0, 0, 0, 0]",1,0,0,0,0,0,0,0,0
15,"[1, 1, 0, 0, 0, 0, 0, 0, 0]",1,1,0,0,0,0,0,0,0
21,"[1, 2, 3, 1, 1, 0, 0, 0, 0]",1,2,3,1,1,0,0,0,0

# NWI Code Definitions

## Glean out features from attributes using the NWI Code Defn book

In [252]:
df_attr = pd.read_csv("NWI_Code_Definitions.csv")

In [253]:
df_attr.shape

(5419, 24)

In [254]:
df_attr.columns

Index(['ATTRIBUTE', 'SYSTEM_NAME', 'SYSTEM_DEFINITION', 'SUBSYSTEM_NAME',
       'SUBSYSTEM_DEFINITION', 'CLASS_NAME', 'CLASS_DEFINITION',
       'SUBCLASS_NAME', 'SUBCLASS_DEFINITION', 'SPLIT_CLASS_NAME',
       'SPLIT_CLASS_DEFINITION', 'SPLIT_SUBCLASS_NAME',
       'SPLIT_SUBCLASS_DEFINITION', 'WATER_REGIME_NAME',
       'WATER_REGIME_SUBGROUP', 'WATER_REGIME_DEFINITION',
       'FIRST_MODIFIER_NAME', 'FIRST_MODIFIER_GROUP',
       'FIRST_MODIFIER_SUBGROUP', 'FIRST_MODIFIER_DEFINITION',
       'SECOND_MODIFIER_NAME', 'SECOND_MODIFIER_GROUP',
       'SECOND_MODIFIER_SUBGROUP', 'SECOND_MODIFIER_DEFINITION'],
      dtype='object')

In [255]:
# ATTRIBUTE column has all unique entries (some with "/" which may not be used)
df_attr.ATTRIBUTE.value_counts()

PEM1/SS6C     1
L2US5Jh       1
E2SS3Nh6      1
PSS1/EM1D     1
PSS1/4Db      1
             ..
PSS3/4Ex      1
PEM5/1R       1
PUB/SS6F      1
PSS3/FO4S     1
E2SS3/US3N    1
Name: ATTRIBUTE, Length: 5419, dtype: int64

In [256]:
def find_feature(attribute="L1UBHh"):
    """
    
    input: attribute observed in the GEE NWI bbox
    output: corresponding row in the NWI Code Definition book
    """
    return (df_attr[df_attr.ATTRIBUTE == attribute].loc[:, ["ATTRIBUTE", 
                                                            "SYSTEM_NAME",
                                                            "CLASS_NAME",
                                                            "SUBCLASS_NAME",
                                                            "SPLIT_CLASS_NAME",
                                                            "WATER_REGIME_NAME",
                                                            "FIRST_MODIFIER_NAME",
                                                            "FIRST_MODIFIER_SUBGROUP",
                                                            "SECOND_MODIFIER_NAME",
                                                            "SECOND_MODIFIER_DEFINITION"]])

find_feature()

,ATTRIBUTE,SYSTEM_NAME,CLASS_NAME,SUBCLASS_NAME,SPLIT_CLASS_NAME,WATER_REGIME_NAME,FIRST_MODIFIER_NAME,FIRST_MODIFIER_SUBGROUP,SECOND_MODIFIER_NAME,SECOND_MODIFIER_DEFINITION
685,L1UBHh,Lacustrine,Unconsolidated Bottom,NaN,NaN,Permanently Flooded,Diked/Impounded,NaN,NaN,NaN

In [257]:
# df_attr.SPLIT_SUBCLASS_NAME.value_counts()

In [258]:
# find fraction of nan's
attribute_features = (["ATTRIBUTE","SYSTEM_NAME","SUBSYSTEM_NAME", "CLASS_NAME",
             "SUBCLASS_NAME", "SPLIT_CLASS_NAME", "SPLIT_SUBCLASS_NAME", 
             "WATER_REGIME_NAME", "WATER_REGIME_SUBGROUP", "FIRST_MODIFIER_NAME", 
             "FIRST_MODIFIER_SUBGROUP", "SECOND_MODIFIER_NAME", 
             "SECOND_MODIFIER_DEFINITION"])

for feature in attribute_features:
    print(feature, np.mean(df_attr[feature].isna()))

ATTRIBUTE 0.0
SYSTEM_NAME 0.0
SUBSYSTEM_NAME 0.7422033585532386
CLASS_NAME 0.0009226794611551947
SUBCLASS_NAME 0.20114412253183245
SPLIT_CLASS_NAME 0.35929138217383283
SPLIT_SUBCLASS_NAME 0.4469459309835763
WATER_REGIME_NAME 0.002029894814541428
WATER_REGIME_SUBGROUP 0.002029894814541428
FIRST_MODIFIER_NAME 0.36482745894076396
FIRST_MODIFIER_SUBGROUP 0.9512825244510057
SECOND_MODIFIER_NAME 0.9675216829673371
SECOND_MODIFIER_DEFINITION 0.9675216829673371

In [259]:
# impute not_available category so available and not-available can be OHE
df_attr.fillna("zzz", inplace=True)

# verify no more nans left
for feature in attribute_features:
    print(feature, np.mean(df_attr[feature].isna()))

ATTRIBUTE 0.0
SYSTEM_NAME 0.0
SUBSYSTEM_NAME 0.0
CLASS_NAME 0.0
SUBCLASS_NAME 0.0
SPLIT_CLASS_NAME 0.0
SPLIT_SUBCLASS_NAME 0.0
WATER_REGIME_NAME 0.0
WATER_REGIME_SUBGROUP 0.0
FIRST_MODIFIER_NAME 0.0
FIRST_MODIFIER_SUBGROUP 0.0
SECOND_MODIFIER_NAME 0.0
SECOND_MODIFIER_DEFINITION 0.0

In [260]:
"""attribute_features = (["ATTRIBUTE","SYSTEM_NAME","SUBSYSTEM_NAME", "CLASS_NAME",
             "SUBCLASS_NAME", "SPLIT_CLASS_NAME", "SPLIT_SUBCLASS_NAME", 
             "WATER_REGIME_NAME", "WATER_REGIME_SUBGROUP", "FIRST_MODIFIER_NAME", 
             "FIRST_MODIFIER_SUBGROUP", "SECOND_MODIFIER_NAME", 
             "SECOND_MODIFIER_DEFINITION"])
QAZAAZAA"""
attribute_features = (["SYSTEM_NAME","SUBSYSTEM_NAME", "CLASS_NAME",
             "SUBCLASS_NAME", "SPLIT_CLASS_NAME", "SPLIT_SUBCLASS_NAME", 
             "WATER_REGIME_NAME", "WATER_REGIME_SUBGROUP", "FIRST_MODIFIER_NAME"])


for feature in attribute_features:
    print(feature, ":", len(df_attr[feature].value_counts()))
#     print(df_attr[feature].value_counts())
    print(df_attr[feature].unique())
    print("_" * 100)

SYSTEM_NAME : 5
['Estuarine' 'Lacustrine' 'Marine' 'Palustrine' 'Riverine']
____________________________________________________________________________________________________
SUBSYSTEM_NAME : 11
['Subtidal' 'Intertidal' 'zzz' 'Limnetic' 'Littoral' 'INTERTIDAL' 'Tidal'
 'Lower Perennial' 'Upper Perennial' 'Intermittent' 'Unknown Perennial']
____________________________________________________________________________________________________
CLASS_NAME : 12
['Aquatic Bed' 'Rock Bottom' 'Reef' 'Unconsolidated Bottom' 'Emergent'
 'Forested' 'Rocky Shore' 'Streambed' 'Scrub-Shrub' 'Unconsolidated Shore'
 'zzz' 'Moss-Lichen']
____________________________________________________________________________________________________
SUBCLASS_NAME : 26
['zzz' 'Algal' 'Rooted Vascular' 'Floating Vascular' 'Rubble' 'Mollusk'
 'Cobble-Gravel' 'Sand' 'Mud' 'Organic' 'Persistent' 'Non persistent'
 'Phragmites australis' 'Broad-Leaved Deciduous' 'Broad-Leaved Evergreen'
 'Needle-Leaved Evergreen' 'Dead' 'Evergreen' 'Bedrock'
 'Needle-Leaved Deciduous' 'Deciduous' 'Aquatic Moss' 'Vegetated' 'Coral'
 'Moss' 'Lichen']
____________________________________________________________________________________________________
SPLIT_CLASS_NAME : 10
['Unconsolidated Bottom' 'zzz' 'Reef' 'Aquatic Bed' 'Rocky Shore'
 'Unconsolidated Shore' 'Emergent' 'Forested' 'Scrub-Shrub' 'Moss-Lichen']
____________________________________________________________________________________________________
SPLIT_SUBCLASS_NAME : 26
['zzz' 'Sand' 'Rooted Vascular' 'Algal' 'Mud' 'Persistent' 'Bedrock'
 'Cobble-Gravel' 'Phragmites australis' 'Broad-Leaved Deciduous'
 'Broad-Leaved Evergreen' 'Needle-Leaved Evergreen' 'Dead'
 'Needle-Leaved Deciduous' 'Evergreen' 'Non persistent' 'Mollusk'
 'Floating Vascular' 'Coral' 'Rubble' 'Deciduous' 'Organic' 'Aquatic Moss'
 'Moss' 'Lichen' 'Vegetated']
____________________________________________________________________________________________________
WATER_REGIME_NAME : 19
['Subtidal' 'Irregularly Exposed' 'Regularly Flooded'
 'Irregularly Flooded' 'zzz' 'Permanently Flooded'
 'Permanently Flooded-Tidal' 'Intermittently Exposed'
 'Artificially Flooded' 'Semipermanently Flooded'
 'Semipermanently Flooded-Tidal' 'Seasonally Flooded' 'Temporary Flooded'
 'Intermittently Flooded' 'Seasonally Flooded-Tidal'
 'Seasonally Saturated' 'Seasonally Flooded/Saturated'
 'Continuously  Saturated' 'Temporary Flooded-Tidal']
____________________________________________________________________________________________________
WATER_REGIME_SUBGROUP : 4
['Saltwater Tidal' 'zzz' 'Nontidal' 'Freshwater Tidal']
____________________________________________________________________________________________________
FIRST_MODIFIER_NAME : 19
['zzz' 'Excavated' 'Oligohaline' 'Diked/Impounded' 'Mesohaline'
 'Polyhaline' 'Mixohaline/Mixosaline (Brackish)' 'Artificial Substrate'
 'Partially Drained/Ditched' 'Spoil' 'Organic' 'Beaver'
 'Euthaline/Eusaline' 'Managed' 'Hyperhaline/Hypersaline' 'Farmed'
 'Alkaline' 'Acid' 'Mineral']
____________________________________________________________________________________________________

In [261]:
# attribute_features = (["ATTRIBUTE","SYSTEM_NAME"])

def feature_vector(df_attr=df_attr, feature="SYSTEM_NAME"):
    """
    
    Returns the vector for each feature of an attribute
    
    input: NWI Code Definition as df_attr to find unique values for a featurE & feature name 
    output: feature vector for that (attribute, feature) set
    
    """
    # find unique values for a give feature
    feature_list = list(df_attr[feature].unique())
    # sort
    feature_list.sort()
    # lower case and replace spaces by _
    feature_list = [feature.lower().replace(" ", "_") for feature in feature_list]
    
    # create a dict where the order is maintained. Initialize values to 0
    feature_dict = OrderedDict(zip(feature_list, [0] * len(feature_list)))
    
    # you would like to actually create a new column with this frozen feature_list
    df_attr[feature + "_" + "uniques_list"] = df_attr.apply(lambda x: feature_list, axis=1)
    return df_attr

In [262]:
# create the columns for each of the attribute_features    
for feature in attribute_features:
    feature_vector(feature=feature)
    
# note the _uniques_list columns created
df_attr.columns

Index(['ATTRIBUTE', 'SYSTEM_NAME', 'SYSTEM_DEFINITION', 'SUBSYSTEM_NAME',
       'SUBSYSTEM_DEFINITION', 'CLASS_NAME', 'CLASS_DEFINITION',
       'SUBCLASS_NAME', 'SUBCLASS_DEFINITION', 'SPLIT_CLASS_NAME',
       'SPLIT_CLASS_DEFINITION', 'SPLIT_SUBCLASS_NAME',
       'SPLIT_SUBCLASS_DEFINITION', 'WATER_REGIME_NAME',
       'WATER_REGIME_SUBGROUP', 'WATER_REGIME_DEFINITION',
       'FIRST_MODIFIER_NAME', 'FIRST_MODIFIER_GROUP',
       'FIRST_MODIFIER_SUBGROUP', 'FIRST_MODIFIER_DEFINITION',
       'SECOND_MODIFIER_NAME', 'SECOND_MODIFIER_GROUP',
       'SECOND_MODIFIER_SUBGROUP', 'SECOND_MODIFIER_DEFINITION',
       'SYSTEM_NAME_uniques_list', 'SUBSYSTEM_NAME_uniques_list',
       'CLASS_NAME_uniques_list', 'SUBCLASS_NAME_uniques_list',
       'SPLIT_CLASS_NAME_uniques_list', 'SPLIT_SUBCLASS_NAME_uniques_list',
       'WATER_REGIME_NAME_uniques_list', 'WATER_REGIME_SUBGROUP_uniques_list',
       'FIRST_MODIFIER_NAME_uniques_list'],
      dtype='object')

# Creating NWI attribute features

In [263]:
# read a uniques column
df_attr.SYSTEM_NAME_uniques_list[0]

['estuarine', 'lacustrine', 'marine', 'palustrine', 'riverine']

In [264]:
# read a uniques column
df_attr.WATER_REGIME_NAME_uniques_list[0]

['artificially_flooded',
 'continuously__saturated',
 'intermittently_exposed',
 'intermittently_flooded',
 'irregularly_exposed',
 'irregularly_flooded',
 'permanently_flooded',
 'permanently_flooded-tidal',
 'regularly_flooded',
 'seasonally_flooded',
 'seasonally_flooded-tidal',
 'seasonally_flooded/saturated',
 'seasonally_saturated',
 'semipermanently_flooded',
 'semipermanently_flooded-tidal',
 'subtidal',
 'temporary_flooded',
 'temporary_flooded-tidal',
 'zzz']

In [265]:
# for an attribute and feature find the value
# the [0] pulls out the entry from pandas Series
find_feature("R4SBC")["CLASS_NAME"].values[0]

'Streambed'

In [266]:
find_feature("PABGx")["CLASS_NAME"].values[0]

'Aquatic Bed'

In [267]:
find_feature("R4SBC")["SYSTEM_NAME"].values[0]

'Riverine'

In [268]:
def create_attr_feature_vector(attr_list=["R4SBC", "PABGx", "PABGx"], attr_feature="SYSTEM_NAME"):
    """
    Returns vector of form [1, 1, 2, 1, 1, 0, 0, 0, 0]
    corresponding to attr feature
    
    attr_list: is of the form ["R4SBC", "PUBGx"]
    attr_feature is of the form "CLASS_NAME"
    
    output: attr feature vector
    """
    feature_uniques_dict = (OrderedDict(zip(df_attr[attr_feature + "_uniques_list"][0], 
                                    [0] * len(df_attr[attr_feature + "_uniques_list"][0]))))
    for attr in attr_list:
        # its possible to not find an entry in Code book that matches ATTRIBUTE from GEE
        # as such handle the empty list returned
        try:
            feature = find_feature(attr)[attr_feature].values[0]
            feature = feature.lower().replace(" ", "_") 
            feature_uniques_dict[feature] += 1
        except Exception as e:
            pass
    return list(feature_uniques_dict.values())

create_attr_feature_vector()

[0, 0, 0, 2, 1]

In [269]:
create_attr_feature_vector(attr_feature="CLASS_NAME")

[2, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0]

In [270]:
# create feature vectors for the chosen attribute features
for attr_feature in attribute_features:
    print(attr_feature)
    df[attr_feature + "_vector_" + str(2 * PATCH_SIZE) + "m"] = (df.apply(lambda x: 
                                                                    create_attr_feature_vector(
                                                                        x["nwi_attr_list_"  
                                                                          + str(2 * PATCH_SIZE) + "m"], 
                                                                        attr_feature=attr_feature), 
                                                           axis=1))

SYSTEM_NAME
SUBSYSTEM_NAME
CLASS_NAME
SUBCLASS_NAME
SPLIT_CLASS_NAME
SPLIT_SUBCLASS_NAME
WATER_REGIME_NAME
WATER_REGIME_SUBGROUP
FIRST_MODIFIER_NAME

In [271]:
df.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'jurisdiction_type', 'da_number',
       'district', 'project_name', 'longitude', 'latitude',
       'date_issued_or_denied', 'rha_determination', 'cwa_determination',
       'rha1', 'rha2', 'cwa1', 'cwa2', 'cwa3', 'cwa4', 'cwa5', 'cwa6', 'cwa7',
       'cwa8', 'cwa9', 'potential_wetland', 'index', 'Index', 'mukey',
       'hydclprs', 'aws025wta', 'drclassdcd', 'nwi_vars_200m',
       'nwi_feature_count_200m', 'nwi_attr_list_200m', 'nwi_wetland_list_200m',
       'wetland_type_vector_200m', 'nwi_riverine_200m',
       'nwi_freshwater_pond_200m', 'nwi_freshwater_emergent_wetland_200m',
       'nwi_freshwater_forested_200m', 'nwi_shrub_wetland_200m',
       'nwi_lake_200m', 'nwi_other_200m',
       'nwi_estuarine_and_marine_wetland_200m',
       'nwi_estuarine_and_marine_deepwater_200m', 'SYSTEM_NAME_vector_200m',
       'SUBSYSTEM_NAME_vector_200m', 'CLASS_NAME_vector_200m',
       'SUBCLASS_NAME_vector_200m', 'SPLIT_CLASS_NAME_vector_200m',
       'SPLIT_SUBCLASS_NAME_vector_200m', 'WATER_REGIME_NAME_vector_200m',
       'WATER_REGIME_SUBGROUP_vector_200m', 'FIRST_MODIFIER_NAME_vector_200m'],
      dtype='object')

In [272]:
df.SYSTEM_NAME_vector_200m[good]

10       [0, 0, 0, 0, 1]
15       [0, 0, 0, 1, 1]
21       [0, 0, 0, 6, 1]
23       [0, 0, 0, 0, 1]
29       [0, 0, 0, 2, 0]
              ...
14549    [0, 0, 0, 2, 1]
14563    [0, 0, 0, 0, 1]
14612    [0, 0, 0, 2, 4]
14613    [0, 0, 0, 2, 4]
14614    [0, 0, 0, 1, 0]
Name: SYSTEM_NAME_vector_200m, Length: 2176, dtype: object

In [273]:
df_attr.SYSTEM_NAME_uniques_list[0]

['estuarine', 'lacustrine', 'marine', 'palustrine', 'riverine']

In [274]:
# # The vectors are then stripped into individual columns

# vector_list = ['SYSTEM_NAME_vector_' + str(2 * PATCH_SIZE) + "m",
#        'SUBSYSTEM_NAME_vector_' + str(2 * PATCH_SIZE) + "m", 'CLASS_NAME_vector_' + str(2 * PATCH_SIZE) + "m",
#        'SUBCLASS_NAME_vector_' + str(2 * PATCH_SIZE) + "m", 'SPLIT_CLASS_NAME_vector_' + str(2 * PATCH_SIZE) + "m",
#        'SPLIT_SUBCLASS_NAME_vector_' + str(2 * PATCH_SIZE) + "m", 'WATER_REGIME_NAME_vector_' + str(2 * PATCH_SIZE) + "m",
#        'WATER_REGIME_SUBGROUP_vector_' + str(2 * PATCH_SIZE) + "m", 'FIRST_MODIFIER_NAME_vector_' + str(2 * PATCH_SIZE) + "m"]


# # for [estuarine, lacustrine etc] in vector_list:
# #     for j, estuarine in enumerate[estuarine, lacustrine etc]:
# #         df[esturaine_200m] = df.apply(x: x.[estuarine, lacustrine etc][j], axis=1)

# for i, vector in enumerate(vector_list):        
#     for j, feature_count in enumerate(vector):
#         feature_name = df_attr[attribute_features[i] + "_uniques_list"][0][j]
#         df["nwi_" + feature_name + "_" + str(2 * PATCH_SIZE) + "m"] = (df.apply(lambda x: x[attribute_features[i] + "_vector_"  + str(2 * PATCH_SIZE) + "m"][j], axis=1))
# #         df[vector + "_" + value] = df.apply()

In [275]:
df.SYSTEM_NAME_vector_200m[0]

[0, 0, 0, 0, 0]

In [276]:
df_attr.SYSTEM_NAME_uniques_list[0]

['estuarine', 'lacustrine', 'marine', 'palustrine', 'riverine']

In [277]:
print(*vector_list, sep="\n")

SYSTEM_NAME_vector_200m
SUBSYSTEM_NAME_vector_200m
CLASS_NAME_vector_200m
SUBCLASS_NAME_vector_200m
SPLIT_CLASS_NAME_vector_200m
SPLIT_SUBCLASS_NAME_vector_200m
WATER_REGIME_NAME_vector_200m
WATER_REGIME_SUBGROUP_vector_200m
FIRST_MODIFIER_NAME_vector_200m

In [278]:
df.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'jurisdiction_type', 'da_number',
       'district', 'project_name', 'longitude', 'latitude',
       'date_issued_or_denied', 'rha_determination', 'cwa_determination',
       'rha1', 'rha2', 'cwa1', 'cwa2', 'cwa3', 'cwa4', 'cwa5', 'cwa6', 'cwa7',
       'cwa8', 'cwa9', 'potential_wetland', 'index', 'Index', 'mukey',
       'hydclprs', 'aws025wta', 'drclassdcd', 'nwi_vars_200m',
       'nwi_feature_count_200m', 'nwi_attr_list_200m', 'nwi_wetland_list_200m',
       'wetland_type_vector_200m', 'nwi_riverine_200m',
       'nwi_freshwater_pond_200m', 'nwi_freshwater_emergent_wetland_200m',
       'nwi_freshwater_forested_200m', 'nwi_shrub_wetland_200m',
       'nwi_lake_200m', 'nwi_other_200m',
       'nwi_estuarine_and_marine_wetland_200m',
       'nwi_estuarine_and_marine_deepwater_200m', 'SYSTEM_NAME_vector_200m',
       'SUBSYSTEM_NAME_vector_200m', 'CLASS_NAME_vector_200m',
       'SUBCLASS_NAME_vector_200m', 'SPLIT_CLASS_NAME_vector_200m',
       'SPLIT_SUBCLASS_NAME_vector_200m', 'WATER_REGIME_NAME_vector_200m',
       'WATER_REGIME_SUBGROUP_vector_200m', 'FIRST_MODIFIER_NAME_vector_200m'],
      dtype='object')

In [281]:
df.FIRST_MODIFIER_NAME_vector_200m[good]

10       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
15       [0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, ...
21       [0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
23       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
29       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
                               ...
14549    [0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, ...
14563    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
14612    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
14613    [0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, ...
14614    [0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, ...
Name: FIRST_MODIFIER_NAME_vector_200m, Length: 2176, dtype: object

In [282]:
print(*attribute_features, sep="\n")

SYSTEM_NAME
SUBSYSTEM_NAME
CLASS_NAME
SUBCLASS_NAME
SPLIT_CLASS_NAME
SPLIT_SUBCLASS_NAME
WATER_REGIME_NAME
WATER_REGIME_SUBGROUP
FIRST_MODIFIER_NAME

In [286]:
df.nwi_riverine_200m[good]

10       1
15       1
21       1
23       1
29       0
        ..
14549    1
14563    1
14612    4
14613    4
14614    0
Name: nwi_riverine_200m, Length: 2176, dtype: int64

In [287]:
# working
for count, feature in enumerate(df_attr.SYSTEM_NAME_uniques_list[0]):
    df["nwi_" + str(feature) + "_" + str(2 * PATCH_SIZE) + "m"] = (df.apply(lambda x: 
                                                                                    x["SYSTEM_NAME_vector_" 
                                                                                      + str(2 * PATCH_SIZE) 
                                                                                      + "m"][count],
                                                                                   axis=1))

In [290]:
df.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'jurisdiction_type', 'da_number',
       'district', 'project_name', 'longitude', 'latitude',
       'date_issued_or_denied', 'rha_determination', 'cwa_determination',
       'rha1', 'rha2', 'cwa1', 'cwa2', 'cwa3', 'cwa4', 'cwa5', 'cwa6', 'cwa7',
       'cwa8', 'cwa9', 'potential_wetland', 'index', 'Index', 'mukey',
       'hydclprs', 'aws025wta', 'drclassdcd', 'nwi_vars_200m',
       'nwi_feature_count_200m', 'nwi_attr_list_200m', 'nwi_wetland_list_200m',
       'wetland_type_vector_200m', 'nwi_riverine_200m',
       'nwi_freshwater_pond_200m', 'nwi_freshwater_emergent_wetland_200m',
       'nwi_freshwater_forested_200m', 'nwi_shrub_wetland_200m',
       'nwi_lake_200m', 'nwi_other_200m',
       'nwi_estuarine_and_marine_wetland_200m',
       'nwi_estuarine_and_marine_deepwater_200m', 'SYSTEM_NAME_vector_200m',
       'SUBSYSTEM_NAME_vector_200m', 'CLASS_NAME_vector_200m',
       'SUBCLASS_NAME_vector_200m', 'SPLIT_CLASS_NAME_vector_200m',
       'SPLIT_SUBCLASS_NAME_vector_200m', 'WATER_REGIME_NAME_vector_200m',
       'WATER_REGIME_SUBGROUP_vector_200m', 'FIRST_MODIFIER_NAME_vector_200m',
       'nwi_estuarine_200m', 'nwi_lacustrine_200m', 'nwi_marine_200m',
       'nwi_palustrine_200m'],
      dtype='object')

In [299]:
np.mean(np.array(df.nwi_palustrine_200m[good]))

0.8924632352941176

In [300]:
# The wetland vector is then stripped into individual columns

# SYSTEM_NAME_vector_200m

def handle_empty_list(x, count):
    try:
        return x[count]
    except:
        return np.nan


for attr_feature in attribute_features:
    print(attr_feature)
    for count, feature in enumerate(df_attr[attr_feature + "_uniques_list"][0]):
        df["nwi_" + attr_feature + "_" + str(feature) + "_" + str(2 * PATCH_SIZE) + "m"] = (df.apply(lambda x: 
                                                                                        handle_empty_list(x[attr_feature + "_vector_" 
                                                                                          + str(2 * PATCH_SIZE) 
                                                                                          + "m"], count),
                                                                                       axis=1))

SYSTEM_NAME
SUBSYSTEM_NAME
CLASS_NAME
SUBCLASS_NAME
SPLIT_CLASS_NAME
SPLIT_SUBCLASS_NAME
WATER_REGIME_NAME
WATER_REGIME_SUBGROUP
FIRST_MODIFIER_NAME

In [ ]:
# # The wetland vector is then stripped into individual columns

# # SYSTEM_NAME_vector_200m

# def handle_empty_list(x, count):
#     try:
#         return x[count]
#     except:
#         return np.nan


# for attr_feature in attribute_features:
#     print(attr_feature)
#     for count, feature in enumerate(df_attr[attr_feature + "_uniques_list"][0]):
#         df["nwi_" + str(feature) + "_" + str(2 * PATCH_SIZE) + "m"] = (df.apply(lambda x: 
#                                                                                         x[attr_feature + "_vector_" 
#                                                                                           + str(2 * PATCH_SIZE) 
#                                                                                           + "m"][count],
#                                                                                        axis=1))

In [226]:
print(*df.columns, sep="\n")

Unnamed: 0
Unnamed: 0.1
jurisdiction_type
da_number
district
project_name
longitude
latitude
date_issued_or_denied
rha_determination
cwa_determination
rha1
rha2
cwa1
cwa2
cwa3
cwa4
cwa5
cwa6
cwa7
cwa8
cwa9
potential_wetland
index
Index
mukey
hydclprs
aws025wta
drclassdcd
nwi_vars_200m
nwi_feature_count_200m
nwi_attr_list_200m
nwi_wetland_list_200m
wetland_type_vector_200m
nwi_riverine_200m
nwi_freshwater_pond_200m
nwi_freshwater_emergent_wetland_200m
nwi_freshwater_forested_200m
nwi_shrub_wetland_200m
nwi_lake_200m
nwi_other_200m
nwi_estuarine_and_marine_wetland_200m
nwi_estuarine_and_marine_deepwater_200m
SYSTEM_NAME_vector_200m
SUBSYSTEM_NAME_vector_200m
CLASS_NAME_vector_200m
SUBCLASS_NAME_vector_200m
SPLIT_CLASS_NAME_vector_200m
SPLIT_SUBCLASS_NAME_vector_200m
WATER_REGIME_NAME_vector_200m
WATER_REGIME_SUBGROUP_vector_200m
FIRST_MODIFIER_NAME_vector_200m
nwi_estuarine_200m
nwi_lacustrine_200m
nwi_marine_200m
nwi_palustrine_200m
nwi_SYSTEM_NAME_estuarine_200m
nwi_SYSTEM_NAME_lacustrine_200m
nwi_SYSTEM_NAME_marine_200m
nwi_SYSTEM_NAME_palustrine_200m
nwi_SYSTEM_NAME_riverine_200m
nwi_SUBSYSTEM_NAME_intertidal_200m
nwi_SUBSYSTEM_NAME_intermittent_200m
nwi_SUBSYSTEM_NAME_limnetic_200m
nwi_SUBSYSTEM_NAME_littoral_200m
nwi_SUBSYSTEM_NAME_lower_perennial_200m
nwi_SUBSYSTEM_NAME_subtidal_200m
nwi_SUBSYSTEM_NAME_tidal_200m
nwi_SUBSYSTEM_NAME_unknown_perennial_200m
nwi_SUBSYSTEM_NAME_upper_perennial_200m
nwi_SUBSYSTEM_NAME_zzz_200m
nwi_CLASS_NAME_aquatic_bed_200m
nwi_CLASS_NAME_emergent_200m
nwi_CLASS_NAME_forested_200m
nwi_CLASS_NAME_moss-lichen_200m
nwi_CLASS_NAME_reef_200m
nwi_CLASS_NAME_rock_bottom_200m
nwi_CLASS_NAME_rocky_shore_200m
nwi_CLASS_NAME_scrub-shrub_200m
nwi_CLASS_NAME_streambed_200m
nwi_CLASS_NAME_unconsolidated_bottom_200m
nwi_CLASS_NAME_unconsolidated_shore_200m
nwi_CLASS_NAME_zzz_200m
nwi_SUBCLASS_NAME_algal_200m
nwi_SUBCLASS_NAME_aquatic_moss_200m
nwi_SUBCLASS_NAME_bedrock_200m
nwi_SUBCLASS_NAME_broad-leaved_deciduous_200m
nwi_SUBCLASS_NAME_broad-leaved_evergreen_200m
nwi_SUBCLASS_NAME_cobble-gravel_200m
nwi_SUBCLASS_NAME_coral_200m
nwi_SUBCLASS_NAME_dead_200m
nwi_SUBCLASS_NAME_deciduous_200m
nwi_SUBCLASS_NAME_evergreen_200m
nwi_SUBCLASS_NAME_floating_vascular_200m
nwi_SUBCLASS_NAME_lichen_200m
nwi_SUBCLASS_NAME_mollusk_200m
nwi_SUBCLASS_NAME_moss_200m
nwi_SUBCLASS_NAME_mud_200m
nwi_SUBCLASS_NAME_needle-leaved_deciduous_200m
nwi_SUBCLASS_NAME_needle-leaved_evergreen_200m
nwi_SUBCLASS_NAME_non_persistent_200m
nwi_SUBCLASS_NAME_organic_200m
nwi_SUBCLASS_NAME_persistent_200m
nwi_SUBCLASS_NAME_phragmites_australis_200m
nwi_SUBCLASS_NAME_rooted_vascular_200m
nwi_SUBCLASS_NAME_rubble_200m
nwi_SUBCLASS_NAME_sand_200m
nwi_SUBCLASS_NAME_vegetated_200m
nwi_SUBCLASS_NAME_zzz_200m
nwi_SPLIT_CLASS_NAME_aquatic_bed_200m
nwi_SPLIT_CLASS_NAME_emergent_200m
nwi_SPLIT_CLASS_NAME_forested_200m
nwi_SPLIT_CLASS_NAME_moss-lichen_200m
nwi_SPLIT_CLASS_NAME_reef_200m
nwi_SPLIT_CLASS_NAME_rocky_shore_200m
nwi_SPLIT_CLASS_NAME_scrub-shrub_200m
nwi_SPLIT_CLASS_NAME_unconsolidated_bottom_200m
nwi_SPLIT_CLASS_NAME_unconsolidated_shore_200m
nwi_SPLIT_CLASS_NAME_zzz_200m
nwi_SPLIT_SUBCLASS_NAME_algal_200m
nwi_SPLIT_SUBCLASS_NAME_aquatic_moss_200m
nwi_SPLIT_SUBCLASS_NAME_bedrock_200m
nwi_SPLIT_SUBCLASS_NAME_broad-leaved_deciduous_200m
nwi_SPLIT_SUBCLASS_NAME_broad-leaved_evergreen_200m
nwi_SPLIT_SUBCLASS_NAME_cobble-gravel_200m
nwi_SPLIT_SUBCLASS_NAME_coral_200m
nwi_SPLIT_SUBCLASS_NAME_dead_200m
nwi_SPLIT_SUBCLASS_NAME_deciduous_200m
nwi_SPLIT_SUBCLASS_NAME_evergreen_200m
nwi_SPLIT_SUBCLASS_NAME_floating_vascular_200m
nwi_SPLIT_SUBCLASS_NAME_lichen_200m
nwi_SPLIT_SUBCLASS_NAME_mollusk_200m
nwi_SPLIT_SUBCLASS_NAME_moss_200m
nwi_SPLIT_SUBCLASS_NAME_mud_200m
nwi_SPLIT_SUBCLASS_NAME_needle-leaved_deciduous_200m
nwi_SPLIT_SUBCLASS_NAME_needle-leaved_evergreen_200m
nwi_SPLIT_SUBCLASS_NAME_non_persistent_200m
nwi_SPLIT_SUBCLASS_NAME_organic_200m
nwi_SPLIT_SUBCLASS_NAME_persistent_200m
nwi_SPLIT_SUBCLASS_NAME_phragmites_australis_200m
nwi_SPLIT_SUBCLASS_NAME_rooted_vascular_200m
nwi_SPLIT_SUBCLASS_NAME_rubble_200m
nwi_SPLIT_SUBCLASS_NAME_sand_200m
nwi_SPLIT_SUBCLASS_NAME_vegetated_200m
nwi_SPLIT_SUBCLASS_NAME_zzz_200m
nwi_WATER_REGIME_NAME_artificially_flooded_200m
nwi_WATER_REGIME_NAME_continuously__saturated_200m
nwi_WATER_REGIME_NAME_intermittently_exposed_200m
nwi_WATER_REGIME_NAME_intermittently_flooded_200m
nwi_WATER_REGIME_NAME_irregularly_exposed_200m
nwi_WATER_REGIME_NAME_irregularly_flooded_200m
nwi_WATER_REGIME_NAME_permanently_flooded_200m
nwi_WATER_REGIME_NAME_permanently_flooded-tidal_200m
nwi_WATER_REGIME_NAME_regularly_flooded_200m
nwi_WATER_REGIME_NAME_seasonally_flooded_200m
nwi_WATER_REGIME_NAME_seasonally_flooded-tidal_200m
nwi_WATER_REGIME_NAME_seasonally_flooded/saturated_200m
nwi_WATER_REGIME_NAME_seasonally_saturated_200m
nwi_WATER_REGIME_NAME_semipermanently_flooded_200m
nwi_WATER_REGIME_NAME_semipermanently_flooded-tidal_200m
nwi_WATER_REGIME_NAME_subtidal_200m
nwi_WATER_REGIME_NAME_temporary_flooded_200m
nwi_WATER_REGIME_NAME_temporary_flooded-tidal_200m
nwi_WATER_REGIME_NAME_zzz_200m
nwi_WATER_REGIME_SUBGROUP_freshwater_tidal_200m
nwi_WATER_REGIME_SUBGROUP_nontidal_200m
nwi_WATER_REGIME_SUBGROUP_saltwater_tidal_200m
nwi_WATER_REGIME_SUBGROUP_zzz_200m
nwi_FIRST_MODIFIER_NAME_acid_200m
nwi_FIRST_MODIFIER_NAME_alkaline_200m
nwi_FIRST_MODIFIER_NAME_artificial_substrate_200m
nwi_FIRST_MODIFIER_NAME_beaver_200m
nwi_FIRST_MODIFIER_NAME_diked/impounded_200m
nwi_FIRST_MODIFIER_NAME_euthaline/eusaline_200m
nwi_FIRST_MODIFIER_NAME_excavated_200m
nwi_FIRST_MODIFIER_NAME_farmed_200m
nwi_FIRST_MODIFIER_NAME_hyperhaline/hypersaline_200m
nwi_FIRST_MODIFIER_NAME_managed_200m
nwi_FIRST_MODIFIER_NAME_mesohaline_200m
nwi_FIRST_MODIFIER_NAME_mineral_200m
nwi_FIRST_MODIFIER_NAME_mixohaline/mixosaline_(brackish)_200m
nwi_FIRST_MODIFIER_NAME_oligohaline_200m
nwi_FIRST_MODIFIER_NAME_organic_200m
nwi_FIRST_MODIFIER_NAME_partially_drained/ditched_200m
nwi_FIRST_MODIFIER_NAME_polyhaline_200m
nwi_FIRST_MODIFIER_NAME_spoil_200m
nwi_FIRST_MODIFIER_NAME_zzz_200m

In [301]:
df[good].columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'jurisdiction_type', 'da_number',
       'district', 'project_name', 'longitude', 'latitude',
       'date_issued_or_denied', 'rha_determination',
       ...
       'nwi_FIRST_MODIFIER_NAME_managed_200m',
       'nwi_FIRST_MODIFIER_NAME_mesohaline_200m',
       'nwi_FIRST_MODIFIER_NAME_mineral_200m',
       'nwi_FIRST_MODIFIER_NAME_mixohaline/mixosaline_(brackish)_200m',
       'nwi_FIRST_MODIFIER_NAME_oligohaline_200m',
       'nwi_FIRST_MODIFIER_NAME_organic_200m',
       'nwi_FIRST_MODIFIER_NAME_partially_drained/ditched_200m',
       'nwi_FIRST_MODIFIER_NAME_polyhaline_200m',
       'nwi_FIRST_MODIFIER_NAME_spoil_200m',
       'nwi_FIRST_MODIFIER_NAME_zzz_200m'],
      dtype='object', length=187)

In [233]:
set(df.columns) - set(df.describe().columns)

{'CLASS_NAME_vector_200m',
 'FIRST_MODIFIER_NAME_vector_200m',
 'SPLIT_CLASS_NAME_vector_200m',
 'SPLIT_SUBCLASS_NAME_vector_200m',
 'SUBCLASS_NAME_vector_200m',
 'SUBSYSTEM_NAME_vector_200m',
 'SYSTEM_NAME_vector_200m',
 'WATER_REGIME_NAME_vector_200m',
 'WATER_REGIME_SUBGROUP_vector_200m',
 'da_number',
 'date_issued_or_denied',
 'district',
 'drclassdcd',
 'jurisdiction_type',
 'nwi_CLASS_NAME_forested_200m',
 'nwi_CLASS_NAME_moss-lichen_200m',
 'nwi_CLASS_NAME_reef_200m',
 'nwi_CLASS_NAME_rock_bottom_200m',
 'nwi_CLASS_NAME_streambed_200m',
 'nwi_FIRST_MODIFIER_NAME_artificial_substrate_200m',
 'nwi_FIRST_MODIFIER_NAME_beaver_200m',
 'nwi_FIRST_MODIFIER_NAME_diked/impounded_200m',
 'nwi_FIRST_MODIFIER_NAME_euthaline/eusaline_200m',
 'nwi_FIRST_MODIFIER_NAME_hyperhaline/hypersaline_200m',
 'nwi_SPLIT_CLASS_NAME_forested_200m',
 'nwi_SPLIT_CLASS_NAME_moss-lichen_200m',
 'nwi_SPLIT_CLASS_NAME_reef_200m',
 'nwi_SPLIT_CLASS_NAME_rocky_shore_200m',
 'nwi_SPLIT_CLASS_NAME_unconsolidated_shore_200m',
 'nwi_SPLIT_SUBCLASS_NAME_bedrock_200m',
 'nwi_SPLIT_SUBCLASS_NAME_broad-leaved_deciduous_200m',
 'nwi_SPLIT_SUBCLASS_NAME_broad-leaved_evergreen_200m',
 'nwi_SPLIT_SUBCLASS_NAME_cobble-gravel_200m',
 'nwi_SPLIT_SUBCLASS_NAME_deciduous_200m',
 'nwi_SUBCLASS_NAME_bedrock_200m',
 'nwi_SUBCLASS_NAME_broad-leaved_deciduous_200m',
 'nwi_SUBCLASS_NAME_broad-leaved_evergreen_200m',
 'nwi_SUBCLASS_NAME_cobble-gravel_200m',
 'nwi_SUBCLASS_NAME_deciduous_200m',
 'nwi_SUBSYSTEM_NAME_intertidal_200m',
 'nwi_SUBSYSTEM_NAME_limnetic_200m',
 'nwi_SUBSYSTEM_NAME_littoral_200m',
 'nwi_SUBSYSTEM_NAME_lower_perennial_200m',
 'nwi_SUBSYSTEM_NAME_unknown_perennial_200m',
 'nwi_SYSTEM_NAME_marine_200m',
 'nwi_SYSTEM_NAME_palustrine_200m',
 'nwi_SYSTEM_NAME_riverine_200m',
 'nwi_WATER_REGIME_NAME_intermittently_exposed_200m',
 'nwi_WATER_REGIME_NAME_intermittently_flooded_200m',
 'nwi_WATER_REGIME_NAME_irregularly_exposed_200m',
 'nwi_WATER_REGIME_NAME_irregularly_flooded_200m',
 'nwi_WATER_REGIME_NAME_regularly_flooded_200m',
 'nwi_WATER_REGIME_SUBGROUP_saltwater_tidal_200m',
 'nwi_WATER_REGIME_SUBGROUP_zzz_200m',
 'nwi_attr_list_200m',
 'nwi_vars_200m',
 'nwi_wetland_list_200m',
 'project_name',
 'wetland_type_vector_200m'}

In [305]:
np.mean(np.array(df.nwi_SUBSYSTEM_NAME_intertidal_200m))

0.0

In [304]:
np.mean(np.array(df.nwi_WATER_REGIME_NAME_regularly_flooded_200m))

0.0034202065804774607