In [1]:
import pandas as pd
import pickle
# read in csv file with SSURGO variables
# df_m = pd.read_csv("combined_regular_clean_with_ssurgo_variables.csv")
df_m = pd.read_pickle("cwr_nwpr_dataset")

PATCH_SIZE = 1250 # 100 # 1250

In [2]:
# consolidate the pickle files into one
df = []

for i in range(df_m.shape[0] // 500 + 1):
    try:
        df_temp = (pd.read_pickle('NWI_extracted_vars_' + str(2 * PATCH_SIZE) + 'm/nwi_extraction_' 
                                  + str(2 * PATCH_SIZE) + "X" 
                                  + str(2 * PATCH_SIZE) + 
                                  'm_part' + str(500 * i + 1)))
        df.append(df_temp)

    except:
        break
df = pd.concat(df)

# rename the column to reflect naming convention elsewhere
# THIS IS MANUAL HERE
if PATCH_SIZE == 100:
    df.rename(columns={"nwi_bbox_vars_100" : "nwi_vars_" + str(2 * PATCH_SIZE) + "m"}, inplace=True)
elif PATCH_SIZE == 1250:
    df.rename(columns={"nwi_bbox_vars_1250" : "nwi_vars_" + str(2 * PATCH_SIZE) + "m"}, inplace=True)
df.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'jurisdiction_type', 'da_number',
       'district', 'project_name', 'longitude', 'latitude',
       'date_issued_or_denied', 'rha_determination', 'cwa_determination',
       'rha1', 'rha2', 'cwa1', 'cwa2', 'cwa3', 'cwa4', 'cwa5', 'cwa6', 'cwa7',
       'cwa8', 'cwa9', 'potential_wetland', 'index', 'Index', 'mukey',
       'hydclprs', 'aws025wta', 'drclassdcd', 'nwi_bbox_vars_1000m'],
      dtype='object')

In [3]:
import numpy as np

# fraction of records that have data
print(np.mean(np.array(df["nwi_bbox_vars_" + str(2 * PATCH_SIZE) + "m"].apply(lambda x: x[0]))) )

# records for which data is available (because GEE ingestion is still ongoing)
# THIS IS AN AD-HOC THAT WILL BE DISCARDED
good = df["nwi_bbox_vars_" + str(2 * PATCH_SIZE) + "m"].apply(lambda x: x[0]) != 0

df_selected = df[good]
print(df_selected.shape)
df_selected.head(3)

6.093428571428571
(2697, 30)

,Unnamed: 0,Unnamed: 0.1,jurisdiction_type,da_number,district,project_name,longitude,latitude,date_issued_or_denied,rha_determination,...,cwa8,cwa9,potential_wetland,index,Index,mukey,hydclprs,aws025wta,drclassdcd,nwi_bbox_vars_1000m
0,0,0,RAPANOS,LRB-1983-10120,Buffalo,Trade-A-Yacht (Hibiscus Harbor - Union Springs...,-76.70773,42.85821,06/19/2020,0,...,0,0,1,1,1,289404.0,100.0,7.4,Very poorly drained,"(26, [R2UBH, R4SBC, R2UBHx, R4SBAx, R4SBCx, R4..."
1,1,1,RAPANOS,LRB-1985-69031,Buffalo,"POOLEY, MARK A.",-75.85524,43.15230,07/07/2016,0,...,0,0,0,2,2,293511.0,0.0,0.0,NaN,"(5, [L1UBH, L2UBH, L2USC, R5UBH, PFO1B], [Lake..."
2,2,2,RAPANOS,LRB-1986-99614,Buffalo,"Bellamy, Michael (previous: MACKO, JOHN)",-78.04046,42.68911,10/12/2017,0,...,0,0,0,3,3,295436.0,0.0,0.0,NaN,"(2, [L1UBHh, R4SBC], [Lake, Riverine])"

In [4]:
# NWI features within a bbox come as a list of ATTRIBUTES
# create a column with number of such features in the patch

df["nwi_feature_count_" + str(2 * PATCH_SIZE) + "m"] = (df.apply(lambda x: 
                                                                 x["nwi_bbox_vars_" 
                                                                   + str(2 * PATCH_SIZE) 
                                                                   + "m"][0], 
                                                                 axis=1))

In [5]:
# df.nwi_feature_count_200m[good]

In [6]:
# Create a list of ATTRIBUTES within a bbox
df["nwi_attr_list_" + str(2 * PATCH_SIZE) + "m"] = (df.apply(lambda x: 
                                                             x["nwi_bbox_vars_" 
                                                               + str(2 * PATCH_SIZE) 
                                                               + "m"][1], 
                                                             axis=1))

# Create a list of Wetland Types within a bbox
df["nwi_wetland_list_" + str(2 * PATCH_SIZE) + "m"] = (df.apply(lambda x: 
                                                                x["nwi_bbox_vars_" 
                                                                  + str(2 * PATCH_SIZE) 
                                                                  + "m"][2], 
                                                                axis=1))

In [7]:
# how does nwi attribute_list look in a record
# df.nwi_attr_list_200m[good]#[0:10]

In [8]:
# how does nwi_wetland_list look in a record
# df.nwi_wetland_list_200m[good]#[0:10]

In [9]:
# Find all the unique attributes (not used later)
from collections import defaultdict

attr_dict = defaultdict(int)

for i in range(df["nwi_wetland_list_" + str(2 * PATCH_SIZE) + "m"][good].shape[0]):
    for feature in df["nwi_attr_list_" + str(2 * PATCH_SIZE) + "m"][good].iloc[i]:
        attr_dict[feature.lower().replace(" ", "_") ] += 1
print(len(attr_dict.keys()))        
# attr_dict

277

In [10]:
# Find all the unique wetland types for later bookkeeping
from collections import defaultdict

wetland_dict = defaultdict(int)

for i in range(df["nwi_wetland_list_" + str(2 * PATCH_SIZE) + "m"][good].shape[0]):
    for feature in df["nwi_wetland_list_" + str(2 * PATCH_SIZE) + "m"][good].iloc[i]:
        wetland_dict[feature.lower().replace(" ", "_") ] += 1
print(len(wetland_dict.keys()))
wetland_dict.keys()

9

dict_keys(['riverine', 'freshwater_pond', 'freshwater_emergent_wetland', 'freshwater_forested', 'shrub_wetland', 'lake', 'other', 'estuarine_and_marine_wetland', 'estuarine_and_marine_deepwater'])

In [11]:
from collections import OrderedDict

wetland_types = tuple(wetland_dict.keys())

def create_wetland_vector(wetland_list):
    """
    Returns vector of form [1, 1, 2, 1, 1, 0, 0, 0, 0]
    corresponding to wetland_types
    """
    wetland_dict = OrderedDict(zip(wetland_types, [0] * len(wetland_types)))
    for wetland in wetland_list:
        wetland_dict[wetland.lower().replace(" ", "_") ] += 1
    return list(wetland_dict.values())
print(len(wetland_types))
wetland_types

9

('riverine',
 'freshwater_pond',
 'freshwater_emergent_wetland',
 'freshwater_forested',
 'shrub_wetland',
 'lake',
 'other',
 'estuarine_and_marine_wetland',
 'estuarine_and_marine_deepwater')

In [12]:
# delete
alist = wetland_types[0:3] + wetland_types[2:5]
create_wetland_vector(alist)

[1, 1, 2, 1, 1, 0, 0, 0, 0]

In [13]:
# Convert the nwi_wetland_list_XXXXm column into a vector

df["wetland_type_vector_" + str(2 * PATCH_SIZE) + "m"] = (df.apply(lambda x: 
                                                                  create_wetland_vector(x["nwi_wetland_list_" 
                                                                                           + str(2 * PATCH_SIZE) 
                                                                                           + "m"]), 
                                                                  axis=1))

In [14]:
# The wetland vector is then stripped into individual columns

for count, wetland in enumerate(wetland_types):
    df["nwi_" + str(wetland) + "_" + str(2 * PATCH_SIZE) + "m"] = (df.apply(lambda x: 
                                                                                    x["wetland_type_vector_" 
                                                                                      + str(2 * PATCH_SIZE) 
                                                                                      + "m"][count],
                                                                                   axis=1))

In [15]:
df.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'jurisdiction_type', 'da_number',
       'district', 'project_name', 'longitude', 'latitude',
       'date_issued_or_denied', 'rha_determination', 'cwa_determination',
       'rha1', 'rha2', 'cwa1', 'cwa2', 'cwa3', 'cwa4', 'cwa5', 'cwa6', 'cwa7',
       'cwa8', 'cwa9', 'potential_wetland', 'index', 'Index', 'mukey',
       'hydclprs', 'aws025wta', 'drclassdcd', 'nwi_bbox_vars_1000m',
       'nwi_feature_count_1000m', 'nwi_attr_list_1000m',
       'nwi_wetland_list_1000m', 'wetland_type_vector_1000m',
       'nwi_riverine_1000m', 'nwi_freshwater_pond_1000m',
       'nwi_freshwater_emergent_wetland_1000m',
       'nwi_freshwater_forested_1000m', 'nwi_shrub_wetland_1000m',
       'nwi_lake_1000m', 'nwi_other_1000m',
       'nwi_estuarine_and_marine_wetland_1000m',
       'nwi_estuarine_and_marine_deepwater_1000m'],
      dtype='object')

In [16]:
# just looking at the newly created columns
df[good].head(3).loc[:, "wetland_type_vector_" + str(2 * PATCH_SIZE) + "m" : "nwi_estuarine_and_marine_deepwater_" + str(2 * PATCH_SIZE) + "m"]

,wetland_type_vector_1000m,nwi_riverine_1000m,nwi_freshwater_pond_1000m,nwi_freshwater_emergent_wetland_1000m,nwi_freshwater_forested_1000m,nwi_shrub_wetland_1000m,nwi_lake_1000m,nwi_other_1000m,nwi_estuarine_and_marine_wetland_1000m,nwi_estuarine_and_marine_deepwater_1000m
0,"[11, 6, 1, 8, 8, 0, 0, 0, 0]",11,6,1,8,8,0,0,0,0
1,"[1, 0, 0, 1, 1, 3, 0, 0, 0]",1,0,0,1,1,3,0,0,0
2,"[1, 0, 0, 0, 0, 1, 0, 0, 0]",1,0,0,0,0,1,0,0,0

# NWI Code Definitions

## Glean out features from attributes using the NWI Code Defn book

In [17]:
df_attr = pd.read_csv("NWI_Code_Definitions.csv")

In [18]:
df_attr.shape

(5419, 24)

In [19]:
df_attr.columns

Index(['ATTRIBUTE', 'SYSTEM_NAME', 'SYSTEM_DEFINITION', 'SUBSYSTEM_NAME',
       'SUBSYSTEM_DEFINITION', 'CLASS_NAME', 'CLASS_DEFINITION',
       'SUBCLASS_NAME', 'SUBCLASS_DEFINITION', 'SPLIT_CLASS_NAME',
       'SPLIT_CLASS_DEFINITION', 'SPLIT_SUBCLASS_NAME',
       'SPLIT_SUBCLASS_DEFINITION', 'WATER_REGIME_NAME',
       'WATER_REGIME_SUBGROUP', 'WATER_REGIME_DEFINITION',
       'FIRST_MODIFIER_NAME', 'FIRST_MODIFIER_GROUP',
       'FIRST_MODIFIER_SUBGROUP', 'FIRST_MODIFIER_DEFINITION',
       'SECOND_MODIFIER_NAME', 'SECOND_MODIFIER_GROUP',
       'SECOND_MODIFIER_SUBGROUP', 'SECOND_MODIFIER_DEFINITION'],
      dtype='object')

In [20]:
# ATTRIBUTE column has all unique entries (some with "/" which may not be used)
df_attr.ATTRIBUTE.value_counts()

PEM1/FO3Ad    1
PSS3/2B       1
PFO4Rd        1
R2US3C        1
PFO1/SS2D     1
             ..
PFO4/1Ed      1
PUSKs         1
PAB3/FO5Gb    1
PFO6/UBFa     1
PFO/SS1Eb     1
Name: ATTRIBUTE, Length: 5419, dtype: int64

In [21]:
def find_feature(attribute="L1UBHh"):
    """
    
    input: attribute observed in the GEE NWI bbox
    output: corresponding row in the NWI Code Definition book
    """
    return (df_attr[df_attr.ATTRIBUTE == attribute].loc[:, ["ATTRIBUTE", 
                                                            "SYSTEM_NAME",
                                                            "CLASS_NAME",
                                                            "SUBCLASS_NAME",
                                                            "SPLIT_CLASS_NAME",
                                                            "WATER_REGIME_NAME",
                                                            "FIRST_MODIFIER_NAME",
                                                            "FIRST_MODIFIER_SUBGROUP",
                                                            "SECOND_MODIFIER_NAME",
                                                            "SECOND_MODIFIER_DEFINITION"]])

find_feature()

,ATTRIBUTE,SYSTEM_NAME,CLASS_NAME,SUBCLASS_NAME,SPLIT_CLASS_NAME,WATER_REGIME_NAME,FIRST_MODIFIER_NAME,FIRST_MODIFIER_SUBGROUP,SECOND_MODIFIER_NAME,SECOND_MODIFIER_DEFINITION
685,L1UBHh,Lacustrine,Unconsolidated Bottom,NaN,NaN,Permanently Flooded,Diked/Impounded,NaN,NaN,NaN

In [22]:
# df_attr.SPLIT_SUBCLASS_NAME.value_counts()

In [23]:
# find fraction of nan's
attribute_features = (["ATTRIBUTE","SYSTEM_NAME","SUBSYSTEM_NAME", "CLASS_NAME",
             "SUBCLASS_NAME", "SPLIT_CLASS_NAME", "SPLIT_SUBCLASS_NAME", 
             "WATER_REGIME_NAME", "WATER_REGIME_SUBGROUP", "FIRST_MODIFIER_NAME", 
             "FIRST_MODIFIER_SUBGROUP", "SECOND_MODIFIER_NAME", 
             "SECOND_MODIFIER_DEFINITION"])

for feature in attribute_features:
    print(feature, np.mean(df_attr[feature].isna()))

ATTRIBUTE 0.0
SYSTEM_NAME 0.0
SUBSYSTEM_NAME 0.7422033585532386
CLASS_NAME 0.0009226794611551947
SUBCLASS_NAME 0.20114412253183245
SPLIT_CLASS_NAME 0.35929138217383283
SPLIT_SUBCLASS_NAME 0.4469459309835763
WATER_REGIME_NAME 0.002029894814541428
WATER_REGIME_SUBGROUP 0.002029894814541428
FIRST_MODIFIER_NAME 0.36482745894076396
FIRST_MODIFIER_SUBGROUP 0.9512825244510057
SECOND_MODIFIER_NAME 0.9675216829673371
SECOND_MODIFIER_DEFINITION 0.9675216829673371

In [24]:
# impute not_available category so available and not-available can be OHE
df_attr.fillna("zzz", inplace=True)

# verify no more nans left
for feature in attribute_features:
    print(feature, np.mean(df_attr[feature].isna()))

ATTRIBUTE 0.0
SYSTEM_NAME 0.0
SUBSYSTEM_NAME 0.0
CLASS_NAME 0.0
SUBCLASS_NAME 0.0
SPLIT_CLASS_NAME 0.0
SPLIT_SUBCLASS_NAME 0.0
WATER_REGIME_NAME 0.0
WATER_REGIME_SUBGROUP 0.0
FIRST_MODIFIER_NAME 0.0
FIRST_MODIFIER_SUBGROUP 0.0
SECOND_MODIFIER_NAME 0.0
SECOND_MODIFIER_DEFINITION 0.0

In [25]:
"""attribute_features = (["ATTRIBUTE","SYSTEM_NAME","SUBSYSTEM_NAME", "CLASS_NAME",
             "SUBCLASS_NAME", "SPLIT_CLASS_NAME", "SPLIT_SUBCLASS_NAME", 
             "WATER_REGIME_NAME", "WATER_REGIME_SUBGROUP", "FIRST_MODIFIER_NAME", 
             "FIRST_MODIFIER_SUBGROUP", "SECOND_MODIFIER_NAME", 
             "SECOND_MODIFIER_DEFINITION"])
QAZAAZAA"""
attribute_features = (["SYSTEM_NAME","SUBSYSTEM_NAME", "CLASS_NAME",
             "SUBCLASS_NAME", "SPLIT_CLASS_NAME", "SPLIT_SUBCLASS_NAME", 
             "WATER_REGIME_NAME", "WATER_REGIME_SUBGROUP", "FIRST_MODIFIER_NAME"])


for feature in attribute_features:
    print(feature, ":", len(df_attr[feature].value_counts()))
#     print(df_attr[feature].value_counts())
    print(df_attr[feature].unique())
    print("_" * 100)

SYSTEM_NAME : 5
['Estuarine' 'Lacustrine' 'Marine' 'Palustrine' 'Riverine']
____________________________________________________________________________________________________
SUBSYSTEM_NAME : 11
['Subtidal' 'Intertidal' 'zzz' 'Limnetic' 'Littoral' 'INTERTIDAL' 'Tidal'
 'Lower Perennial' 'Upper Perennial' 'Intermittent' 'Unknown Perennial']
____________________________________________________________________________________________________
CLASS_NAME : 12
['Aquatic Bed' 'Rock Bottom' 'Reef' 'Unconsolidated Bottom' 'Emergent'
 'Forested' 'Rocky Shore' 'Streambed' 'Scrub-Shrub' 'Unconsolidated Shore'
 'zzz' 'Moss-Lichen']
____________________________________________________________________________________________________
SUBCLASS_NAME : 26
['zzz' 'Algal' 'Rooted Vascular' 'Floating Vascular' 'Rubble' 'Mollusk'
 'Cobble-Gravel' 'Sand' 'Mud' 'Organic' 'Persistent' 'Non persistent'
 'Phragmites australis' 'Broad-Leaved Deciduous' 'Broad-Leaved Evergreen'
 'Needle-Leaved Evergreen' 'Dead' 'Evergreen' 'Bedrock'
 'Needle-Leaved Deciduous' 'Deciduous' 'Aquatic Moss' 'Vegetated' 'Coral'
 'Moss' 'Lichen']
____________________________________________________________________________________________________
SPLIT_CLASS_NAME : 10
['Unconsolidated Bottom' 'zzz' 'Reef' 'Aquatic Bed' 'Rocky Shore'
 'Unconsolidated Shore' 'Emergent' 'Forested' 'Scrub-Shrub' 'Moss-Lichen']
____________________________________________________________________________________________________
SPLIT_SUBCLASS_NAME : 26
['zzz' 'Sand' 'Rooted Vascular' 'Algal' 'Mud' 'Persistent' 'Bedrock'
 'Cobble-Gravel' 'Phragmites australis' 'Broad-Leaved Deciduous'
 'Broad-Leaved Evergreen' 'Needle-Leaved Evergreen' 'Dead'
 'Needle-Leaved Deciduous' 'Evergreen' 'Non persistent' 'Mollusk'
 'Floating Vascular' 'Coral' 'Rubble' 'Deciduous' 'Organic' 'Aquatic Moss'
 'Moss' 'Lichen' 'Vegetated']
____________________________________________________________________________________________________
WATER_REGIME_NAME : 19
['Subtidal' 'Irregularly Exposed' 'Regularly Flooded'
 'Irregularly Flooded' 'zzz' 'Permanently Flooded'
 'Permanently Flooded-Tidal' 'Intermittently Exposed'
 'Artificially Flooded' 'Semipermanently Flooded'
 'Semipermanently Flooded-Tidal' 'Seasonally Flooded' 'Temporary Flooded'
 'Intermittently Flooded' 'Seasonally Flooded-Tidal'
 'Seasonally Saturated' 'Seasonally Flooded/Saturated'
 'Continuously  Saturated' 'Temporary Flooded-Tidal']
____________________________________________________________________________________________________
WATER_REGIME_SUBGROUP : 4
['Saltwater Tidal' 'zzz' 'Nontidal' 'Freshwater Tidal']
____________________________________________________________________________________________________
FIRST_MODIFIER_NAME : 19
['zzz' 'Excavated' 'Oligohaline' 'Diked/Impounded' 'Mesohaline'
 'Polyhaline' 'Mixohaline/Mixosaline (Brackish)' 'Artificial Substrate'
 'Partially Drained/Ditched' 'Spoil' 'Organic' 'Beaver'
 'Euthaline/Eusaline' 'Managed' 'Hyperhaline/Hypersaline' 'Farmed'
 'Alkaline' 'Acid' 'Mineral']
____________________________________________________________________________________________________

In [26]:
# attribute_features = (["ATTRIBUTE","SYSTEM_NAME"])

def feature_vector(df_attr=df_attr, feature="SYSTEM_NAME"):
    """
    
    Returns the vector for each feature of an attribute
    
    input: NWI Code Definition as df_attr to find unique values for a featurE & feature name 
    output: feature vector for that (attribute, feature) set
    
    """
    # find unique values for a give feature
    feature_list = list(df_attr[feature].unique())
    # sort
    feature_list.sort()
    # lower case and replace spaces by _
    feature_list = [feature.lower().replace(" ", "_") for feature in feature_list]
    
    # create a dict where the order is maintained. Initialize values to 0
    feature_dict = OrderedDict(zip(feature_list, [0] * len(feature_list)))
    
    # you would like to actually create a new column with this frozen feature_list
    df_attr[feature + "_" + "uniques_list"] = df_attr.apply(lambda x: feature_list, axis=1)
    return df_attr

In [27]:
# create the columns for each of the attribute_features    
for feature in attribute_features:
    feature_vector(feature=feature)
    
# note the _uniques_list columns created
df_attr.columns

Index(['ATTRIBUTE', 'SYSTEM_NAME', 'SYSTEM_DEFINITION', 'SUBSYSTEM_NAME',
       'SUBSYSTEM_DEFINITION', 'CLASS_NAME', 'CLASS_DEFINITION',
       'SUBCLASS_NAME', 'SUBCLASS_DEFINITION', 'SPLIT_CLASS_NAME',
       'SPLIT_CLASS_DEFINITION', 'SPLIT_SUBCLASS_NAME',
       'SPLIT_SUBCLASS_DEFINITION', 'WATER_REGIME_NAME',
       'WATER_REGIME_SUBGROUP', 'WATER_REGIME_DEFINITION',
       'FIRST_MODIFIER_NAME', 'FIRST_MODIFIER_GROUP',
       'FIRST_MODIFIER_SUBGROUP', 'FIRST_MODIFIER_DEFINITION',
       'SECOND_MODIFIER_NAME', 'SECOND_MODIFIER_GROUP',
       'SECOND_MODIFIER_SUBGROUP', 'SECOND_MODIFIER_DEFINITION',
       'SYSTEM_NAME_uniques_list', 'SUBSYSTEM_NAME_uniques_list',
       'CLASS_NAME_uniques_list', 'SUBCLASS_NAME_uniques_list',
       'SPLIT_CLASS_NAME_uniques_list', 'SPLIT_SUBCLASS_NAME_uniques_list',
       'WATER_REGIME_NAME_uniques_list', 'WATER_REGIME_SUBGROUP_uniques_list',
       'FIRST_MODIFIER_NAME_uniques_list'],
      dtype='object')

# Creating NWI attribute features

In [28]:
# read a uniques column
df_attr.SYSTEM_NAME_uniques_list[0]

['estuarine', 'lacustrine', 'marine', 'palustrine', 'riverine']

In [29]:
# read a uniques column
df_attr.WATER_REGIME_NAME_uniques_list[0]

['artificially_flooded',
 'continuously__saturated',
 'intermittently_exposed',
 'intermittently_flooded',
 'irregularly_exposed',
 'irregularly_flooded',
 'permanently_flooded',
 'permanently_flooded-tidal',
 'regularly_flooded',
 'seasonally_flooded',
 'seasonally_flooded-tidal',
 'seasonally_flooded/saturated',
 'seasonally_saturated',
 'semipermanently_flooded',
 'semipermanently_flooded-tidal',
 'subtidal',
 'temporary_flooded',
 'temporary_flooded-tidal',
 'zzz']

In [30]:
# for an attribute and feature find the value
# the [0] pulls out the entry from pandas Series
find_feature("R4SBC")["CLASS_NAME"].values[0]

'Streambed'

In [31]:
find_feature("PABGx")["CLASS_NAME"].values[0]

'Aquatic Bed'

In [32]:
find_feature("R4SBC")["SYSTEM_NAME"].values[0]

'Riverine'

In [33]:
def create_attr_feature_vector(attr_list=["R4SBC", "PABGx", "PABGx"], attr_feature="SYSTEM_NAME"):
    """
    Returns vector of form [1, 1, 2, 1, 1, 0, 0, 0, 0]
    corresponding to attr feature
    
    attr_list: is of the form ["R4SBC", "PUBGx"]
    attr_feature is of the form "CLASS_NAME"
    
    output: attr feature vector
    """
    feature_uniques_dict = (OrderedDict(zip(df_attr[attr_feature + "_uniques_list"][0], 
                                    [0] * len(df_attr[attr_feature + "_uniques_list"][0]))))
    for attr in attr_list:
        # its possible to not find an entry in Code book that matches ATTRIBUTE from GEE
        # as such handle the empty list returned
        try:
            feature = find_feature(attr)[attr_feature].values[0]
            feature = feature.lower().replace(" ", "_") 
            feature_uniques_dict[feature] += 1
        except Exception as e:
            pass
    return list(feature_uniques_dict.values())

create_attr_feature_vector()

[0, 0, 0, 2, 1]

In [34]:
create_attr_feature_vector(attr_feature="CLASS_NAME")

[2, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0]

In [ ]:
# create feature vectors for the chosen attribute features
for attr_feature in attribute_features:
    print(attr_feature)
    df[attr_feature + "_vector_" + str(2 * PATCH_SIZE) + "m"] = (df.apply(lambda x: 
                                                                    create_attr_feature_vector(
                                                                        x["nwi_attr_list_"  
                                                                          + str(2 * PATCH_SIZE) + "m"], 
                                                                        attr_feature=attr_feature), 
                                                           axis=1))

SYSTEM_NAME
SUBSYSTEM_NAME

In [ ]:
df.columns

In [ ]:
# df.SYSTEM_NAME_vector_200m[good]

In [ ]:
df_attr.SYSTEM_NAME_uniques_list[0]

In [ ]:
# df.SYSTEM_NAME_vector_200m[0]

In [ ]:
df_attr.SYSTEM_NAME_uniques_list[0]

In [ ]:
# df.FIRST_MODIFIER_NAME_vector_200m[good]

In [ ]:
print(*attribute_features, sep="\n")

In [ ]:
# Strip vectors into individual columns

def handle_empty_list(x, count):
    try:
        return x[count]
    except:
        return np.nan


for attr_feature in attribute_features:
    print(attr_feature)
    for count, feature in enumerate(df_attr[attr_feature + "_uniques_list"][0]):
        df["nwi_" + attr_feature + "_" + str(feature) + "_" + str(2 * PATCH_SIZE) + "m"] = (df.apply(lambda x: 
                                                                                        handle_empty_list(x[attr_feature + "_vector_" 
                                                                                          + str(2 * PATCH_SIZE) 
                                                                                          + "m"], count),
                                                                                       axis=1))

In [ ]:
df.columns

In [ ]:
# what fraction are non-zero values?
# np.mean(np.array(df.nwi_SYSTEM_NAME_palustrine_200m[good]))

In [ ]:
set(df.columns) - set(df.describe().columns)

In [ ]:
# np.mean(np.array(df.nwi_SUBSYSTEM_NAME_intertidal_200m[good]))

In [ ]:
# np.mean(np.array(df.nwi_WATER_REGIME_NAME_regularly_flooded_200m))

In [ ]:
# save the resultant dataframe

(pickle.dump(df, open(("nwi_extracted_features_" + str(2 * PATCH_SIZE) + "X" + str(2 * PATCH_SIZE) + "m"),"wb"), 
               protocol=3))

In [ ]:
("nwi_extracted_features_" + str(2 * PATCH_SIZE) + "X" + str(2 * PATCH_SIZE) + "m")