In [26]:
import sys
print(sys.executable)
print(sys.version)
print(sys.version_info)

/Users/Madhukar/opt/miniconda3/envs/gee/bin/python
3.9.2 | packaged by conda-forge | (default, Feb 21 2021, 05:02:20)
[Clang 11.0.1 ]
sys.version_info(major=3, minor=9, micro=2, releaselevel='final', serial=0)

In [8]:
import ee
import pandas as pd
import numpy as np
ee.Initialize()

In [7]:
# read in the nhd addendum file
nhd_stats = pd.read_csv("nhd_stats_AI.csv")

# read in csv file with SSURGO variables
df_m = pd.read_csv("combined_regular_clean_with_ssurgo_variables.csv")

In [29]:
# pd.read_pickle('../1. Extract NHD information from GEE/NHD_extracted_vars_2.5kmX2.5km_with_fcode_ftype/2.5kmX2.5km_nhd_variables_part1')

In [30]:
# comid's from GEE are extracted into several pickled files
# pickling is needed to be able to share easily across team members 
# join these pickled files into one full dataset

df_merged_full = []

for i in range(df_m.shape[0] // 500 + 1):
    try:
        df_temp = pd.read_pickle('../1. Extract NHD information from GEE/NHD_extracted_vars_200mX200m_with_fcode_ftype/200mX200m_nhd_variables_part' + str(500 * i + 1))
#         print(df_temp.columns)
        df_merged_full.append(df_temp)
    except:
        break

df_merged_full = pd.concat(df_merged_full)

In [31]:
# i = 0
# pd.read_pickle('../1. Extract NHD information from GEE/NHD_extracted_vars_200mX200m_with_fcode_ftype/200mX200m_nhd_variables_part' + str(500 * i + 1))

In [32]:
# # convert to protocol 3 so that can read in aws
# df_merged_full = []

# for i in range(df_m.shape[0] // 500 + 1):
#     try:
#         df_temp = pd.read_pickle(('NHD_extracted_vars_2.5kmX2.5km/combined_regular_clean_with_ssurgo_nhd_variables_part' + 
#                               str(500 * i + 1)))
#         print(df_temp.shape)
#         pickle.dump(df_temp, open("NHD_extracted_vars_2.5kmX2.5km/combined_regular_clean_with_ssurgo_nhd_variables_part" + str(500 * i + 1) + "_pkl3.pkl","wb"), protocol=3)
#         df_temp2 = pd.read_pickle(('NHD_extracted_vars_2.5kmX2.5km/combined_regular_clean_with_ssurgo_nhd_variables_part' + 
#                               str(500 * i + 1)))

#     except:
#         break
#     df_merged_full.append(df_temp2)
# df_merged_full = pd.concat(df_merged_full)

In [33]:
# write this df into pickle
import pickle
pickle.dump(df_merged_full, open("200mX200m_nhd_variables_partsmerged","wb"), protocol=3)

# Read in merged pickle file

In [34]:
df_merged_full = pd.read_pickle("200mX200m_nhd_variables_partsmerged")

In [35]:
df_merged_full.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'jurisdiction_type', 'da_number',
       'district', 'project_name', 'longitude', 'latitude',
       'date_issued_or_denied', 'rha_determination', 'cwa_determination',
       'rha1', 'rha2', 'cwa1', 'cwa2', 'cwa3', 'cwa4', 'cwa5', 'cwa6', 'cwa7',
       'cwa8', 'cwa9', 'potential_wetland', 'index', 'Index', 'mukey',
       'hydclprs', 'aws025wta', 'drclassdcd', 'nhd_vars_wb', 'nhd_vars_fl'],
      dtype='object')

# A word on 'nhd_vars_wb' and 'nhd_vars_fl' columns (see last two columns above)

## nhd_vars_wb: this is a list of lists
- for each record, the following six features from GEE are extracted as lists and stored into a list
- [comid_list, ftype_str, gnis_id, wb_area, fl_length, fcode]
- the column is labeled nhd_vars_wb for waterbodies

In a similar fashion, there is another column for flowlines labeled nhd_vars_fl

Note: fl_length is NaN's for waterbodies and wb_area ae NaN's for flowlines

## In the following, features are extracted from the above columns and feature engineered as discussed in meetings. Pls use your judgement to help devise any new features you wish

In [36]:
# wb for waterbodies
# extract the individual lists
df_merged_full["wb_comid_list"] = df_merged_full.apply(lambda x: x.nhd_vars_wb[0], axis=1)
df_merged_full["wb_ftype_str_list"] = df_merged_full.apply(lambda x: x.nhd_vars_wb[1], axis=1)
df_merged_full["wb_gnis_id_list"] = df_merged_full.apply(lambda x: x.nhd_vars_wb[2], axis=1)
df_merged_full["wb_area_list"] = df_merged_full.apply(lambda x: x.nhd_vars_wb[3], axis=1)

# fl for flowlines
# extract the individual lists
df_merged_full["fl_comid_list"] = df_merged_full.apply(lambda x: x.nhd_vars_fl[0], axis=1)
df_merged_full["fl_ftype_str_list"] = df_merged_full.apply(lambda x: x.nhd_vars_fl[1], axis=1)
df_merged_full["fl_gnis_id_list"] = df_merged_full.apply(lambda x: x.nhd_vars_fl[2], axis=1)
df_merged_full["fl_length_list"] = df_merged_full.apply(lambda x: x.nhd_vars_fl[4], axis=1)

# Lets look at columns of interest

In [37]:
df_merged_full[df_merged_full.columns[29:39]][9:15]

,nhd_vars_wb,nhd_vars_fl,wb_comid_list,wb_ftype_str_list,wb_gnis_id_list,wb_area_list,fl_comid_list,fl_ftype_str_list,fl_gnis_id_list,fl_length_list
9,"([120052831], [LakePond], [974076], [171.202],...","([21980217, 21978365], [ArtificialPath, Stream...",[120052831],[LakePond],[974076],[171.202],"[21980217, 21978365]","[ArtificialPath, StreamRiver]","[, ]","[3.135, 3.557]"
10,"([], [], [], [], [], [])","([], [], [], [], [], [])",[],[],[],[],[],[],[],[]
11,"([904140246], [LakePond], [970427], [6693.837]...","([21632389, 21635913], [Coastline, Coastline],...",[904140246],[LakePond],[970427],[6693.837],"[21632389, 21635913]","[Coastline, Coastline]","[, ]","[1.895, 10.109]"
12,"([], [], [], [], [], [])","([], [], [], [], [], [])",[],[],[],[],[],[],[],[]
13,"([], [], [], [], [], [])","([15560261], [CanalDitch], [], [nan], [0.95], ...",[],[],[],[],[15560261],[CanalDitch],[],[0.95]
14,"([], [], [], [], [], [])","([], [], [], [], [], [])",[],[],[],[],[],[],[],[]

## Lets look at one row in individual columns

In [38]:
# looking at waterbodies list
df_merged_full.nhd_vars_wb[9]
# you can see there are 6 items in the list [comid_list, ftype_str, gnis_id, wb_area, fl_length, fcode]
# note that fcode is going to be null due to coding lapse

([120052831], ['LakePond'], ['974076'], [171.202], [nan], [39004])

In [39]:
# looking at flowlines list
df_merged_full.nhd_vars_fl[9]

([21980217, 21978365],
 ['ArtificialPath', 'StreamRiver'],
 ['', ''],
 [nan, nan],
 [3.135, 3.557],
 [55800, 46006])

In [40]:
# list of comids in waterbodies
df_merged_full.wb_comid_list[9]

[120052831]

In [41]:
# list of comids in flowlines
df_merged_full.fl_comid_list[9]

[21980217, 21978365]

### .... and so on

In [42]:
# ### Filter out invalid comids (although not used in this notebook)
# # "invalid" = present in GEE but not present in nhd_stats

# df_merged["wb_comid_list_filtered"] = df_merged.apply(lambda x: [comid for comid in x.nhd_vars_wb[0] if comid in np.array(nhd_stats.comid)
#                                                                 ], axis=1)

# df_merged["fl_comid_list_filtered"] = df_merged.apply(lambda x: [comid for comid in x.nhd_vars_fl[0] if comid in np.array(nhd_stats.comid)
#                                                                 ], axis=1)

In [43]:
# Assigned begin and end of records for each person
# MADHUKAR: records 1 - 5000
# SHOBHA: records 5000 - 10000
# RADHIKA: records 10000 - 15000

In [44]:
# Extract features present in nhd_stats for corresponding comid
# read in fl_comid_list, pull out matching variable values in nhd_stats

df_merged = df_merged_full

def extract_feature(comid, feature):
    """
    Extract features present in nhd_stats for corresponding comid
    """
    if comid == None:
        return np.nan # if no comid's in GEE
    extracted_feature = nhd_stats[nhd_stats["comid"] == comid][str(feature)]
    try:
        extracted_feature = np.array(extracted_feature).item() 
    except Exception as e:
        return np.nan # if comid in GEE but not in nhd database
    return extracted_feature


def extract_sum(feature):
    """
    feature engineering per excel sheet
    """
    return (df_merged.apply(lambda x: np.sum(np.array([extract_feature(comid, str(feature))
                                                                 for comid in x.fl_comid_list])
                                                       [~np.isnan(np.array([extract_feature(comid, str(feature))
                                                                            for comid in x.fl_comid_list]))]), 
                                                axis=1))
def extract_count(feature):
    """
    feature engineering per excel sheet
    """
    return (df_merged.apply(lambda x: len(np.array([extract_feature(comid, str(feature))
                                                                 for comid in x.fl_comid_list])
                                                       [~np.isnan(np.array([extract_feature(comid, str(feature))
                                                                            for comid in x.fl_comid_list]))]), 
                                                  axis=1))

In [45]:
# flowline variables

# areasqkm
df_merged["fl_areasqkm_sum"] = extract_sum("areasqkm")
df_merged["fl_areasqkm_count"] = extract_count("areasqkm")
df_merged["fl_areasqkm_mean"] = (df_merged.apply(lambda x: 
                                                 (x.fl_areasqkm_sum/x.fl_areasqkm_count) 
                                                 if x.fl_areasqkm_count != 0 
#                                                  else np.nan, axis=1)) # here you want to return 0
                                                 else 0, axis=1))
# gnis_name_ind
df_merged["fl_gnis_name_ind_sum"] = extract_sum("gnis_name_ind")
df_merged["fl_gnis_name_ind_count"] = extract_count("gnis_name_ind")
df_merged["fl_gnis_name_ind_mean"] = (df_merged.apply(lambda x: 
                                                 (x.fl_gnis_name_ind_sum/x.fl_gnis_name_ind_count) 
                                                 if x.fl_gnis_name_ind_count != 0 
#                                                  else np.nan, axis=1))
                                                 else 0, axis=1))

# totdasqkm
df_merged["fl_totdasqkm_sum"] = extract_sum("totdasqkm")
df_merged["fl_totdasqkm_count"] = extract_count("totdasqkm")
df_merged["fl_totdasqkm_mean"] = (df_merged.apply(lambda x: 
                                                 (x.fl_totdasqkm_sum/x.fl_totdasqkm_count) 
                                                 if x.fl_totdasqkm_count != 0 
#                                                  else np.nan, axis=1))
                                                 else 0, axis=1))

# flow_type
df_merged["fl_flow_type_sum"] = extract_sum("flow_type")
df_merged["fl_flow_type_count"] = extract_count("flow_type")
df_merged["fl_flow_type_mean"] = (df_merged.apply(lambda x: 
                                                 (x.fl_flow_type_sum/x.fl_flow_type_count) 
                                                 if x.fl_flow_type_count != 0 
#                                                  else np.nan, axis=1))
                                                 else 0, axis=1))

                                                  
# streamorde
df_merged["fl_streamorde_sum"] = extract_sum("streamorde")
df_merged["fl_streamorde_count"] = extract_count("streamorde")
df_merged["fl_streamorde_mean"] = (df_merged.apply(lambda x: 
                                                 (x.fl_streamorde_sum/x.fl_streamorde_count) 
                                                 if x.fl_streamorde_count != 0 
#                                                  else np.nan, axis=1))
                                                 else 0, axis=1))                                                   

# intephem
df_merged["fl_intephem_sum"] = extract_sum("intephem")
df_merged["fl_intephem_count"] = extract_count("intephem")
df_merged["fl_intephem_mean"] = (df_merged.apply(lambda x: 
                                                 (x.fl_intephem_sum/x.fl_intephem_count) 
                                                 if x.fl_intephem_count != 0 
#                                                  else np.nan, axis=1))
                                                 else 0, axis=1))                                                 

# startflag
df_merged["fl_startflag_sum"] = extract_sum("startflag")
df_merged["fl_startflag_count"] = extract_count("startflag")
df_merged["fl_startflag_mean"] = (df_merged.apply(lambda x: 
                                                 (x.fl_startflag_sum/x.fl_startflag_count) 
                                                 if x.fl_startflag_count != 0 
#                                                  else np.nan, axis=1))
                                                 else 0, axis=1))                                                  

# divergence
df_merged["fl_divergence_sum"] = extract_sum("divergence")
df_merged["fl_divergence_count"] = extract_count("divergence")
df_merged["fl_divergence_mean"] = (df_merged.apply(lambda x: 
                                                 (x.fl_divergence_sum/x.fl_divergence_count) 
                                                 if x.fl_divergence_count != 0 
#                                                  else np.nan, axis=1))
                                                 else 0, axis=1))

# In a similar fasion, you can feature engineer the waterbodies (I will get that later today/tomorrow and push the updated dataframe)

In [46]:
df_merged.describe()

,Unnamed: 0,Unnamed: 0.1,longitude,latitude,rha_determination,cwa_determination,rha1,rha2,cwa1,cwa2,...,fl_streamorde_mean,fl_intephem_sum,fl_intephem_count,fl_intephem_mean,fl_startflag_sum,fl_startflag_count,fl_startflag_mean,fl_divergence_sum,fl_divergence_count,fl_divergence_mean
count,14619.000000,14619.000000,14619.000000,14619.000000,14619.000000,14619.000000,14619.000000,14619.000000,14619.000000,14619.000000,...,14619.000000,14619.000000,14619.000000,14619.000000,14619.000000,14619.000000,14619.000000,14619.000000,14619.000000,14619.000000
mean,7309.000000,7309.000000,-90.491852,37.209405,0.104932,0.369588,0.070935,0.062727,0.093235,0.063889,...,0.329004,0.059101,0.232779,0.054015,0.066968,0.206033,0.062722,0.010739,0.206033,0.006733
std,4220.286128,4220.286128,15.418083,6.766997,0.306476,0.482710,0.256725,0.242479,0.290771,0.244564,...,0.994656,0.250179,0.551299,0.223712,0.252696,0.504558,0.239481,0.163613,0.504558,0.098222
min,0.000000,0.000000,-174.197880,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3654.500000,3654.500000,-93.638850,32.815575,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,7309.000000,7309.000000,-88.186500,35.478300,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,10963.500000,10963.500000,-80.226955,41.403750,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,14618.000000,14618.000000,144.828420,70.483790,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,10.000000,3.000000,7.000000,1.000000,2.000000,6.000000,1.000000,6.000000,6.000000,2.000000

In [47]:
# These are the variables that needs to be made accessible to manipulation via csv files
# wb_ftype_str_list
# wb_area_list
# fl_ftype_str_list
# fl_length_list

In [48]:
df = df_merged

# wb for waterbodies
# extract the individual lists
df["wb_comid_str"] = df.apply(lambda x: "+".join([str(comid) for comid in x.nhd_vars_wb[0]]), axis=1)
df["wb_ftype_str"] = df.apply(lambda x: "+".join([str(ftype) for ftype in x.nhd_vars_wb[1] if ftype != None]), axis=1)
df["wb_gnis_id_str"] = df.apply(lambda x: "+".join([str(gnis) for gnis in x.nhd_vars_wb[2]]), axis=1)

# # sum and mean
df["wb_area_sum"] = df.apply(lambda x: np.sum(np.array([area for area in x.nhd_vars_wb[3] if area != None])), axis=1)
df["wb_area_count"] = df.apply(lambda x: len([area for area in x.nhd_vars_wb[3] if area != None]), axis=1)
# df["wb_area_mean"] = df.apply(lambda x: (x.wb_area_sum / x.wb_area_count) if x.wb_area_count != 0 else np.nan, axis=1)
df["wb_area_mean"] = df.apply(lambda x: (x.wb_area_sum / x.wb_area_count) if x.wb_area_count != 0 else 0, axis=1)

df["wb_gnis_name_ind_sum"] = df.apply(lambda x: np.sum(np.array([int(gnis) for gnis in x.nhd_vars_wb[2] if gnis not in ["", None]])), axis=1)
df["wb_gnis_name_ind_count"] = df.apply(lambda x: len([gnis for gnis in x.nhd_vars_wb[2] if gnis not in ["", None]]), axis=1)
# df["wb_gnis_name_ind_mean"] = df.apply(lambda x: (x.wb_gnis_name_ind_sum / x.wb_gnis_name_ind_count) if x.wb_gnis_name_ind_count != 0 else np.nan, axis=1)
df["wb_gnis_name_ind_mean"] = df.apply(lambda x: (x.wb_gnis_name_ind_sum / x.wb_gnis_name_ind_count) if x.wb_gnis_name_ind_count != 0 else 0, axis=1)


# # fl for flowlines
# # extract the individual lists
df["fl_comid_str"] = df.apply(lambda x: "+".join([str(comid) for comid in x.nhd_vars_fl[0]]), axis=1)
df["fl_ftype_str"] = df.apply(lambda x: "+".join([str(ftype) for ftype in x.nhd_vars_fl[1]]), axis=1)
df["fl_gnis_id_str"] = df.apply(lambda x: "+".join(x.nhd_vars_fl[2]), axis=1)

# # sum and mean
df["fl_length_sum"] = df.apply(lambda x: np.sum(np.array([length for length in x.nhd_vars_wb[4] if length != None])), axis=1)
df["fl_length_count"] = df.apply(lambda x: len([length for length in x.nhd_vars_wb[4] if length != None]), axis=1)
# df["fl_length_mean"] = df.apply(lambda x: (x.fl_length_sum / x.fl_length_count) if x.fl_length_count != 0 else np.nan, axis=1)
df["fl_length_mean"] = df.apply(lambda x: (x.fl_length_sum / x.fl_length_count) if x.fl_length_count != 0 else 0, axis=1)

In [49]:
df.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'jurisdiction_type', 'da_number',
       'district', 'project_name', 'longitude', 'latitude',
       'date_issued_or_denied', 'rha_determination', 'cwa_determination',
       'rha1', 'rha2', 'cwa1', 'cwa2', 'cwa3', 'cwa4', 'cwa5', 'cwa6', 'cwa7',
       'cwa8', 'cwa9', 'potential_wetland', 'index', 'Index', 'mukey',
       'hydclprs', 'aws025wta', 'drclassdcd', 'nhd_vars_wb', 'nhd_vars_fl',
       'wb_comid_list', 'wb_ftype_str_list', 'wb_gnis_id_list', 'wb_area_list',
       'fl_comid_list', 'fl_ftype_str_list', 'fl_gnis_id_list',
       'fl_length_list', 'fl_areasqkm_sum', 'fl_areasqkm_count',
       'fl_areasqkm_mean', 'fl_gnis_name_ind_sum', 'fl_gnis_name_ind_count',
       'fl_gnis_name_ind_mean', 'fl_totdasqkm_sum', 'fl_totdasqkm_count',
       'fl_totdasqkm_mean', 'fl_flow_type_sum', 'fl_flow_type_count',
       'fl_flow_type_mean', 'fl_streamorde_sum', 'fl_streamorde_count',
       'fl_streamorde_mean', 'fl_intephem_sum', 'fl_intephem_count',
       'fl_intephem_mean', 'fl_startflag_sum', 'fl_startflag_count',
       'fl_startflag_mean', 'fl_divergence_sum', 'fl_divergence_count',
       'fl_divergence_mean', 'wb_comid_str', 'wb_ftype_str', 'wb_gnis_id_str',
       'wb_area_sum', 'wb_area_count', 'wb_area_mean', 'wb_gnis_name_ind_sum',
       'wb_gnis_name_ind_count', 'wb_gnis_name_ind_mean', 'fl_comid_str',
       'fl_ftype_str', 'fl_gnis_id_str', 'fl_length_sum', 'fl_length_count',
       'fl_length_mean'],
      dtype='object')

In [50]:
import pickle

# use protocol 3 for backwards compatibility with Python 3.6 on AWS
pickle.dump(df, open("200mX200m_nhd_variables_extracted","wb"), protocol=3)
df.to_csv("200mX200m_nhd_variables_extracted.csv")

In [51]:
# df_merged.to_pickle("combined_regular_with_ssurgo_nhd_2.5kmX2.5km")

In [52]:
# df.to_csv("combined_regular_with_ssurgo_nhd_2.5kmX2.5km.csv")
# df.to_pickle("combined_regular_with_ssurgo_nhd_2.5kmX2.5km")

In [53]:
# df.to_csv("combined_regular_with_ssurgo_nhd_200mX200m.csv")
# df.to_pickle("combined_regular_with_ssurgo_nhd_200mX200m")

# Strip ftype list into individual columns

## replace 200m by 2.5km and vice versa

In [40]:
# with open("combined_regular_with_ssurgo_nhd_2.5kmX2.5km_pkl3.pkl", "rb") as f:
#     df_readfrompkl = pickle.load(f)
import pandas as pd
import pickle
# df = pd.read_pickle("2.5kmX2.5km_nhd_variables_extracted")
df = pd.read_pickle("200mX200m_nhd_variables_extracted")
df.describe()

,Unnamed: 0,Unnamed: 0.1,longitude,latitude,rha_determination,cwa_determination,rha1,rha2,cwa1,cwa2,...,fl_divergence_mean,wb_area_sum,wb_area_count,wb_area_mean,wb_gnis_name_ind_sum,wb_gnis_name_ind_count,wb_gnis_name_ind_mean,fl_length_sum,fl_length_count,fl_length_mean
count,14619.000000,14619.000000,14619.000000,14619.000000,14619.000000,14619.000000,14619.000000,14619.000000,14619.000000,14619.000000,...,14619.000000,14619.000000,14619.000000,14619.000000,1.461900e+04,14619.000000,1.461900e+04,13325.0,14619.000000,13325.0
mean,7309.000000,7309.000000,-90.491852,37.209405,0.104932,0.369588,0.070935,0.062727,0.093235,0.063889,...,0.006733,139.840426,0.065052,139.377298,3.175971e+04,0.030029,3.146162e+04,0.0,0.095219,0.0
std,4220.286128,4220.286128,15.418083,6.766997,0.306476,0.482710,0.256725,0.242479,0.290771,0.244564,...,0.098222,2420.182459,0.268155,2420.056593,1.994140e+05,0.172667,1.969949e+05,0.0,0.317055,0.0
min,0.000000,0.000000,-174.197880,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000e+00,0.0,0.000000,0.0
25%,3654.500000,3654.500000,-93.638850,32.815575,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000e+00,0.0,0.000000,0.0
50%,7309.000000,7309.000000,-88.186500,35.478300,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000e+00,0.0,0.000000,0.0
75%,10963.500000,10963.500000,-80.226955,41.403750,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000e+00,0.0,0.000000,0.0
max,14618.000000,14618.000000,144.828420,70.483790,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,2.000000,57516.647000,3.000000,57516.647000,3.371068e+06,2.000000,1.863850e+06,0.0,3.000000,0.0

In [41]:
df.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'jurisdiction_type', 'da_number',
       'district', 'project_name', 'longitude', 'latitude',
       'date_issued_or_denied', 'rha_determination', 'cwa_determination',
       'rha1', 'rha2', 'cwa1', 'cwa2', 'cwa3', 'cwa4', 'cwa5', 'cwa6', 'cwa7',
       'cwa8', 'cwa9', 'potential_wetland', 'index', 'Index', 'mukey',
       'hydclprs', 'aws025wta', 'drclassdcd', 'nhd_vars_wb', 'nhd_vars_fl',
       'wb_comid_list', 'wb_ftype_str_list', 'wb_gnis_id_list', 'wb_area_list',
       'fl_comid_list', 'fl_ftype_str_list', 'fl_gnis_id_list',
       'fl_length_list', 'fl_areasqkm_sum', 'fl_areasqkm_count',
       'fl_areasqkm_mean', 'fl_gnis_name_ind_sum', 'fl_gnis_name_ind_count',
       'fl_gnis_name_ind_mean', 'fl_totdasqkm_sum', 'fl_totdasqkm_count',
       'fl_totdasqkm_mean', 'fl_flow_type_sum', 'fl_flow_type_count',
       'fl_flow_type_mean', 'fl_streamorde_sum', 'fl_streamorde_count',
       'fl_streamorde_mean', 'fl_intephem_sum', 'fl_intephem_count',
       'fl_intephem_mean', 'fl_startflag_sum', 'fl_startflag_count',
       'fl_startflag_mean', 'fl_divergence_sum', 'fl_divergence_count',
       'fl_divergence_mean', 'wb_comid_str', 'wb_ftype_str', 'wb_gnis_id_str',
       'wb_area_sum', 'wb_area_count', 'wb_area_mean', 'wb_gnis_name_ind_sum',
       'wb_gnis_name_ind_count', 'wb_gnis_name_ind_mean', 'fl_comid_str',
       'fl_ftype_str', 'fl_gnis_id_str', 'fl_length_sum', 'fl_length_count',
       'fl_length_mean'],
      dtype='object')

In [42]:
old_columns = (['nhd_vars_wb', 'nhd_vars_fl',
       'wb_comid_list', 'wb_ftype_str_list', 'wb_gnis_id_list', 'wb_area_list',
       'fl_comid_list', 'fl_ftype_str_list', 'fl_gnis_id_list',
       'fl_length_list', 'fl_areasqkm_sum', 'fl_areasqkm_count',
       'fl_areasqkm_mean', 'fl_gnis_name_ind_sum', 'fl_gnis_name_ind_count',
       'fl_gnis_name_ind_mean', 'fl_totdasqkm_sum', 'fl_totdasqkm_count',
       'fl_totdasqkm_mean', 'fl_flow_type_sum', 'fl_flow_type_count',
       'fl_flow_type_mean', 'fl_streamorde_sum', 'fl_streamorde_count',
       'fl_streamorde_mean', 'fl_intephem_sum', 'fl_intephem_count',
       'fl_intephem_mean', 'fl_startflag_sum', 'fl_startflag_count',
       'fl_startflag_mean', 'fl_divergence_sum', 'fl_divergence_count',
       'fl_divergence_mean', 'wb_comid_str', 'wb_ftype_str', 'wb_gnis_id_str',
       'wb_area_sum', 'wb_area_count', 'wb_area_mean', 'wb_gnis_name_ind_sum',
       'wb_gnis_name_ind_count', 'wb_gnis_name_ind_mean', 'fl_comid_str',
       'fl_ftype_str', 'fl_gnis_id_str', 'fl_length_sum', 'fl_length_count',
       'fl_length_mean'])


new_columns = [column + "_200m" for column in old_columns]
new_columns

col_name_dict = dict(zip(old_columns, new_columns))


df.rename(columns=col_name_dict, inplace=True)
df.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'jurisdiction_type', 'da_number',
       'district', 'project_name', 'longitude', 'latitude',
       'date_issued_or_denied', 'rha_determination', 'cwa_determination',
       'rha1', 'rha2', 'cwa1', 'cwa2', 'cwa3', 'cwa4', 'cwa5', 'cwa6', 'cwa7',
       'cwa8', 'cwa9', 'potential_wetland', 'index', 'Index', 'mukey',
       'hydclprs', 'aws025wta', 'drclassdcd', 'nhd_vars_wb_200m',
       'nhd_vars_fl_200m', 'wb_comid_list_200m', 'wb_ftype_str_list_200m',
       'wb_gnis_id_list_200m', 'wb_area_list_200m', 'fl_comid_list_200m',
       'fl_ftype_str_list_200m', 'fl_gnis_id_list_200m', 'fl_length_list_200m',
       'fl_areasqkm_sum_200m', 'fl_areasqkm_count_200m',
       'fl_areasqkm_mean_200m', 'fl_gnis_name_ind_sum_200m',
       'fl_gnis_name_ind_count_200m', 'fl_gnis_name_ind_mean_200m',
       'fl_totdasqkm_sum_200m', 'fl_totdasqkm_count_200m',
       'fl_totdasqkm_mean_200m', 'fl_flow_type_sum_200m',
       'fl_flow_type_count_200m', 'fl_flow_type_mean_200m',
       'fl_streamorde_sum_200m', 'fl_streamorde_count_200m',
       'fl_streamorde_mean_200m', 'fl_intephem_sum_200m',
       'fl_intephem_count_200m', 'fl_intephem_mean_200m',
       'fl_startflag_sum_200m', 'fl_startflag_count_200m',
       'fl_startflag_mean_200m', 'fl_divergence_sum_200m',
       'fl_divergence_count_200m', 'fl_divergence_mean_200m',
       'wb_comid_str_200m', 'wb_ftype_str_200m', 'wb_gnis_id_str_200m',
       'wb_area_sum_200m', 'wb_area_count_200m', 'wb_area_mean_200m',
       'wb_gnis_name_ind_sum_200m', 'wb_gnis_name_ind_count_200m',
       'wb_gnis_name_ind_mean_200m', 'fl_comid_str_200m', 'fl_ftype_str_200m',
       'fl_gnis_id_str_200m', 'fl_length_sum_200m', 'fl_length_count_200m',
       'fl_length_mean_200m'],
      dtype='object')

In [43]:
df.fl_ftype_str_list_200m[9]

['ArtificialPath', 'StreamRiver']

In [44]:
nhd_stats.columns

Index(['comid', 'long_comid', 'lat_comid', 'startflag', 'intephem',
       'divergence', 'streamorde', 'lengthkm', 'gnis_name_ind', 'areasqkm',
       'totdasqkm', 'flow_type', 'distup_max', 'distdown_max'],
      dtype='object')

In [45]:
# # attribute_features = (["ATTRIBUTE","SYSTEM_NAME"])

# def feature_vector(df_attr=df, feature="fl_ftype_str_list_2500m"):
#     """
    
#     Returns the vector for each feature of an attribute
    
#     input: NWI Code Definition as df_attr to find unique values for a featurE & feature name 
#     output: feature vector for that (attribute, feature) set
    
#     """
#     # find unique values for a give feature
#     feature_list = list(df_attr[feature].unique())
#     # sort
#     feature_list.sort()
#     # lower case and replace spaces by _
#     feature_list = [feature.lower().replace(" ", "_") for feature in feature_list]
    
#     return feature_list
#     # create a dict where the order is maintained. Initialize values to 0
#     feature_dict = OrderedDict(zip(feature_list, [0] * len(feature_list)))
    
#     # you would like to actually create a new column with this frozen feature_list
#     df_attr[feature + "_" + "uniques_list"] = df_attr.apply(lambda x: feature_list, axis=1)
#     return df_attr
    
# feature_vector()

In [46]:
# df["fl_ftype_str_list_200m"].unique()
pd.DataFrame(df.fl_ftype_str_list_200m)

      fl_ftype_str_list_200m
0                         []
1                         []
2                         []
3                         []
4                         []
...                      ...
14614          [StreamRiver]
14615                     []
14616                     []
14617                     []
14618          [StreamRiver]

[14619 rows x 1 columns]

In [47]:
from collections import OrderedDict
from collections import defaultdict

unique_ftype_dict = defaultdict(int)

for row in range(df.shape[0]):
    for ftype in df.loc[row,"fl_ftype_str_list_200m"]:
        unique_ftype_dict[ftype.lower()] += 1
        
unique_ftype_dict.keys()
sorted_unique_ftype_list = sorted(tuple(unique_ftype_dict.keys()))

ordered_ftype_dict = OrderedDict()
for key in sorted_unique_ftype_list:
    ordered_ftype_dict[key] = 0
    
ordered_ftype_dict.items()

odict_items([('artificialpath', 0), ('canalditch', 0), ('coastline', 0), ('connector', 0), ('pipeline', 0), ('streamriver', 0)])

In [48]:
sorted_unique_ftype_list = sorted(tuple(unique_ftype_dict.keys()))

def create_ftype_vector(ftype_list):
    ftype_dict = OrderedDict(zip(sorted_unique_ftype_list, [0] * len(sorted_unique_ftype_list)))    
    
    for ftype in ftype_list:
        ftype_dict[ftype.lower()] += 1

    return list(ftype_dict.values())
    
    

df["fl_ftype_str_vector_200m"] = df.apply(lambda x: create_ftype_vector(x.fl_ftype_str_list_200m), axis=1)

In [49]:
df.fl_ftype_str_vector_200m[9]

[1, 0, 0, 0, 0, 1]

In [50]:
df.loc[9, "fl_ftype_str_list_200m"]

['ArtificialPath', 'StreamRiver']

In [51]:
df.fl_ftype_str_vector_200m[9][0]

1

In [52]:
for count, ftype in enumerate(sorted_unique_ftype_list):
    df["fl_ftype_" + ftype + "_200m"] = df.apply(lambda x: x.fl_ftype_str_vector_200m[count], axis=1)

In [53]:
df.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'jurisdiction_type', 'da_number',
       'district', 'project_name', 'longitude', 'latitude',
       'date_issued_or_denied', 'rha_determination', 'cwa_determination',
       'rha1', 'rha2', 'cwa1', 'cwa2', 'cwa3', 'cwa4', 'cwa5', 'cwa6', 'cwa7',
       'cwa8', 'cwa9', 'potential_wetland', 'index', 'Index', 'mukey',
       'hydclprs', 'aws025wta', 'drclassdcd', 'nhd_vars_wb_200m',
       'nhd_vars_fl_200m', 'wb_comid_list_200m', 'wb_ftype_str_list_200m',
       'wb_gnis_id_list_200m', 'wb_area_list_200m', 'fl_comid_list_200m',
       'fl_ftype_str_list_200m', 'fl_gnis_id_list_200m', 'fl_length_list_200m',
       'fl_areasqkm_sum_200m', 'fl_areasqkm_count_200m',
       'fl_areasqkm_mean_200m', 'fl_gnis_name_ind_sum_200m',
       'fl_gnis_name_ind_count_200m', 'fl_gnis_name_ind_mean_200m',
       'fl_totdasqkm_sum_200m', 'fl_totdasqkm_count_200m',
       'fl_totdasqkm_mean_200m', 'fl_flow_type_sum_200m',
       'fl_flow_type_count_200m', 'fl_flow_type_mean_200m',
       'fl_streamorde_sum_200m', 'fl_streamorde_count_200m',
       'fl_streamorde_mean_200m', 'fl_intephem_sum_200m',
       'fl_intephem_count_200m', 'fl_intephem_mean_200m',
       'fl_startflag_sum_200m', 'fl_startflag_count_200m',
       'fl_startflag_mean_200m', 'fl_divergence_sum_200m',
       'fl_divergence_count_200m', 'fl_divergence_mean_200m',
       'wb_comid_str_200m', 'wb_ftype_str_200m', 'wb_gnis_id_str_200m',
       'wb_area_sum_200m', 'wb_area_count_200m', 'wb_area_mean_200m',
       'wb_gnis_name_ind_sum_200m', 'wb_gnis_name_ind_count_200m',
       'wb_gnis_name_ind_mean_200m', 'fl_comid_str_200m', 'fl_ftype_str_200m',
       'fl_gnis_id_str_200m', 'fl_length_sum_200m', 'fl_length_count_200m',
       'fl_length_mean_200m', 'fl_ftype_str_vector_200m',
       'fl_ftype_artificialpath_200m', 'fl_ftype_canalditch_200m',
       'fl_ftype_coastline_200m', 'fl_ftype_connector_200m',
       'fl_ftype_pipeline_200m', 'fl_ftype_streamriver_200m'],
      dtype='object')

# Strip wb_ftype list into individual columns

In [54]:
from collections import OrderedDict
from collections import defaultdict

wb_unique_ftype_dict = defaultdict(int)

for row in range(df.shape[0]):
    for ftype in df.loc[row,"wb_ftype_str_list_200m"]:
        wb_unique_ftype_dict[ftype.lower()] += 1
        
wb_unique_ftype_dict.keys()
wb_sorted_unique_ftype_list = sorted(tuple(wb_unique_ftype_dict.keys()))

wb_ordered_ftype_dict = OrderedDict()
for key in wb_sorted_unique_ftype_list:
    wb_ordered_ftype_dict[key] = 0
    
wb_ordered_ftype_dict.items()

odict_items([('estuary', 0), ('lakepond', 0), ('playa', 0), ('reservoir', 0), ('swampmarsh', 0)])

In [57]:
wb_sorted_unique_ftype_list = sorted(tuple(wb_unique_ftype_dict.keys()))

def wb_create_ftype_vector(ftype_list):
    ftype_dict = OrderedDict(zip(wb_sorted_unique_ftype_list, [0] * len(wb_sorted_unique_ftype_list)))    
    
    for ftype in ftype_list:
        ftype_dict[ftype.lower()] += 1

    return list(ftype_dict.values())
    
    

df["wb_ftype_str_vector_200m"] = df.apply(lambda x: wb_create_ftype_vector(x.wb_ftype_str_list_200m), axis=1)

In [60]:
def strip_vector(ftype_vector, count):
    try:
        return ftype_vector[count]
    except:
        return 0

for count, ftype in enumerate(sorted_unique_ftype_list):
    df["wb_ftype_" + ftype + "_200m"] = df.apply(lambda x: strip_vector(x.wb_ftype_str_vector_200m, count), axis=1)

In [61]:
df.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'jurisdiction_type', 'da_number',
       'district', 'project_name', 'longitude', 'latitude',
       'date_issued_or_denied', 'rha_determination', 'cwa_determination',
       'rha1', 'rha2', 'cwa1', 'cwa2', 'cwa3', 'cwa4', 'cwa5', 'cwa6', 'cwa7',
       'cwa8', 'cwa9', 'potential_wetland', 'index', 'Index', 'mukey',
       'hydclprs', 'aws025wta', 'drclassdcd', 'nhd_vars_wb_200m',
       'nhd_vars_fl_200m', 'wb_comid_list_200m', 'wb_ftype_str_list_200m',
       'wb_gnis_id_list_200m', 'wb_area_list_200m', 'fl_comid_list_200m',
       'fl_ftype_str_list_200m', 'fl_gnis_id_list_200m', 'fl_length_list_200m',
       'fl_areasqkm_sum_200m', 'fl_areasqkm_count_200m',
       'fl_areasqkm_mean_200m', 'fl_gnis_name_ind_sum_200m',
       'fl_gnis_name_ind_count_200m', 'fl_gnis_name_ind_mean_200m',
       'fl_totdasqkm_sum_200m', 'fl_totdasqkm_count_200m',
       'fl_totdasqkm_mean_200m', 'fl_flow_type_sum_200m',
       'fl_flow_type_count_200m', 'fl_flow_type_mean_200m',
       'fl_streamorde_sum_200m', 'fl_streamorde_count_200m',
       'fl_streamorde_mean_200m', 'fl_intephem_sum_200m',
       'fl_intephem_count_200m', 'fl_intephem_mean_200m',
       'fl_startflag_sum_200m', 'fl_startflag_count_200m',
       'fl_startflag_mean_200m', 'fl_divergence_sum_200m',
       'fl_divergence_count_200m', 'fl_divergence_mean_200m',
       'wb_comid_str_200m', 'wb_ftype_str_200m', 'wb_gnis_id_str_200m',
       'wb_area_sum_200m', 'wb_area_count_200m', 'wb_area_mean_200m',
       'wb_gnis_name_ind_sum_200m', 'wb_gnis_name_ind_count_200m',
       'wb_gnis_name_ind_mean_200m', 'fl_comid_str_200m', 'fl_ftype_str_200m',
       'fl_gnis_id_str_200m', 'fl_length_sum_200m', 'fl_length_count_200m',
       'fl_length_mean_200m', 'fl_ftype_str_vector_200m',
       'fl_ftype_artificialpath_200m', 'fl_ftype_canalditch_200m',
       'fl_ftype_coastline_200m', 'fl_ftype_connector_200m',
       'fl_ftype_pipeline_200m', 'fl_ftype_streamriver_200m',
       'wb_ftype_str_vector_200m', 'wb_ftype_artificialpath_200m',
       'wb_ftype_canalditch_200m', 'wb_ftype_coastline_200m',
       'wb_ftype_connector_200m', 'wb_ftype_pipeline_200m',
       'wb_ftype_streamriver_200m'],
      dtype='object')

In [62]:
# write this df into pickle
import pickle
pickle.dump(df, open("200mX200m_nhd_variables_extracted_stripped","wb"), protocol=3)

In [64]:
pd.read_pickle("200mX200m_nhd_variables_extracted_stripped").columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'jurisdiction_type', 'da_number',
       'district', 'project_name', 'longitude', 'latitude',
       'date_issued_or_denied', 'rha_determination', 'cwa_determination',
       'rha1', 'rha2', 'cwa1', 'cwa2', 'cwa3', 'cwa4', 'cwa5', 'cwa6', 'cwa7',
       'cwa8', 'cwa9', 'potential_wetland', 'index', 'Index', 'mukey',
       'hydclprs', 'aws025wta', 'drclassdcd', 'nhd_vars_wb_200m',
       'nhd_vars_fl_200m', 'wb_comid_list_200m', 'wb_ftype_str_list_200m',
       'wb_gnis_id_list_200m', 'wb_area_list_200m', 'fl_comid_list_200m',
       'fl_ftype_str_list_200m', 'fl_gnis_id_list_200m', 'fl_length_list_200m',
       'fl_areasqkm_sum_200m', 'fl_areasqkm_count_200m',
       'fl_areasqkm_mean_200m', 'fl_gnis_name_ind_sum_200m',
       'fl_gnis_name_ind_count_200m', 'fl_gnis_name_ind_mean_200m',
       'fl_totdasqkm_sum_200m', 'fl_totdasqkm_count_200m',
       'fl_totdasqkm_mean_200m', 'fl_flow_type_sum_200m',
       'fl_flow_type_count_200m', 'fl_flow_type_mean_200m',
       'fl_streamorde_sum_200m', 'fl_streamorde_count_200m',
       'fl_streamorde_mean_200m', 'fl_intephem_sum_200m',
       'fl_intephem_count_200m', 'fl_intephem_mean_200m',
       'fl_startflag_sum_200m', 'fl_startflag_count_200m',
       'fl_startflag_mean_200m', 'fl_divergence_sum_200m',
       'fl_divergence_count_200m', 'fl_divergence_mean_200m',
       'wb_comid_str_200m', 'wb_ftype_str_200m', 'wb_gnis_id_str_200m',
       'wb_area_sum_200m', 'wb_area_count_200m', 'wb_area_mean_200m',
       'wb_gnis_name_ind_sum_200m', 'wb_gnis_name_ind_count_200m',
       'wb_gnis_name_ind_mean_200m', 'fl_comid_str_200m', 'fl_ftype_str_200m',
       'fl_gnis_id_str_200m', 'fl_length_sum_200m', 'fl_length_count_200m',
       'fl_length_mean_200m', 'fl_ftype_str_vector_200m',
       'fl_ftype_artificialpath_200m', 'fl_ftype_canalditch_200m',
       'fl_ftype_coastline_200m', 'fl_ftype_connector_200m',
       'fl_ftype_pipeline_200m', 'fl_ftype_streamriver_200m',
       'wb_ftype_str_vector_200m', 'wb_ftype_artificialpath_200m',
       'wb_ftype_canalditch_200m', 'wb_ftype_coastline_200m',
       'wb_ftype_connector_200m', 'wb_ftype_pipeline_200m',
       'wb_ftype_streamriver_200m'],
      dtype='object')