In [215]:
import sys
print(sys.executable)
print(sys.version)
print(sys.version_info)

/Users/Madhukar/opt/miniconda3/envs/ee_skmr/bin/python
3.9.2 | packaged by conda-forge | (default, Feb 21 2021, 05:02:20)
[Clang 11.0.1 ]
sys.version_info(major=3, minor=9, micro=2, releaselevel='final', serial=0)

In [216]:
import ee
import pandas as pd
import numpy as np
ee.Initialize()

In [233]:
PATCH_SIZE = 100

In [234]:
# read in the nhd addendum file
nhd_stats = pd.read_csv("nhd_stats_AI.csv")

# read in csv file with SSURGO variables
# df_m = pd.read_csv("combined_regular_clean_with_ssurgo_variables.csv")
df_m = pd.read_pickle("cwr_nwpr_dataset")

In [235]:
# pd.read_pickle('../1. Extract NHD information from GEE/NHD_extracted_vars_2.5kmX2.5km_with_fcode_ftype/2.5kmX2.5km_nhd_variables_part1')

In [245]:
# comid's from GEE are extracted into several pickled files
# pickling is needed to be able to share easily across team members 
# join these pickled files into one full dataset

df_merged_full = []
count = 0
for i in range(df_m.shape[0] // 50 + 1):
    try:
        df_temp = pd.read_pickle('../1. Extract NHD information from GEE/NHD_extracted_vars_cwr_nwpr_' + str(2 * PATCH_SIZE) + 'mX' + str(2 * PATCH_SIZE) + 'm_with_fcode_ftype/' + str(2 * PATCH_SIZE) + 'mX' + str(2 * PATCH_SIZE) + 'm_nhd_variables_part' + str(50 * i + 1))
#         print(df_temp.columns)
#         print('../1. Extract NHD information from GEE/NHD_extracted_vars_cwr_nwpr_' + str(2 * PATCH_SIZE) + 'mX' + str(2 * PATCH_SIZE) + 'm_with_fcode_ftype/' + str(2 * PATCH_SIZE) + 'mX' + str(2 * PATCH_SIZE) + 'm_nhd_variables_part' + str(50 * i + 1))
        df_merged_full.append(df_temp)
        count += df_temp.shape[0]
    except:
        break
print(count)
df_merged_full = pd.concat(df_merged_full)

3218

In [246]:
i = 0
'../1. Extract NHD information from GEE/NHD_extracted_vars_cwr_nwpr_' + str(2 * PATCH_SIZE) + 'mX' + str(2 * PATCH_SIZE) + 'm_with_fcode_ftype/' + str(2 * PATCH_SIZE) + 'mX' + '1000m_nhd_variables_part' + str(50 * i + 1)

'../1. Extract NHD information from GEE/NHD_extracted_vars_cwr_nwpr_2500mX2500m_with_fcode_ftype/2500mX1000m_nhd_variables_part1'

In [247]:
# i = 0
# pd.read_pickle('../1. Extract NHD information from GEE/NHD_extracted_vars_200mX200m_with_fcode_ftype/200mX200m_nhd_variables_part' + str(500 * i + 1))

In [248]:
# # convert to protocol 3 so that can read in aws
# df_merged_full = []

# for i in range(df_m.shape[0] // 500 + 1):
#     try:
#         df_temp = pd.read_pickle(('NHD_extracted_vars_2.5kmX2.5km/combined_regular_clean_with_ssurgo_nhd_variables_part' + 
#                               str(500 * i + 1)))
#         print(df_temp.shape)
#         pickle.dump(df_temp, open("NHD_extracted_vars_2.5kmX2.5km/combined_regular_clean_with_ssurgo_nhd_variables_part" + str(500 * i + 1) + "_pkl3.pkl","wb"), protocol=3)
#         df_temp2 = pd.read_pickle(('NHD_extracted_vars_2.5kmX2.5km/combined_regular_clean_with_ssurgo_nhd_variables_part' + 
#                               str(500 * i + 1)))

#     except:
#         break
#     df_merged_full.append(df_temp2)
# df_merged_full = pd.concat(df_merged_full)

In [251]:
df_merged_full.shape

(3218, 8)

In [252]:
# write this df into pickle
import pickle
pickle.dump(df_merged_full, open('cwr_nwpr_' + str(2 * PATCH_SIZE) + 'm_nhd_variables_partsmerged',"wb"), protocol=3)

# Read in merged pickle file

In [253]:
df_merged_full = pd.read_pickle('cwr_nwpr_' + str(2 * PATCH_SIZE) + 'm_nhd_variables_partsmerged')

In [257]:
df_merged_full.columns
df_merged_full.shape

(3218, 8)

# A word on 'nhd_vars_wb' and 'nhd_vars_fl' columns (see last two columns above)

## nhd_vars_wb: this is a list of lists
- for each record, the following six features from GEE are extracted as lists and stored into a list
- [comid_list, ftype_str, gnis_id, wb_area, fl_length, fcode]
- the column is labeled nhd_vars_wb for waterbodies

In a similar fashion, there is another column for flowlines labeled nhd_vars_fl

Note: fl_length is NaN's for waterbodies and wb_area ae NaN's for flowlines

## In the following, features are extracted from the above columns and feature engineered as discussed in meetings. Pls use your judgement to help devise any new features you wish

In [258]:
# wb for waterbodies
# extract the individual lists
df_merged_full["wb_comid_list"] = df_merged_full.apply(lambda x: x.nhd_vars_wb[0], axis=1)
df_merged_full["wb_ftype_str_list"] = df_merged_full.apply(lambda x: x.nhd_vars_wb[1], axis=1)
df_merged_full["wb_gnis_id_list"] = df_merged_full.apply(lambda x: x.nhd_vars_wb[2], axis=1)
df_merged_full["wb_area_list"] = df_merged_full.apply(lambda x: x.nhd_vars_wb[3], axis=1)

# fl for flowlines
# extract the individual lists
df_merged_full["fl_comid_list"] = df_merged_full.apply(lambda x: x.nhd_vars_fl[0], axis=1)
df_merged_full["fl_ftype_str_list"] = df_merged_full.apply(lambda x: x.nhd_vars_fl[1], axis=1)
df_merged_full["fl_gnis_id_list"] = df_merged_full.apply(lambda x: x.nhd_vars_fl[2], axis=1)
df_merged_full["fl_length_list"] = df_merged_full.apply(lambda x: x.nhd_vars_fl[4], axis=1)

# Lets look at columns of interest

In [259]:
df_merged_full[df_merged_full.columns[29:39]][9:15]

Empty DataFrame
Columns: []
Index: [14659, 14668, 14680, 14691, 14693, 14696]

## Lets look at one row in individual columns

In [260]:
# looking at waterbodies list
df_merged_full.nhd_vars_wb#[9]
# you can see there are 6 items in the list [comid_list, ftype_str, gnis_id, wb_area, fl_length, fcode]
# note that fcode is going to be null due to coding lapse

14324                             ([], [], [], [], [], [])
14339                             ([], [], [], [], [], [])
14346                             ([], [], [], [], [], [])
14348                             ([], [], [], [], [], [])
14378    ([4833730, 4833766, 4833678, 22324621, 2232597...
                               ...
7258     ([14784241, 14784243, 14784245, 14784251], [La...
7262     ([14783701], [SwampMarsh], [], [0.578], [nan],...
7266     ([904140248], [LakePond], [1623080], [57516.64...
7272                              ([], [], [], [], [], [])
7273                              ([], [], [], [], [], [])
Name: nhd_vars_wb, Length: 3218, dtype: object

In [262]:
# looking at flowlines list
df_merged_full.nhd_vars_fl#[9]

14324    ([20331722, 20324433, 20324437], [StreamRiver,...
14339    ([22338541, 22338501, 22338455], [StreamRiver,...
14346    ([22338859, 22340313, 22338847], [StreamRiver,...
14348    ([14784645, 14785825, 14784643, 14785817, 1478...
14378    ([4835432, 4836616, 4837010], [StreamRiver, Ar...
                               ...
7258     ([14783695, 14783697, 14784417, 14784415], [St...
7262     ([14783655, 14783715, 14783667], [CanalDitch, ...
7266     ([12169339, 12169341, 12169343, 12169095, 1216...
7272     ([14768198, 14768180], [StreamRiver, StreamRiv...
7273     ([4142418], [StreamRiver], [], [nan], [2.08], ...
Name: nhd_vars_fl, Length: 3218, dtype: object

In [263]:
# list of comids in waterbodies
df_merged_full.wb_comid_list#[9]

14324                                                   []
14339                                                   []
14346                                                   []
14348                                                   []
14378    [4833730, 4833766, 4833678, 22324621, 22325977...
                               ...
7258              [14784241, 14784243, 14784245, 14784251]
7262                                            [14783701]
7266                                           [904140248]
7272                                                    []
7273                                                    []
Name: wb_comid_list, Length: 3218, dtype: object

In [264]:
# list of comids in flowlines
df_merged_full.fl_comid_list#[9]

14324                       [20331722, 20324433, 20324437]
14339                       [22338541, 22338501, 22338455]
14346                       [22338859, 22340313, 22338847]
14348    [14784645, 14785825, 14784643, 14785817, 14784...
14378                          [4835432, 4836616, 4837010]
                               ...
7258              [14783695, 14783697, 14784417, 14784415]
7262                        [14783655, 14783715, 14783667]
7266     [12169339, 12169341, 12169343, 12169095, 12169...
7272                                  [14768198, 14768180]
7273                                             [4142418]
Name: fl_comid_list, Length: 3218, dtype: object

### .... and so on

In [265]:
# ### Filter out invalid comids (although not used in this notebook)
# # "invalid" = present in GEE but not present in nhd_stats

# df_merged["wb_comid_list_filtered"] = df_merged.apply(lambda x: [comid for comid in x.nhd_vars_wb[0] if comid in np.array(nhd_stats.comid)
#                                                                 ], axis=1)

# df_merged["fl_comid_list_filtered"] = df_merged.apply(lambda x: [comid for comid in x.nhd_vars_fl[0] if comid in np.array(nhd_stats.comid)
#                                                                 ], axis=1)

In [266]:
# Assigned begin and end of records for each person
# MADHUKAR: records 1 - 5000
# SHOBHA: records 5000 - 10000
# RADHIKA: records 10000 - 15000

In [267]:
# Extract features present in nhd_stats for corresponding comid
# read in fl_comid_list, pull out matching variable values in nhd_stats

df_merged = df_merged_full

def extract_feature(comid, feature):
    """
    Extract features present in nhd_stats for corresponding comid
    """
    if comid == None:
        return np.nan # if no comid's in GEE
    extracted_feature = nhd_stats[nhd_stats["comid"] == comid][str(feature)]
    try:
        extracted_feature = np.array(extracted_feature).item() 
    except Exception as e:
        return np.nan # if comid in GEE but not in nhd database
    return extracted_feature


def extract_sum(feature):
    """
    feature engineering per excel sheet
    """
    return (df_merged.apply(lambda x: np.sum(np.array([extract_feature(comid, str(feature))
                                                                 for comid in x.fl_comid_list])
                                                       [~np.isnan(np.array([extract_feature(comid, str(feature))
                                                                            for comid in x.fl_comid_list]))]), 
                                                axis=1))
def extract_count(feature):
    """
    feature engineering per excel sheet
    """
    return (df_merged.apply(lambda x: len(np.array([extract_feature(comid, str(feature))
                                                                 for comid in x.fl_comid_list])
                                                       [~np.isnan(np.array([extract_feature(comid, str(feature))
                                                                            for comid in x.fl_comid_list]))]), 
                                                  axis=1))

In [268]:
# flowline variables

# areasqkm
df_merged["fl_areasqkm_sum"] = extract_sum("areasqkm")
df_merged["fl_areasqkm_count"] = extract_count("areasqkm")
df_merged["fl_areasqkm_mean"] = (df_merged.apply(lambda x: 
                                                 (x.fl_areasqkm_sum/x.fl_areasqkm_count) 
                                                 if x.fl_areasqkm_count != 0 
#                                                  else np.nan, axis=1)) # here you want to return 0
                                                 else 0, axis=1))
# gnis_name_ind
df_merged["fl_gnis_name_ind_sum"] = extract_sum("gnis_name_ind")
df_merged["fl_gnis_name_ind_count"] = extract_count("gnis_name_ind")
df_merged["fl_gnis_name_ind_mean"] = (df_merged.apply(lambda x: 
                                                 (x.fl_gnis_name_ind_sum/x.fl_gnis_name_ind_count) 
                                                 if x.fl_gnis_name_ind_count != 0 
#                                                  else np.nan, axis=1))
                                                 else 0, axis=1))

# totdasqkm
df_merged["fl_totdasqkm_sum"] = extract_sum("totdasqkm")
df_merged["fl_totdasqkm_count"] = extract_count("totdasqkm")
df_merged["fl_totdasqkm_mean"] = (df_merged.apply(lambda x: 
                                                 (x.fl_totdasqkm_sum/x.fl_totdasqkm_count) 
                                                 if x.fl_totdasqkm_count != 0 
#                                                  else np.nan, axis=1))
                                                 else 0, axis=1))

# flow_type
df_merged["fl_flow_type_sum"] = extract_sum("flow_type")
df_merged["fl_flow_type_count"] = extract_count("flow_type")
df_merged["fl_flow_type_mean"] = (df_merged.apply(lambda x: 
                                                 (x.fl_flow_type_sum/x.fl_flow_type_count) 
                                                 if x.fl_flow_type_count != 0 
#                                                  else np.nan, axis=1))
                                                 else 0, axis=1))

                                                  
# streamorde
df_merged["fl_streamorde_sum"] = extract_sum("streamorde")
df_merged["fl_streamorde_count"] = extract_count("streamorde")
df_merged["fl_streamorde_mean"] = (df_merged.apply(lambda x: 
                                                 (x.fl_streamorde_sum/x.fl_streamorde_count) 
                                                 if x.fl_streamorde_count != 0 
#                                                  else np.nan, axis=1))
                                                 else 0, axis=1))                                                   

# intephem
df_merged["fl_intephem_sum"] = extract_sum("intephem")
df_merged["fl_intephem_count"] = extract_count("intephem")
df_merged["fl_intephem_mean"] = (df_merged.apply(lambda x: 
                                                 (x.fl_intephem_sum/x.fl_intephem_count) 
                                                 if x.fl_intephem_count != 0 
#                                                  else np.nan, axis=1))
                                                 else 0, axis=1))                                                 

# startflag
df_merged["fl_startflag_sum"] = extract_sum("startflag")
df_merged["fl_startflag_count"] = extract_count("startflag")
df_merged["fl_startflag_mean"] = (df_merged.apply(lambda x: 
                                                 (x.fl_startflag_sum/x.fl_startflag_count) 
                                                 if x.fl_startflag_count != 0 
#                                                  else np.nan, axis=1))
                                                 else 0, axis=1))                                                  

# divergence
df_merged["fl_divergence_sum"] = extract_sum("divergence")
df_merged["fl_divergence_count"] = extract_count("divergence")
df_merged["fl_divergence_mean"] = (df_merged.apply(lambda x: 
                                                 (x.fl_divergence_sum/x.fl_divergence_count) 
                                                 if x.fl_divergence_count != 0 
#                                                  else np.nan, axis=1))
                                                 else 0, axis=1))

# In a similar fasion, you can feature engineer the waterbodies (I will get that later today/tomorrow and push the updated dataframe)

In [269]:
df_merged.describe()

,latitude,longitude,Index,fl_areasqkm_sum,fl_areasqkm_count,fl_areasqkm_mean,fl_gnis_name_ind_sum,fl_gnis_name_ind_count,fl_gnis_name_ind_mean,fl_totdasqkm_sum,...,fl_streamorde_mean,fl_intephem_sum,fl_intephem_count,fl_intephem_mean,fl_startflag_sum,fl_startflag_count,fl_startflag_mean,fl_divergence_sum,fl_divergence_count,fl_divergence_mean
count,3218.000000,3218.000000,3218.000000,3218.000000,3218.000000,3218.000000,3218.000000,3218.000000,3218.000000,3.218000e+03,...,3218.000000,3218.000000,3218.000000,3218.000000,3218.000000,3218.000000,3218.000000,3218.000000,3218.000000,3218.000000
mean,39.645566,-91.903265,1609.500000,14.947745,4.160348,5.158235,1.860783,4.878807,0.368007,1.997859e+04,...,1.568769,1.425420,4.878807,0.328276,1.493785,4.160348,0.373625,0.244873,4.160348,0.027611
std,5.438762,15.926433,929.100909,17.333822,4.021981,9.669960,2.329257,7.951726,0.360386,3.294527e+05,...,1.205041,1.871252,7.951726,0.372553,1.453921,4.021981,0.353971,1.288509,4.021981,0.130694
min,13.447080,-158.125820,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-5.998713e+04,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,35.616210,-93.991342,805.250000,7.143300,1.000000,1.512172,0.000000,2.000000,0.000000,9.561150e+00,...,1.000000,0.000000,2.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000
50%,39.781325,-88.034425,1609.500000,12.900150,3.000000,2.884762,1.000000,4.000000,0.333333,3.350385e+01,...,1.303846,1.000000,4.000000,0.200000,1.000000,3.000000,0.333333,0.000000,3.000000,0.000000
75%,43.316587,-81.846850,2413.750000,19.067175,6.000000,5.609587,3.000000,6.000000,0.666667,2.180284e+02,...,2.000000,2.000000,6.000000,0.600000,2.000000,6.000000,0.600000,0.000000,6.000000,0.000000
max,70.296720,144.765240,3218.000000,564.331500,56.000000,283.535100,25.000000,235.000000,1.000000,1.382164e+07,...,10.000000,14.000000,235.000000,1.000000,8.000000,56.000000,1.000000,28.000000,56.000000,2.000000

In [270]:
# These are the variables that needs to be made accessible to manipulation via csv files
# wb_ftype_str_list
# wb_area_list
# fl_ftype_str_list
# fl_length_list

In [271]:
df = df_merged

# wb for waterbodies
# extract the individual lists
df["wb_comid_str"] = df.apply(lambda x: "+".join([str(comid) for comid in x.nhd_vars_wb[0]]), axis=1)
df["wb_ftype_str"] = df.apply(lambda x: "+".join([str(ftype) for ftype in x.nhd_vars_wb[1] if ftype != None]), axis=1)
df["wb_gnis_id_str"] = df.apply(lambda x: "+".join([str(gnis) for gnis in x.nhd_vars_wb[2]]), axis=1)

# # sum and mean
df["wb_area_sum"] = df.apply(lambda x: np.sum(np.array([area for area in x.nhd_vars_wb[3] if area != None])), axis=1)
df["wb_area_count"] = df.apply(lambda x: len([area for area in x.nhd_vars_wb[3] if area != None]), axis=1)
# df["wb_area_mean"] = df.apply(lambda x: (x.wb_area_sum / x.wb_area_count) if x.wb_area_count != 0 else np.nan, axis=1)
df["wb_area_mean"] = df.apply(lambda x: (x.wb_area_sum / x.wb_area_count) if x.wb_area_count != 0 else 0, axis=1)

df["wb_gnis_name_ind_sum"] = df.apply(lambda x: np.sum(np.array([int(gnis) for gnis in x.nhd_vars_wb[2] if gnis not in ["", None]])), axis=1)
df["wb_gnis_name_ind_count"] = df.apply(lambda x: len([gnis for gnis in x.nhd_vars_wb[2] if gnis not in ["", None]]), axis=1)
# df["wb_gnis_name_ind_mean"] = df.apply(lambda x: (x.wb_gnis_name_ind_sum / x.wb_gnis_name_ind_count) if x.wb_gnis_name_ind_count != 0 else np.nan, axis=1)
df["wb_gnis_name_ind_mean"] = df.apply(lambda x: (x.wb_gnis_name_ind_sum / x.wb_gnis_name_ind_count) if x.wb_gnis_name_ind_count != 0 else 0, axis=1)


# # fl for flowlines
# # extract the individual lists
df["fl_comid_str"] = df.apply(lambda x: "+".join([str(comid) for comid in x.nhd_vars_fl[0]]), axis=1)
df["fl_ftype_str"] = df.apply(lambda x: "+".join([str(ftype) for ftype in x.nhd_vars_fl[1]]), axis=1)
df["fl_gnis_id_str"] = df.apply(lambda x: "+".join(x.nhd_vars_fl[2]), axis=1)

# # sum and mean
df["fl_length_sum"] = df.apply(lambda x: np.sum(np.array([length for length in x.nhd_vars_wb[4] if length != None])), axis=1)
df["fl_length_count"] = df.apply(lambda x: len([length for length in x.nhd_vars_wb[4] if length != None]), axis=1)
# df["fl_length_mean"] = df.apply(lambda x: (x.fl_length_sum / x.fl_length_count) if x.fl_length_count != 0 else np.nan, axis=1)
df["fl_length_mean"] = df.apply(lambda x: (x.fl_length_sum / x.fl_length_count) if x.fl_length_count != 0 else 0, axis=1)

In [272]:
df.columns

Index(['jurisdiction_type', 'da_number', 'latitude', 'longitude',
       'cwa_determination', 'Index', 'nhd_vars_wb', 'nhd_vars_fl',
       'wb_comid_list', 'wb_ftype_str_list', 'wb_gnis_id_list', 'wb_area_list',
       'fl_comid_list', 'fl_ftype_str_list', 'fl_gnis_id_list',
       'fl_length_list', 'fl_areasqkm_sum', 'fl_areasqkm_count',
       'fl_areasqkm_mean', 'fl_gnis_name_ind_sum', 'fl_gnis_name_ind_count',
       'fl_gnis_name_ind_mean', 'fl_totdasqkm_sum', 'fl_totdasqkm_count',
       'fl_totdasqkm_mean', 'fl_flow_type_sum', 'fl_flow_type_count',
       'fl_flow_type_mean', 'fl_streamorde_sum', 'fl_streamorde_count',
       'fl_streamorde_mean', 'fl_intephem_sum', 'fl_intephem_count',
       'fl_intephem_mean', 'fl_startflag_sum', 'fl_startflag_count',
       'fl_startflag_mean', 'fl_divergence_sum', 'fl_divergence_count',
       'fl_divergence_mean', 'wb_comid_str', 'wb_ftype_str', 'wb_gnis_id_str',
       'wb_area_sum', 'wb_area_count', 'wb_area_mean', 'wb_gnis_name_ind_sum',
       'wb_gnis_name_ind_count', 'wb_gnis_name_ind_mean', 'fl_comid_str',
       'fl_ftype_str', 'fl_gnis_id_str', 'fl_length_sum', 'fl_length_count',
       'fl_length_mean'],
      dtype='object')

In [273]:
'cwr_nwpr_' + str(2 * PATCH_SIZE) + 'm_nhd_variables_partsmerged'

'cwr_nwpr_2500m_nhd_variables_partsmerged'

In [274]:
import pickle

# use protocol 3 for backwards compatibility with Python 3.6 on AWS
pickle.dump(df, open('cwr_nwpr_' + str(2 * PATCH_SIZE) + 'm_nhd_variables_extracted',"wb"), protocol=3)
# df.to_csv("1000mX1000m_nhd_variables_extracted.csv")

In [275]:
'cwr_nwpr_' + str(2 * PATCH_SIZE) + 'm_nhd_variables_extracted'

'cwr_nwpr_2500m_nhd_variables_extracted'

In [276]:
# df_merged.to_pickle("combined_regular_with_ssurgo_nhd_2.5kmX2.5km")

In [277]:
# df.to_csv("combined_regular_with_ssurgo_nhd_2.5kmX2.5km.csv")
# df.to_pickle("combined_regular_with_ssurgo_nhd_2.5kmX2.5km")

In [278]:
# df.to_csv("combined_regular_with_ssurgo_nhd_200mX200m.csv")
# df.to_pickle("combined_regular_with_ssurgo_nhd_200mX200m")

# Strip ftype list into individual columns

## replace 200m by 2.5km and vice versa

In [279]:
# with open("combined_regular_with_ssurgo_nhd_2.5kmX2.5km_pkl3.pkl", "rb") as f:
#     df_readfrompkl = pickle.load(f)
import pandas as pd
import pickle
# df = pd.read_pickle("2.5kmX2.5km_nhd_variables_extracted")
df = pd.read_pickle('cwr_nwpr_' + str(2 * PATCH_SIZE) + 'm_nhd_variables_extracted')
df.describe()

,latitude,longitude,Index,fl_areasqkm_sum,fl_areasqkm_count,fl_areasqkm_mean,fl_gnis_name_ind_sum,fl_gnis_name_ind_count,fl_gnis_name_ind_mean,fl_totdasqkm_sum,...,fl_divergence_mean,wb_area_sum,wb_area_count,wb_area_mean,wb_gnis_name_ind_sum,wb_gnis_name_ind_count,wb_gnis_name_ind_mean,fl_length_sum,fl_length_count,fl_length_mean
count,3218.000000,3218.000000,3218.000000,3218.000000,3218.000000,3218.000000,3218.000000,3218.000000,3218.000000,3.218000e+03,...,3218.000000,3218.000000,3218.000000,3218.000000,3.218000e+03,3218.000000,3.218000e+03,1758.0,3218.000000,1758.0
mean,39.645566,-91.903265,1609.500000,14.947745,4.160348,5.158235,1.860783,4.878807,0.368007,1.997859e+04,...,0.027611,409.104406,0.830019,296.881952,2.081034e+05,0.227160,1.610609e+05,0.0,1.052517,0.0
std,5.438762,15.926433,929.100909,17.333822,4.021981,9.669960,2.329257,7.951726,0.360386,3.294527e+05,...,0.130694,4410.133505,1.665352,3495.852199,5.703504e+05,0.604857,4.120467e+05,0.0,1.771193,0.0
min,13.447080,-158.125820,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-5.998713e+04,...,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000e+00,0.0,0.000000,0.0
25%,35.616210,-93.991342,805.250000,7.143300,1.000000,1.512172,0.000000,2.000000,0.000000,9.561150e+00,...,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000e+00,0.0,0.000000,0.0
50%,39.781325,-88.034425,1609.500000,12.900150,3.000000,2.884762,1.000000,4.000000,0.333333,3.350385e+01,...,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000e+00,0.0,0.000000,0.0
75%,43.316587,-81.846850,2413.750000,19.067175,6.000000,5.609587,3.000000,6.000000,0.666667,2.180284e+02,...,0.000000,0.056000,1.000000,0.033625,0.000000e+00,0.000000,0.000000e+00,0.0,1.000000,0.0
max,70.296720,144.765240,3218.000000,564.331500,56.000000,283.535100,25.000000,235.000000,1.000000,1.382164e+07,...,2.000000,57527.747000,25.000000,57516.647000,8.770948e+06,6.000000,2.026720e+06,0.0,25.000000,0.0

In [280]:
df.columns

Index(['jurisdiction_type', 'da_number', 'latitude', 'longitude',
       'cwa_determination', 'Index', 'nhd_vars_wb', 'nhd_vars_fl',
       'wb_comid_list', 'wb_ftype_str_list', 'wb_gnis_id_list', 'wb_area_list',
       'fl_comid_list', 'fl_ftype_str_list', 'fl_gnis_id_list',
       'fl_length_list', 'fl_areasqkm_sum', 'fl_areasqkm_count',
       'fl_areasqkm_mean', 'fl_gnis_name_ind_sum', 'fl_gnis_name_ind_count',
       'fl_gnis_name_ind_mean', 'fl_totdasqkm_sum', 'fl_totdasqkm_count',
       'fl_totdasqkm_mean', 'fl_flow_type_sum', 'fl_flow_type_count',
       'fl_flow_type_mean', 'fl_streamorde_sum', 'fl_streamorde_count',
       'fl_streamorde_mean', 'fl_intephem_sum', 'fl_intephem_count',
       'fl_intephem_mean', 'fl_startflag_sum', 'fl_startflag_count',
       'fl_startflag_mean', 'fl_divergence_sum', 'fl_divergence_count',
       'fl_divergence_mean', 'wb_comid_str', 'wb_ftype_str', 'wb_gnis_id_str',
       'wb_area_sum', 'wb_area_count', 'wb_area_mean', 'wb_gnis_name_ind_sum',
       'wb_gnis_name_ind_count', 'wb_gnis_name_ind_mean', 'fl_comid_str',
       'fl_ftype_str', 'fl_gnis_id_str', 'fl_length_sum', 'fl_length_count',
       'fl_length_mean'],
      dtype='object')

In [281]:
old_columns = (['nhd_vars_wb', 'nhd_vars_fl',
       'wb_comid_list', 'wb_ftype_str_list', 'wb_gnis_id_list', 'wb_area_list',
       'fl_comid_list', 'fl_ftype_str_list', 'fl_gnis_id_list',
       'fl_length_list', 'fl_areasqkm_sum', 'fl_areasqkm_count',
       'fl_areasqkm_mean', 'fl_gnis_name_ind_sum', 'fl_gnis_name_ind_count',
       'fl_gnis_name_ind_mean', 'fl_totdasqkm_sum', 'fl_totdasqkm_count',
       'fl_totdasqkm_mean', 'fl_flow_type_sum', 'fl_flow_type_count',
       'fl_flow_type_mean', 'fl_streamorde_sum', 'fl_streamorde_count',
       'fl_streamorde_mean', 'fl_intephem_sum', 'fl_intephem_count',
       'fl_intephem_mean', 'fl_startflag_sum', 'fl_startflag_count',
       'fl_startflag_mean', 'fl_divergence_sum', 'fl_divergence_count',
       'fl_divergence_mean', 'wb_comid_str', 'wb_ftype_str', 'wb_gnis_id_str',
       'wb_area_sum', 'wb_area_count', 'wb_area_mean', 'wb_gnis_name_ind_sum',
       'wb_gnis_name_ind_count', 'wb_gnis_name_ind_mean', 'fl_comid_str',
       'fl_ftype_str', 'fl_gnis_id_str', 'fl_length_sum', 'fl_length_count',
       'fl_length_mean'])


new_columns = [column + "_" + str(2 * PATCH_SIZE) + "m" for column in old_columns]
new_columns

col_name_dict = dict(zip(old_columns, new_columns))


df.rename(columns=col_name_dict, inplace=True)
df.columns

Index(['jurisdiction_type', 'da_number', 'latitude', 'longitude',
       'cwa_determination', 'Index', 'nhd_vars_wb_2500m', 'nhd_vars_fl_2500m',
       'wb_comid_list_2500m', 'wb_ftype_str_list_2500m',
       'wb_gnis_id_list_2500m', 'wb_area_list_2500m', 'fl_comid_list_2500m',
       'fl_ftype_str_list_2500m', 'fl_gnis_id_list_2500m',
       'fl_length_list_2500m', 'fl_areasqkm_sum_2500m',
       'fl_areasqkm_count_2500m', 'fl_areasqkm_mean_2500m',
       'fl_gnis_name_ind_sum_2500m', 'fl_gnis_name_ind_count_2500m',
       'fl_gnis_name_ind_mean_2500m', 'fl_totdasqkm_sum_2500m',
       'fl_totdasqkm_count_2500m', 'fl_totdasqkm_mean_2500m',
       'fl_flow_type_sum_2500m', 'fl_flow_type_count_2500m',
       'fl_flow_type_mean_2500m', 'fl_streamorde_sum_2500m',
       'fl_streamorde_count_2500m', 'fl_streamorde_mean_2500m',
       'fl_intephem_sum_2500m', 'fl_intephem_count_2500m',
       'fl_intephem_mean_2500m', 'fl_startflag_sum_2500m',
       'fl_startflag_count_2500m', 'fl_startflag_mean_2500m',
       'fl_divergence_sum_2500m', 'fl_divergence_count_2500m',
       'fl_divergence_mean_2500m', 'wb_comid_str_2500m', 'wb_ftype_str_2500m',
       'wb_gnis_id_str_2500m', 'wb_area_sum_2500m', 'wb_area_count_2500m',
       'wb_area_mean_2500m', 'wb_gnis_name_ind_sum_2500m',
       'wb_gnis_name_ind_count_2500m', 'wb_gnis_name_ind_mean_2500m',
       'fl_comid_str_2500m', 'fl_ftype_str_2500m', 'fl_gnis_id_str_2500m',
       'fl_length_sum_2500m', 'fl_length_count_2500m', 'fl_length_mean_2500m'],
      dtype='object')

In [282]:
# df.fl_ftype_str_list_1000m#[9]

In [283]:
nhd_stats.columns

Index(['comid', 'long_comid', 'lat_comid', 'startflag', 'intephem',
       'divergence', 'streamorde', 'lengthkm', 'gnis_name_ind', 'areasqkm',
       'totdasqkm', 'flow_type', 'distup_max', 'distdown_max'],
      dtype='object')

In [284]:
# # attribute_features = (["ATTRIBUTE","SYSTEM_NAME"])

# def feature_vector(df_attr=df, feature="fl_ftype_str_list_2500m"):
#     """
    
#     Returns the vector for each feature of an attribute
    
#     input: NWI Code Definition as df_attr to find unique values for a featurE & feature name 
#     output: feature vector for that (attribute, feature) set
    
#     """
#     # find unique values for a give feature
#     feature_list = list(df_attr[feature].unique())
#     # sort
#     feature_list.sort()
#     # lower case and replace spaces by _
#     feature_list = [feature.lower().replace(" ", "_") for feature in feature_list]
    
#     return feature_list
#     # create a dict where the order is maintained. Initialize values to 0
#     feature_dict = OrderedDict(zip(feature_list, [0] * len(feature_list)))
    
#     # you would like to actually create a new column with this frozen feature_list
#     df_attr[feature + "_" + "uniques_list"] = df_attr.apply(lambda x: feature_list, axis=1)
#     return df_attr
    
# feature_vector()

In [285]:
# df["fl_ftype_str_list_200m"].unique()
# pd.DataFrame(df.fl_ftype_str_list_1000m)

In [286]:
df.columns

Index(['jurisdiction_type', 'da_number', 'latitude', 'longitude',
       'cwa_determination', 'Index', 'nhd_vars_wb_2500m', 'nhd_vars_fl_2500m',
       'wb_comid_list_2500m', 'wb_ftype_str_list_2500m',
       'wb_gnis_id_list_2500m', 'wb_area_list_2500m', 'fl_comid_list_2500m',
       'fl_ftype_str_list_2500m', 'fl_gnis_id_list_2500m',
       'fl_length_list_2500m', 'fl_areasqkm_sum_2500m',
       'fl_areasqkm_count_2500m', 'fl_areasqkm_mean_2500m',
       'fl_gnis_name_ind_sum_2500m', 'fl_gnis_name_ind_count_2500m',
       'fl_gnis_name_ind_mean_2500m', 'fl_totdasqkm_sum_2500m',
       'fl_totdasqkm_count_2500m', 'fl_totdasqkm_mean_2500m',
       'fl_flow_type_sum_2500m', 'fl_flow_type_count_2500m',
       'fl_flow_type_mean_2500m', 'fl_streamorde_sum_2500m',
       'fl_streamorde_count_2500m', 'fl_streamorde_mean_2500m',
       'fl_intephem_sum_2500m', 'fl_intephem_count_2500m',
       'fl_intephem_mean_2500m', 'fl_startflag_sum_2500m',
       'fl_startflag_count_2500m', 'fl_startflag_mean_2500m',
       'fl_divergence_sum_2500m', 'fl_divergence_count_2500m',
       'fl_divergence_mean_2500m', 'wb_comid_str_2500m', 'wb_ftype_str_2500m',
       'wb_gnis_id_str_2500m', 'wb_area_sum_2500m', 'wb_area_count_2500m',
       'wb_area_mean_2500m', 'wb_gnis_name_ind_sum_2500m',
       'wb_gnis_name_ind_count_2500m', 'wb_gnis_name_ind_mean_2500m',
       'fl_comid_str_2500m', 'fl_ftype_str_2500m', 'fl_gnis_id_str_2500m',
       'fl_length_sum_2500m', 'fl_length_count_2500m', 'fl_length_mean_2500m'],
      dtype='object')

In [287]:
from collections import OrderedDict
from collections import defaultdict

unique_ftype_dict = defaultdict(int)

for row in np.array(df.index):
    try:
        for ftype in df.loc[row,"fl_ftype_str_list_" + str(2 * PATCH_SIZE) + "m"]:
            unique_ftype_dict[ftype.lower()] += 1
    except Exception as e:
        print(df.loc[row,"fl_ftype_str_list_" + str(2 * PATCH_SIZE) + "m"])
#         print(row)
        print(e)
unique_ftype_dict.keys()
sorted_unique_ftype_list = sorted(tuple(unique_ftype_dict.keys()))

ordered_ftype_dict = OrderedDict()
for key in sorted_unique_ftype_list:
    ordered_ftype_dict[key] = 0
    
ordered_ftype_dict.items()

odict_items([('artificialpath', 0), ('canalditch', 0), ('coastline', 0), ('connector', 0), ('pipeline', 0), ('streamriver', 0)])

In [288]:
# # df.loc[0, "fl_ftype_str_list_1000m"]
# # "fl_ftype_str_list_1000m" in df.columns
# df.fl_ftype_str_list_1000m[0:3]
# df.loc[14324, "fl_ftype_str_list_1000m"]
# for i in np.array(df.index):
#     print(i)

In [289]:
sorted_unique_ftype_list = sorted(tuple(unique_ftype_dict.keys()))

def create_ftype_vector(ftype_list):
    ftype_dict = OrderedDict(zip(sorted_unique_ftype_list, [0] * len(sorted_unique_ftype_list)))    
    
    for ftype in ftype_list:
        ftype_dict[ftype.lower()] += 1

    return list(ftype_dict.values())
    
    

df["fl_ftype_str_vector_" + str(2 * PATCH_SIZE) + "m"] = df.apply(lambda x: create_ftype_vector(x["fl_ftype_str_list_" + str(2 * PATCH_SIZE) + "m"]), axis=1)

In [291]:
df["fl_ftype_str_vector_" + str(2 * PATCH_SIZE) + "m"]#[14324]

14324    [0, 0, 0, 0, 0, 3]
14339    [0, 0, 0, 0, 0, 3]
14346    [0, 0, 0, 0, 0, 3]
14348    [0, 1, 0, 0, 0, 5]
14378    [2, 0, 0, 0, 0, 1]
                ...
7258     [0, 0, 0, 0, 0, 4]
7262     [0, 1, 0, 0, 0, 2]
7266     [0, 0, 3, 0, 0, 2]
7272     [0, 0, 0, 0, 0, 2]
7273     [0, 0, 0, 0, 0, 1]
Name: fl_ftype_str_vector_2500m, Length: 3218, dtype: object

In [292]:
df.loc[14324, "fl_ftype_str_list_" + str(2 * PATCH_SIZE) + "m"]

['StreamRiver', 'StreamRiver', 'StreamRiver']

In [293]:
df["fl_ftype_str_vector_" + str(2 * PATCH_SIZE) + "m"][14324][0]

0

In [294]:
for count, ftype in enumerate(sorted_unique_ftype_list):
    df["fl_ftype_" + ftype + "_1000m"] = df.apply(lambda x: x["fl_ftype_str_vector_" + str(2 * PATCH_SIZE) + "m"][count], axis=1)

In [295]:
df.columns

Index(['jurisdiction_type', 'da_number', 'latitude', 'longitude',
       'cwa_determination', 'Index', 'nhd_vars_wb_2500m', 'nhd_vars_fl_2500m',
       'wb_comid_list_2500m', 'wb_ftype_str_list_2500m',
       'wb_gnis_id_list_2500m', 'wb_area_list_2500m', 'fl_comid_list_2500m',
       'fl_ftype_str_list_2500m', 'fl_gnis_id_list_2500m',
       'fl_length_list_2500m', 'fl_areasqkm_sum_2500m',
       'fl_areasqkm_count_2500m', 'fl_areasqkm_mean_2500m',
       'fl_gnis_name_ind_sum_2500m', 'fl_gnis_name_ind_count_2500m',
       'fl_gnis_name_ind_mean_2500m', 'fl_totdasqkm_sum_2500m',
       'fl_totdasqkm_count_2500m', 'fl_totdasqkm_mean_2500m',
       'fl_flow_type_sum_2500m', 'fl_flow_type_count_2500m',
       'fl_flow_type_mean_2500m', 'fl_streamorde_sum_2500m',
       'fl_streamorde_count_2500m', 'fl_streamorde_mean_2500m',
       'fl_intephem_sum_2500m', 'fl_intephem_count_2500m',
       'fl_intephem_mean_2500m', 'fl_startflag_sum_2500m',
       'fl_startflag_count_2500m', 'fl_startflag_mean_2500m',
       'fl_divergence_sum_2500m', 'fl_divergence_count_2500m',
       'fl_divergence_mean_2500m', 'wb_comid_str_2500m', 'wb_ftype_str_2500m',
       'wb_gnis_id_str_2500m', 'wb_area_sum_2500m', 'wb_area_count_2500m',
       'wb_area_mean_2500m', 'wb_gnis_name_ind_sum_2500m',
       'wb_gnis_name_ind_count_2500m', 'wb_gnis_name_ind_mean_2500m',
       'fl_comid_str_2500m', 'fl_ftype_str_2500m', 'fl_gnis_id_str_2500m',
       'fl_length_sum_2500m', 'fl_length_count_2500m', 'fl_length_mean_2500m',
       'fl_ftype_str_vector_2500m', 'fl_ftype_artificialpath_1000m',
       'fl_ftype_canalditch_1000m', 'fl_ftype_coastline_1000m',
       'fl_ftype_connector_1000m', 'fl_ftype_pipeline_1000m',
       'fl_ftype_streamriver_1000m'],
      dtype='object')

# Strip wb_ftype list into individual columns

In [296]:
from collections import OrderedDict
from collections import defaultdict

wb_unique_ftype_dict = defaultdict(int)

for row in np.array(df.index):
    for ftype in df.loc[row,"wb_ftype_str_list_" + str(2 * PATCH_SIZE) + "m"]:
        wb_unique_ftype_dict[ftype.lower()] += 1
        
wb_unique_ftype_dict.keys()
wb_sorted_unique_ftype_list = sorted(tuple(wb_unique_ftype_dict.keys()))

wb_ordered_ftype_dict = OrderedDict()
for key in wb_sorted_unique_ftype_list:
    wb_ordered_ftype_dict[key] = 0
    
wb_ordered_ftype_dict.items()

odict_items([('estuary', 0), ('lakepond', 0), ('playa', 0), ('reservoir', 0), ('swampmarsh', 0)])

In [297]:
wb_sorted_unique_ftype_list = sorted(tuple(wb_unique_ftype_dict.keys()))

def wb_create_ftype_vector(ftype_list):
    ftype_dict = OrderedDict(zip(wb_sorted_unique_ftype_list, [0] * len(wb_sorted_unique_ftype_list)))    
    
    for ftype in ftype_list:
        ftype_dict[ftype.lower()] += 1

    return list(ftype_dict.values())
    
    

df["wb_ftype_str_vector_" + str(2 * PATCH_SIZE) + "m"] = df.apply(lambda x: wb_create_ftype_vector(x["wb_ftype_str_list_" + str(2 * PATCH_SIZE) + "m"]), axis=1)

In [298]:
def strip_vector(ftype_vector, count):
    try:
        return ftype_vector[count]
    except:
        return 0

for count, ftype in enumerate(sorted_unique_ftype_list):
    df["wb_ftype_" + ftype + "_" + str(2 * PATCH_SIZE) + "m"] = df.apply(lambda x: strip_vector(x["wb_ftype_str_vector_" + str(2 * PATCH_SIZE) + "m"], count), axis=1)

In [299]:
df.columns

Index(['jurisdiction_type', 'da_number', 'latitude', 'longitude',
       'cwa_determination', 'Index', 'nhd_vars_wb_2500m', 'nhd_vars_fl_2500m',
       'wb_comid_list_2500m', 'wb_ftype_str_list_2500m',
       'wb_gnis_id_list_2500m', 'wb_area_list_2500m', 'fl_comid_list_2500m',
       'fl_ftype_str_list_2500m', 'fl_gnis_id_list_2500m',
       'fl_length_list_2500m', 'fl_areasqkm_sum_2500m',
       'fl_areasqkm_count_2500m', 'fl_areasqkm_mean_2500m',
       'fl_gnis_name_ind_sum_2500m', 'fl_gnis_name_ind_count_2500m',
       'fl_gnis_name_ind_mean_2500m', 'fl_totdasqkm_sum_2500m',
       'fl_totdasqkm_count_2500m', 'fl_totdasqkm_mean_2500m',
       'fl_flow_type_sum_2500m', 'fl_flow_type_count_2500m',
       'fl_flow_type_mean_2500m', 'fl_streamorde_sum_2500m',
       'fl_streamorde_count_2500m', 'fl_streamorde_mean_2500m',
       'fl_intephem_sum_2500m', 'fl_intephem_count_2500m',
       'fl_intephem_mean_2500m', 'fl_startflag_sum_2500m',
       'fl_startflag_count_2500m', 'fl_startflag_mean_2500m',
       'fl_divergence_sum_2500m', 'fl_divergence_count_2500m',
       'fl_divergence_mean_2500m', 'wb_comid_str_2500m', 'wb_ftype_str_2500m',
       'wb_gnis_id_str_2500m', 'wb_area_sum_2500m', 'wb_area_count_2500m',
       'wb_area_mean_2500m', 'wb_gnis_name_ind_sum_2500m',
       'wb_gnis_name_ind_count_2500m', 'wb_gnis_name_ind_mean_2500m',
       'fl_comid_str_2500m', 'fl_ftype_str_2500m', 'fl_gnis_id_str_2500m',
       'fl_length_sum_2500m', 'fl_length_count_2500m', 'fl_length_mean_2500m',
       'fl_ftype_str_vector_2500m', 'fl_ftype_artificialpath_1000m',
       'fl_ftype_canalditch_1000m', 'fl_ftype_coastline_1000m',
       'fl_ftype_connector_1000m', 'fl_ftype_pipeline_1000m',
       'fl_ftype_streamriver_1000m', 'wb_ftype_str_vector_2500m',
       'wb_ftype_artificialpath_2500m', 'wb_ftype_canalditch_2500m',
       'wb_ftype_coastline_2500m', 'wb_ftype_connector_2500m',
       'wb_ftype_pipeline_2500m', 'wb_ftype_streamriver_2500m'],
      dtype='object')

In [300]:
# write this df into pickle
import pickle
pickle.dump(df, open('cwr_nwpr_' + str(2 * PATCH_SIZE) + 'm_nhd_variables_extracted_stripped',"wb"), protocol=3)

In [301]:
pd.read_pickle('cwr_nwpr_' + str(2 * PATCH_SIZE) + 'm_nhd_variables_extracted_stripped').columns

Index(['jurisdiction_type', 'da_number', 'latitude', 'longitude',
       'cwa_determination', 'Index', 'nhd_vars_wb_2500m', 'nhd_vars_fl_2500m',
       'wb_comid_list_2500m', 'wb_ftype_str_list_2500m',
       'wb_gnis_id_list_2500m', 'wb_area_list_2500m', 'fl_comid_list_2500m',
       'fl_ftype_str_list_2500m', 'fl_gnis_id_list_2500m',
       'fl_length_list_2500m', 'fl_areasqkm_sum_2500m',
       'fl_areasqkm_count_2500m', 'fl_areasqkm_mean_2500m',
       'fl_gnis_name_ind_sum_2500m', 'fl_gnis_name_ind_count_2500m',
       'fl_gnis_name_ind_mean_2500m', 'fl_totdasqkm_sum_2500m',
       'fl_totdasqkm_count_2500m', 'fl_totdasqkm_mean_2500m',
       'fl_flow_type_sum_2500m', 'fl_flow_type_count_2500m',
       'fl_flow_type_mean_2500m', 'fl_streamorde_sum_2500m',
       'fl_streamorde_count_2500m', 'fl_streamorde_mean_2500m',
       'fl_intephem_sum_2500m', 'fl_intephem_count_2500m',
       'fl_intephem_mean_2500m', 'fl_startflag_sum_2500m',
       'fl_startflag_count_2500m', 'fl_startflag_mean_2500m',
       'fl_divergence_sum_2500m', 'fl_divergence_count_2500m',
       'fl_divergence_mean_2500m', 'wb_comid_str_2500m', 'wb_ftype_str_2500m',
       'wb_gnis_id_str_2500m', 'wb_area_sum_2500m', 'wb_area_count_2500m',
       'wb_area_mean_2500m', 'wb_gnis_name_ind_sum_2500m',
       'wb_gnis_name_ind_count_2500m', 'wb_gnis_name_ind_mean_2500m',
       'fl_comid_str_2500m', 'fl_ftype_str_2500m', 'fl_gnis_id_str_2500m',
       'fl_length_sum_2500m', 'fl_length_count_2500m', 'fl_length_mean_2500m',
       'fl_ftype_str_vector_2500m', 'fl_ftype_artificialpath_1000m',
       'fl_ftype_canalditch_1000m', 'fl_ftype_coastline_1000m',
       'fl_ftype_connector_1000m', 'fl_ftype_pipeline_1000m',
       'fl_ftype_streamriver_1000m', 'wb_ftype_str_vector_2500m',
       'wb_ftype_artificialpath_2500m', 'wb_ftype_canalditch_2500m',
       'wb_ftype_coastline_2500m', 'wb_ftype_connector_2500m',
       'wb_ftype_pipeline_2500m', 'wb_ftype_streamriver_2500m'],
      dtype='object')

In [302]:
df.shape

(3218, 69)