In [168]:
import pandas as pd
import numpy as np
import time
import ee
import pickle
ee.Initialize()
from datetime import datetime
df = pd.read_csv("combined_regular_clean_with_ssurgo_variables.csv")
df = df.loc[:10]
df.head()

,Unnamed: 0,Unnamed: 0.1,jurisdiction_type,da_number,district,project_name,longitude,latitude,date_issued_or_denied,rha_determination,...,cwa7,cwa8,cwa9,potential_wetland,index,Index,mukey,hydclprs,aws025wta,drclassdcd
0,0,0,RAPANOS,LRB-1983-10120,Buffalo,Trade-A-Yacht (Hibiscus Harbor - Union Springs...,-76.70773,42.85821,06/19/2020,0,...,0,0,0,1,1,1,289404.0,100.0,7.40,Very poorly drained
1,1,1,RAPANOS,LRB-1985-69031,Buffalo,"POOLEY, MARK A.",-75.85524,43.15230,07/07/2016,0,...,0,0,0,0,2,2,293511.0,0.0,0.00,NaN
2,2,2,RAPANOS,LRB-1986-99614,Buffalo,"Bellamy, Michael (previous: MACKO, JOHN)",-78.04046,42.68911,10/12/2017,0,...,0,0,0,0,3,3,295436.0,0.0,0.00,NaN
3,3,3,RAPANOS,LRB-1990-97632,Buffalo,WESTWOOD COUNTRY CLUB,-78.77134,42.97994,06/28/2016,0,...,0,0,0,1,4,4,290780.0,5.0,2.25,Moderately well drained
4,4,4,RAPANOS,LRB-1991-98611,Buffalo,MODERN LANDFILL INCORPORATED,-78.97142,43.21616,03/22/2016,0,...,0,0,0,1,5,5,293019.0,93.0,5.20,Poorly drained

In [169]:
def square(lat=45.475649, lon=-69.471018 , size=100):
  crs_proj = "EPSG:4326"  
  return ee.Geometry.Point([lon, lat], proj=crs_proj).buffer(size).bounds()

In [170]:
(ee.FeatureCollection("users/madhukarreddy/US_county_map")
 .filterBounds(square())
 .getInfo()
 .get("features")[0]
 .get('properties'))
#  .get('NAME'))

{'AFFGEOID': '0500000US23021',
 'ALAND': 10259018201,
 'AWATER': 1080044975,
 'COUNTYFP': '021',
 'COUNTYNS': '00581296',
 'GEOID': '23021',
 'LSAD': '06',
 'NAME': 'Piscataquis',
 'STATEFP': '23'}

In [171]:
df.head()

,Unnamed: 0,Unnamed: 0.1,jurisdiction_type,da_number,district,project_name,longitude,latitude,date_issued_or_denied,rha_determination,...,cwa7,cwa8,cwa9,potential_wetland,index,Index,mukey,hydclprs,aws025wta,drclassdcd
0,0,0,RAPANOS,LRB-1983-10120,Buffalo,Trade-A-Yacht (Hibiscus Harbor - Union Springs...,-76.70773,42.85821,06/19/2020,0,...,0,0,0,1,1,1,289404.0,100.0,7.40,Very poorly drained
1,1,1,RAPANOS,LRB-1985-69031,Buffalo,"POOLEY, MARK A.",-75.85524,43.15230,07/07/2016,0,...,0,0,0,0,2,2,293511.0,0.0,0.00,NaN
2,2,2,RAPANOS,LRB-1986-99614,Buffalo,"Bellamy, Michael (previous: MACKO, JOHN)",-78.04046,42.68911,10/12/2017,0,...,0,0,0,0,3,3,295436.0,0.0,0.00,NaN
3,3,3,RAPANOS,LRB-1990-97632,Buffalo,WESTWOOD COUNTRY CLUB,-78.77134,42.97994,06/28/2016,0,...,0,0,0,1,4,4,290780.0,5.0,2.25,Moderately well drained
4,4,4,RAPANOS,LRB-1991-98611,Buffalo,MODERN LANDFILL INCORPORATED,-78.97142,43.21616,03/22/2016,0,...,0,0,0,1,5,5,293019.0,93.0,5.20,Poorly drained

In [172]:
def find_county(lat=42.85821, lon=-76.70773, size=100):
    try:
        result = (ee.FeatureCollection("users/madhukarreddy/US_county_map")
         .filterBounds(square(lat, lon, size))
         .getInfo()
         .get("features")[0]
         .get('properties')
         .get('NAME'))
    except Exception as e:
        print(e)
        
        return np.nan
    
    return result
find_county()

'Cayuga'

In [173]:
def find_state(lat=42.85821, lon=-76.70773, size=100):
    try:
        result = (ee.FeatureCollection("users/madhukarreddy/US_county_map")
         .filterBounds(square(lat, lon, size))
         .getInfo()
         .get("features")[0]
         .get('properties')
         .get('STATEFP'))
    except:
        return np.nan
    
    return result
find_state()

'36'

In [174]:
print(datetime.now())

2021-03-19 15:59:52.701059

In [175]:
df["county"] = df.apply(lambda x: find_county(x.latitude, x.longitude), axis=1)

In [176]:
print(datetime.now())

2021-03-19 16:00:00.192927

In [177]:
df["state"] = df.apply(lambda x: find_state(x.latitude, x.longitude), axis=1)

In [178]:
print(datetime.now())

2021-03-19 16:00:04.843561

In [179]:
np.mean(np.array(df.county.isna()))
df[df.county.isna()]

Empty DataFrame
Columns: [Unnamed: 0, Unnamed: 0.1, jurisdiction_type, da_number, district, project_name, longitude, latitude, date_issued_or_denied, rha_determination, cwa_determination, rha1, rha2, cwa1, cwa2, cwa3, cwa4, cwa5, cwa6, cwa7, cwa8, cwa9, potential_wetland, index, Index, mukey, hydclprs, aws025wta, drclassdcd, county, state]
Index: []

[0 rows x 31 columns]

In [180]:
np.mean(np.array(df.county.isna()))

0.0

In [182]:
import pickle

# use protocol 3 for backwards compatibility with Python 3.6 on AWS
pickle.dump(df, open("2021.03.17_us_county_raw0","wb"), protocol=3)
df.to_csv("2021.03.17_us_county_raw0.csv")

# Read the file

In [183]:

df = pd.read_pickle("2021.03.17_us_county_raw0")

In [184]:
df.head()

,Unnamed: 0,Unnamed: 0.1,jurisdiction_type,da_number,district,project_name,longitude,latitude,date_issued_or_denied,rha_determination,...,cwa9,potential_wetland,index,Index,mukey,hydclprs,aws025wta,drclassdcd,county,state
0,0,0,RAPANOS,LRB-1983-10120,Buffalo,Trade-A-Yacht (Hibiscus Harbor - Union Springs...,-76.70773,42.85821,06/19/2020,0,...,0,1,1,1,289404.0,100.0,7.40,Very poorly drained,Cayuga,36
1,1,1,RAPANOS,LRB-1985-69031,Buffalo,"POOLEY, MARK A.",-75.85524,43.15230,07/07/2016,0,...,0,0,2,2,293511.0,0.0,0.00,NaN,Madison,36
2,2,2,RAPANOS,LRB-1986-99614,Buffalo,"Bellamy, Michael (previous: MACKO, JOHN)",-78.04046,42.68911,10/12/2017,0,...,0,0,3,3,295436.0,0.0,0.00,NaN,Wyoming,36
3,3,3,RAPANOS,LRB-1990-97632,Buffalo,WESTWOOD COUNTRY CLUB,-78.77134,42.97994,06/28/2016,0,...,0,1,4,4,290780.0,5.0,2.25,Moderately well drained,Erie,36
4,4,4,RAPANOS,LRB-1991-98611,Buffalo,MODERN LANDFILL INCORPORATED,-78.97142,43.21616,03/22/2016,0,...,0,1,5,5,293019.0,93.0,5.20,Poorly drained,Niagara,36

In [185]:
np.mean(np.array(df.county.isna()))

0.0

In [186]:
df[df.county.isna()].head()

Empty DataFrame
Columns: [Unnamed: 0, Unnamed: 0.1, jurisdiction_type, da_number, district, project_name, longitude, latitude, date_issued_or_denied, rha_determination, cwa_determination, rha1, rha2, cwa1, cwa2, cwa3, cwa4, cwa5, cwa6, cwa7, cwa8, cwa9, potential_wetland, index, Index, mukey, hydclprs, aws025wta, drclassdcd, county, state]
Index: []

[0 rows x 31 columns]

In [187]:
df[df.county.isna()].shape

(0, 31)

In [188]:
df.loc[df.county.isna(),:].head(2)

Empty DataFrame
Columns: [Unnamed: 0, Unnamed: 0.1, jurisdiction_type, da_number, district, project_name, longitude, latitude, date_issued_or_denied, rha_determination, cwa_determination, rha1, rha2, cwa1, cwa2, cwa3, cwa4, cwa5, cwa6, cwa7, cwa8, cwa9, potential_wetland, index, Index, mukey, hydclprs, aws025wta, drclassdcd, county, state]
Index: []

[0 rows x 31 columns]

In [189]:
def find_county2(lat=43.26720, lon=-82.52610):
    try:
        return (ee.FeatureCollection("users/madhukarreddy/US_county_map")
         .filterBounds(square(lat, lon, size=10000))
         .getInfo()
         .get("features")[0]
         .get('properties')
         .get('NAME'))
    except:
        return np.nan

find_county2()

'Sanilac'

In [190]:
def find_state2(lat=43.26720, lon=-82.52610):
    try:
        return (ee.FeatureCollection("users/madhukarreddy/US_county_map")
         .filterBounds(square(lat, lon, size=10000))
         .getInfo()
         .get("features")[0]
         .get('properties')
         .get('STATEFP'))
    except:
        return np.nan

find_state2()

'26'

In [191]:
df_temp = df.loc[df.county.isna(),:].apply(lambda x: find_county2(x.latitude, x.longitude), axis=1)

In [192]:
np.mean(df_temp.isna())

Unnamed: 0              NaN
Unnamed: 0.1            NaN
jurisdiction_type       NaN
da_number               NaN
district                NaN
project_name            NaN
longitude               NaN
latitude                NaN
date_issued_or_denied   NaN
rha_determination       NaN
cwa_determination       NaN
rha1                    NaN
rha2                    NaN
cwa1                    NaN
cwa2                    NaN
cwa3                    NaN
cwa4                    NaN
cwa5                    NaN
cwa6                    NaN
cwa7                    NaN
cwa8                    NaN
cwa9                    NaN
potential_wetland       NaN
index                   NaN
Index                   NaN
mukey                   NaN
hydclprs                NaN
aws025wta               NaN
drclassdcd              NaN
county                  NaN
state                   NaN
dtype: float64

In [193]:
df.loc[df.county.isna(),:][df_temp.isna()]

Empty DataFrame
Columns: [Unnamed: 0, Unnamed: 0.1, jurisdiction_type, da_number, district, project_name, longitude, latitude, date_issued_or_denied, rha_determination, cwa_determination, rha1, rha2, cwa1, cwa2, cwa3, cwa4, cwa5, cwa6, cwa7, cwa8, cwa9, potential_wetland, index, Index, mukey, hydclprs, aws025wta, drclassdcd, county, state]
Index: []

[0 rows x 31 columns]

In [194]:
def find_county3(lat=43.26720, lon=-82.52610, value=1):
    if type(value) != str:
        try:
            return (ee.FeatureCollection("users/madhukarreddy/US_county_map")
             .filterBounds(square(lat, lon, size=10000))
             .getInfo()
             .get("features")[0]
             .get('properties')
             .get('NAME'))
        except:
            return np.nan
    else:
        return value
find_county3()

'Sanilac'

In [195]:
def find_state3(lat=43.26720, lon=-82.52610, value=1):
    if type(value) != str:
        try:
            return (ee.FeatureCollection("users/madhukarreddy/US_county_map")
             .filterBounds(square(lat, lon, size=10000))
             .getInfo()
             .get("features")[0]
             .get('properties')
             .get('NAME'))
        except:
            return np.nan
    else:
        return value
find_state3()

'Sanilac'

In [196]:
df.apply(lambda x: find_state3(x.latitude, x.longitude, x.state), axis=1)

0     36
1     36
2     36
3     36
4     36
5     36
6     36
7     36
8     36
9     36
10    39
dtype: object

In [197]:
# df.apply(lambda x: find_county2(x.latitude, x.longitude) if np.isnan(x.county) else x.county, axis=1)

df["county"] = df.apply(lambda x: find_county3(x.latitude, x.longitude, x.county), axis=1)
df["state"] = df.apply(lambda x: find_state3(x.latitude, x.longitude, x.state), axis=1)

In [198]:
df.head()

,Unnamed: 0,Unnamed: 0.1,jurisdiction_type,da_number,district,project_name,longitude,latitude,date_issued_or_denied,rha_determination,...,cwa9,potential_wetland,index,Index,mukey,hydclprs,aws025wta,drclassdcd,county,state
0,0,0,RAPANOS,LRB-1983-10120,Buffalo,Trade-A-Yacht (Hibiscus Harbor - Union Springs...,-76.70773,42.85821,06/19/2020,0,...,0,1,1,1,289404.0,100.0,7.40,Very poorly drained,Cayuga,36
1,1,1,RAPANOS,LRB-1985-69031,Buffalo,"POOLEY, MARK A.",-75.85524,43.15230,07/07/2016,0,...,0,0,2,2,293511.0,0.0,0.00,NaN,Madison,36
2,2,2,RAPANOS,LRB-1986-99614,Buffalo,"Bellamy, Michael (previous: MACKO, JOHN)",-78.04046,42.68911,10/12/2017,0,...,0,0,3,3,295436.0,0.0,0.00,NaN,Wyoming,36
3,3,3,RAPANOS,LRB-1990-97632,Buffalo,WESTWOOD COUNTRY CLUB,-78.77134,42.97994,06/28/2016,0,...,0,1,4,4,290780.0,5.0,2.25,Moderately well drained,Erie,36
4,4,4,RAPANOS,LRB-1991-98611,Buffalo,MODERN LANDFILL INCORPORATED,-78.97142,43.21616,03/22/2016,0,...,0,1,5,5,293019.0,93.0,5.20,Poorly drained,Niagara,36

In [199]:
np.mean(np.array(df.county.isna()))

0.0

In [200]:
import pickle

# use protocol 3 for backwards compatibility with Python 3.6 on AWS
pickle.dump(df, open("2021.03.17_us_county_raw","wb"), protocol=3)
df.to_csv("2021.03.17_us_county_raw.csv")

In [201]:
df = pd.read_pickle("2021.03.17_us_county_raw")
df.head()

,Unnamed: 0,Unnamed: 0.1,jurisdiction_type,da_number,district,project_name,longitude,latitude,date_issued_or_denied,rha_determination,...,cwa9,potential_wetland,index,Index,mukey,hydclprs,aws025wta,drclassdcd,county,state
0,0,0,RAPANOS,LRB-1983-10120,Buffalo,Trade-A-Yacht (Hibiscus Harbor - Union Springs...,-76.70773,42.85821,06/19/2020,0,...,0,1,1,1,289404.0,100.0,7.40,Very poorly drained,Cayuga,36
1,1,1,RAPANOS,LRB-1985-69031,Buffalo,"POOLEY, MARK A.",-75.85524,43.15230,07/07/2016,0,...,0,0,2,2,293511.0,0.0,0.00,NaN,Madison,36
2,2,2,RAPANOS,LRB-1986-99614,Buffalo,"Bellamy, Michael (previous: MACKO, JOHN)",-78.04046,42.68911,10/12/2017,0,...,0,0,3,3,295436.0,0.0,0.00,NaN,Wyoming,36
3,3,3,RAPANOS,LRB-1990-97632,Buffalo,WESTWOOD COUNTRY CLUB,-78.77134,42.97994,06/28/2016,0,...,0,1,4,4,290780.0,5.0,2.25,Moderately well drained,Erie,36
4,4,4,RAPANOS,LRB-1991-98611,Buffalo,MODERN LANDFILL INCORPORATED,-78.97142,43.21616,03/22/2016,0,...,0,1,5,5,293019.0,93.0,5.20,Poorly drained,Niagara,36

In [202]:
len(df.state.unique())
len(df.county.unique())
set(df.state.unique())
np.mean(df.state.isna())

0.0