In [1]:
import ee
import pandas as pd
import numpy as np
ee.Initialize()

In [2]:
# read in the nhd addendum file
nhd_stats = pd.read_csv("nhd_stats_AI.csv")

# read in csv file with SSURGO variables
df_m = pd.read_csv("combined_regular_clean_with_ssurgo_variables.csv")

In [3]:
# comid's from GEE are extracted into several pickled files
# pickling is needed to be able to share easily across team members 
# join these pickled files into one full dataset

df_merged_full = []

for i in range(df_m.shape[0] // 500 + 1):
    try:
        df_temp = pd.read_pickle(('NHD_extracted_vars_2.5kmX2.5km/combined_regular_clean_with_ssurgo_nhd_variables_part' + 
                              str(500 * i + 1)))
    except:
        break
    df_merged_full.append(df_temp)
df_merged_full = pd.concat(df_merged_full)

In [4]:
df_merged_full.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'jurisdiction_type', 'da_number',
       'district', 'project_name', 'longitude', 'latitude',
       'date_issued_or_denied', 'rha_determination', 'cwa_determination',
       'rha1', 'rha2', 'cwa1', 'cwa2', 'cwa3', 'cwa4', 'cwa5', 'cwa6', 'cwa7',
       'cwa8', 'cwa9', 'potential_wetland', 'index', 'Index', 'mukey',
       'hydclprs', 'aws025wta', 'drclassdcd', 'nhd_vars_wb', 'nhd_vars_fl'],
      dtype='object')

# A word on 'nhd_vars_wb' and 'nhd_vars_fl' columns (see last two columns above)

## nhd_vars_wb: this is a list of lists
- for each record, the following six features from GEE are extracted as lists and stored into a list
- [comid_list, ftype_str, gnis_id, wb_area, fl_length, fcode]
- the column is labeled nhd_vars_wb for waterbodies

In a similar fashion, there is another column for flowlines labeled nhd_vars_fl

Note: fl_length is NaN's for waterbodies and wb_area ae NaN's for flowlines

## In the following, features are extracted from the above columns and feature engineered as discussed in meetings. Pls use your judgement to help devise any new features you wish

In [5]:
# wb for waterbodies
# extract the individual lists
df_merged_full["wb_comid_list"] = df_merged_full.apply(lambda x: x.nhd_vars_wb[0], axis=1)
df_merged_full["wb_ftype_str_list"] = df_merged_full.apply(lambda x: x.nhd_vars_wb[1], axis=1)
df_merged_full["wb_gnis_id_list"] = df_merged_full.apply(lambda x: x.nhd_vars_wb[2], axis=1)
df_merged_full["wb_area_list"] = df_merged_full.apply(lambda x: x.nhd_vars_wb[3], axis=1)

# fl for flowlines
# extract the individual lists
df_merged_full["fl_comid_list"] = df_merged_full.apply(lambda x: x.nhd_vars_fl[0], axis=1)
df_merged_full["fl_ftype_str_list"] = df_merged_full.apply(lambda x: x.nhd_vars_fl[1], axis=1)
df_merged_full["fl_gnis_id_list"] = df_merged_full.apply(lambda x: x.nhd_vars_fl[2], axis=1)
df_merged_full["fl_length_list"] = df_merged_full.apply(lambda x: x.nhd_vars_fl[4], axis=1)

# Lets look at columns of interest

In [6]:
df_merged_full[df_merged_full.columns[29:39]][9:15]

,nhd_vars_wb,nhd_vars_fl,wb_comid_list,wb_ftype_str_list,wb_gnis_id_list,wb_area_list,fl_comid_list,fl_ftype_str_list,fl_gnis_id_list,fl_length_list
9,"([120052831, 22027044], [None, None], [974076,...","([21980197, 21980245, 21980217, 21980207, 2198...","[120052831, 22027044]","[None, None]","[974076, ]","[171.202, 0.008]","[21980197, 21980245, 21980217, 21980207, 21980...","[None, None, None, None, None, None, None, Non...","[, , , , , , , , 973757, , 974058]","[0.022, 1.975, 3.135, 0.725, 2.786, 0.764, 3.0..."
10,"([904140245], [None], [1075813], [12045.529], ...","([15594559, 15594563, 15594573, 15594565, 1559...",[904140245],[None],[1075813],[12045.529],"[15594559, 15594563, 15594573, 15594565, 15594...","[None, None, None, None, None, None, None, None]","[, , 1066928, 1066928, 1066928, , , 1066928]","[0.602, 0.217, 1.254, 0.208, 7.518, 5.608, 12...."
11,"([21631197, 904140246, 21631201], [None, None,...","([21632385, 21632387, 21632389, 21635915, 2163...","[21631197, 904140246, 21631201]","[None, None, None]","[967326, 970427, ]","[0.425, 6693.837, 0.946]","[21632385, 21632387, 21632389, 21635915, 21635...","[None, None, None, None, None, None, None, None]","[, , , , , , , ]","[2.781, 0.287, 1.895, 0.871, 10.109, 0.15, 1.1..."
12,"([15586156, 15586164], [None, None], [1078482,...","([15588640, 15588636, 15587674, 15587680, 1558...","[15586156, 15586164]","[None, None]","[1078482, 1079552]","[0.139, 0.051]","[15588640, 15588636, 15587674, 15587680, 15587...","[None, None, None, None, None, None, None]","[, , , , 1066599, 1066599, 1066851]","[0.941, 0.658, 1.216, 0.505, 0.968, 3.143, 1.98]"
13,"([], [], [], [], [], [])","([15560355, 15560297, 15560169, 15560311, 1556...",[],[],[],[],"[15560355, 15560297, 15560169, 15560311, 15560...","[None, None, None, None, None, None, None, Non...","[968024, 968024, , , , , , , ]","[0.766, 4.526, 1.44, 1.941, 0.95, 0.641, 0.372..."
14,"([], [], [], [], [], [])","([15594581, 15594569, 15594591], [None, None, ...",[],[],[],[],"[15594581, 15594569, 15594591]","[None, None, None]","[, 1044708, 1044708]","[1.943, 2.539, 4.12]"

## Lets look at one row in individual columns

In [7]:
# looking at waterbodies list
df_merged_full.nhd_vars_wb[9]
# you can see there are 6 items in the list [comid_list, ftype_str, gnis_id, wb_area, fl_length, fcode]
# note that fcode is going to be null due to coding lapse

([120052831, 22027044],
 [None, None],
 ['974076', ''],
 [171.202, 0.008],
 [nan, nan],
 [])

In [8]:
# looking at flowlines list
df_merged_full.nhd_vars_fl[9]

([21980197,
  21980245,
  21980217,
  21980207,
  21980203,
  21980199,
  21980195,
  21980193,
  21978319,
  21978365,
  21978323],
 [None, None, None, None, None, None, None, None, None, None, None],
 ['', '', '', '', '', '', '', '', '973757', '', '974058'],
 [nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan],
 [0.022, 1.975, 3.135, 0.725, 2.786, 0.764, 3.016, 1.652, 3.419, 3.557, 2.136],
 [])

In [9]:
# list of comids in waterbodies
df_merged_full.wb_comid_list[9]

[120052831, 22027044]

In [10]:
# list of comids in flowlines
df_merged_full.fl_comid_list[9]

[21980197,
 21980245,
 21980217,
 21980207,
 21980203,
 21980199,
 21980195,
 21980193,
 21978319,
 21978365,
 21978323]

### .... and so on

In [11]:
# ### Filter out invalid comids (although not used in this notebook)
# # "invalid" = present in GEE but not present in nhd_stats

# df_merged["wb_comid_list_filtered"] = df_merged.apply(lambda x: [comid for comid in x.nhd_vars_wb[0] if comid in np.array(nhd_stats.comid)
#                                                                 ], axis=1)

# df_merged["fl_comid_list_filtered"] = df_merged.apply(lambda x: [comid for comid in x.nhd_vars_fl[0] if comid in np.array(nhd_stats.comid)
#                                                                 ], axis=1)

In [12]:
# Assigned begin and end of records for each person
# MADHUKAR: records 1 - 5000
# SHOBHA: records 5000 - 10000
# RADHIKA: records 10000 - 15000

In [17]:
df_merged = df_merged_full.copy()[:100]

In [23]:
# df_merged

In [19]:
# Extract features present in nhd_stats for corresponding comid
# read in fl_comid_list, pull out matching variable values in nhd_stats



def extract_feature(comid, feature):
    """
    Extract features present in nhd_stats for corresponding comid
    """
    if comid == None:
        return np.nan # if no comid's in GEE
    extracted_feature = nhd_stats[nhd_stats["comid"] == comid][str(feature)]
    try:
        extracted_feature = np.array(extracted_feature).item() 
    except Exception as e:
        return np.nan # if comid in GEE but not in nhd database
    return extracted_feature


def extract_sum(feature):
    """
    feature engineering per excel sheet
    """
    return (df_merged.apply(lambda x: np.sum(np.array([extract_feature(comid, str(feature))
                                                                 for comid in x.fl_comid_list])
                                                       [~np.isnan(np.array([extract_feature(comid, str(feature))
                                                                            for comid in x.fl_comid_list]))]), 
                                                axis=1))
def extract_count(feature):
    """
    feature engineering per excel sheet
    """
    return (df_merged.apply(lambda x: len(np.array([extract_feature(comid, str(feature))
                                                                 for comid in x.fl_comid_list])
                                                       [~np.isnan(np.array([extract_feature(comid, str(feature))
                                                                            for comid in x.fl_comid_list]))]), 
                                                  axis=1))

In [20]:
# flowline variables

def extract_flowline_variables(df_merged):

    # areasqkm
    df_merged["fl_areasqkm_sum"] = extract_sum("areasqkm")
    df_merged["fl_areasqkm_count"] = extract_count("areasqkm")
    df_merged["fl_areasqkm_mean"] = (df_merged.apply(lambda x: 
                                                     (x.fl_areasqkm_sum/x.fl_areasqkm_count) 
                                                     if x.fl_areasqkm_count != 0 
                                                     else np.nan, axis=1))

    # gnis_name_ind
    df_merged["fl_gnis_name_ind_sum"] = extract_sum("gnis_name_ind")
    df_merged["fl_gnis_name_ind_count"] = extract_count("gnis_name_ind")
    df_merged["fl_gnis_name_ind_mean"] = (df_merged.apply(lambda x: 
                                                     (x.fl_areasqkm_sum/x.fl_areasqkm_count) 
                                                     if x.fl_areasqkm_count != 0 
                                                     else np.nan, axis=1))

    # totdasqkm
    df_merged["fl_totdasqkm_sum"] = extract_sum("totdasqkm")
    df_merged["fl_totdasqkm_count"] = extract_count("totdasqkm")
    df_merged["fl_totdasqkm_mean"] = (df_merged.apply(lambda x: 
                                                     (x.fl_areasqkm_sum/x.fl_areasqkm_count) 
                                                     if x.fl_areasqkm_count != 0 
                                                     else np.nan, axis=1))

    # flow_type
    df_merged["fl_flow_type_sum"] = extract_sum("flow_type")
    df_merged["fl_flow_type_count"] = extract_count("flow_type")
    df_merged["fl_flow_type_mean"] = (df_merged.apply(lambda x: 
                                                     (x.fl_areasqkm_sum/x.fl_areasqkm_count) 
                                                     if x.fl_areasqkm_count != 0 
                                                     else np.nan, axis=1))

    # streamorde
    df_merged["fl_streamorde_sum"] = extract_sum("streamorde")
    df_merged["fl_streamorde_count"] = extract_count("streamorde")
    df_merged["fl_streamorde_mean"] = (df_merged.apply(lambda x: 
                                                     (x.fl_areasqkm_sum/x.fl_areasqkm_count) 
                                                     if x.fl_areasqkm_count != 0 
                                                     else np.nan, axis=1))

    # intephem
    df_merged["fl_intephem_sum"] = extract_sum("intephem")
    df_merged["fl_intephem_count"] = extract_count("intephem")
    df_merged["fl_intephem_mean"] = (df_merged.apply(lambda x: 
                                                     (x.fl_areasqkm_sum/x.fl_areasqkm_count) 
                                                     if x.fl_areasqkm_count != 0 
                                                     else np.nan, axis=1))

    # startflag
    df_merged["fl_startflag_sum"] = extract_sum("startflag")
    df_merged["fl_startflag_count"] = extract_count("startflag")
    df_merged["fl_startflag_mean"] = (df_merged.apply(lambda x: 
                                                     (x.fl_areasqkm_sum/x.fl_areasqkm_count) 
                                                     if x.fl_areasqkm_count != 0 
                                                     else np.nan, axis=1))

    # divergence
    df_merged["fl_divergence_sum"] = extract_sum("divergence")
    df_merged["fl_divergence_count"] = extract_count("divergence")
    df_merged["fl_divergence_mean"] = (df_merged.apply(lambda x: 
                                                     (x.fl_areasqkm_sum/x.fl_areasqkm_count) 
                                                     if x.fl_areasqkm_count != 0 
                                                     else np.nan, axis=1))
    return df_merged

In [21]:
# waterbodies variables

In [22]:
# to do

# fcode

In [ ]:
# pass in batches of 500
# MADHUKAR: 0 - 5000 
# SHOBHA: 5000 - 10000
# RADHIKA: 10000 - 15000

batch_size = 15
MY_NAME = "MADHUKAR"
START = 0 + 5000 * (MY_NAME == "SHOBHA") + 10000 * (MY_NAME == "RADHIKA")

for batch in range(10):
  print("batch {} of 10 started".format(batch + 1))
  batch_df = df_merged_full[START + batch_size * batch : START + batch_size * (batch + 1)].copy()
  batch_df = extract_flowline_variables(batch_df)
  part = (START + batch_size * batch) + 1
  print("batch {} of 10 done".format(batch + 1))
  batch_df.to_pickle("combined_regular_with_ssurgo_nhd_2.5kmX2.5km_part" + str(part))

# In a similar fasion, you can feature engineer the waterbodies (I will get that later today/tomorrow and push the updated dataframe)

In [ ]:
df_merged.describe()

In [ ]:
df_merged.to_pickle("combined_regular_with_ssurgo_nhd_2.5kmX2.5km")

# This is where you would start

In [ ]:
df = pd.read_pickle("combined_regular_with_ssurgo_nhd_2.5kmX2.5km")
df.describe()